<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[_CallMemberFunction2(void*, void*, void*, int): void]]></Title>
			<Shortcut><![CDATA[___CallMemberFunction2_0x007D00F7]]></Shortcut>
			<Description><![CDATA[void __stdcall _CallMemberFunction2(void*, void*, void*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void __stdcall Hook__CallMemberFunction2(void*, void*, void*, int);
BindedHook Ivk__CallMemberFunction2{ ZENFOR(0x0077674D, 0x007BA50D, 0x007C3C37, 0x007D00F7), Hook__CallMemberFunction2 };
void __stdcall Hook__CallMemberFunction2(void* a0, void* a1, void* a2, int a3)
{
	Ivk__CallMemberFunction2(a0, a1, a2, a3);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>