<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[Alg_Max(zVEC3 const&, zVEC3 const&): zVEC3]]></Title>
			<Shortcut><![CDATA[__Alg_Max_0x00513300]]></Shortcut>
			<Description><![CDATA[zVEC3 __cdecl Alg_Max(zVEC3 const&, zVEC3 const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zVEC3 Hook_Alg_Max(zVEC3 const&, zVEC3 const&);
BindedHook Ivk_Alg_Max{ ZENFOR(0x005036F0, 0x00517240, 0x00510530, 0x00513300), Hook_Alg_Max };
zVEC3 Hook_Alg_Max(zVEC3 const& a0, zVEC3 const& a1)
{
	zVEC3 result = Ivk_Alg_Max(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>