<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[Apply_Options_Performance(): int]]></Title>
			<Shortcut><![CDATA[__Apply_Options_Performance_0x0042D040]]></Shortcut>
			<Description><![CDATA[int __cdecl Apply_Options_Performance()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[int Hook_Apply_Options_Performance();
BindedHook Ivk_Apply_Options_Performance{ ZENFOR(0x0042AC50, 0x0042DB50, 0x0042CD20, 0x0042D040), Hook_Apply_Options_Performance };
int Hook_Apply_Options_Performance()
{
	int result = Ivk_Apply_Options_Performance();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>