<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[BitToNumber(int): int]]></Title>
			<Shortcut><![CDATA[__BitToNumber_0x0072C840]]></Shortcut>
			<Description><![CDATA[int __cdecl BitToNumber(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[int Hook_BitToNumber(int);
BindedHook Ivk_BitToNumber{ ZENFOR(0x0068A470, 0x006BAA00, 0x006CE7B0, 0x0072C840), Hook_BitToNumber };
int Hook_BitToNumber(int a0)
{
	int result = Ivk_BitToNumber(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>