<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[CCapsFile::Parse3D(unsigned long, _D3DDeviceDesc7*, char**, CSurfaceFormatList*): long]]></Title>
			<Description><![CDATA[protected: long __thiscall CCapsFile::Parse3D(unsigned long, _D3DDeviceDesc7*, char**, CSurfaceFormatList*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct CCapsFile_Parse3D : CCapsFile { long operator()(unsigned long, _D3DDeviceDesc7*, char**, CSurfaceFormatList*); };
BindedHook Ivk_CCapsFile_Parse3D{ ZENFOR(0x007692B7, 0x007B0A5B, 0x007B64E5, 0x007C29AB), &CCapsFile_Parse3D::operator() };
long CCapsFile_Parse3D::operator()(unsigned long a0, _D3DDeviceDesc7* a1, char** a2, CSurfaceFormatList* a3)
{
	long result = THISCALL(Ivk_CCapsFile_Parse3D)(a0, a1, a2, a3);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>