<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[CCapsFile::CreateString(char*): unsigned long]]></Title>
			<Description><![CDATA[protected: unsigned long __thiscall CCapsFile::CreateString(char*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct CCapsFile_CreateString : CCapsFile { unsigned long operator()(char*); };
BindedHook Ivk_CCapsFile_CreateString{ ZENFOR(0x00768ABD, 0x007B0D6A, 0x007B5CEB, 0x007C21B1), &CCapsFile_CreateString::operator() };
unsigned long CCapsFile_CreateString::operator()(char* a0)
{
	unsigned long result = THISCALL(Ivk_CCapsFile_CreateString)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>