<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[CDDrawDeviceNode::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[public: void* __thiscall CDDrawDeviceNode::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G2, G2A
struct CDDrawDeviceNode_ScalarDeletingDestructor : CDDrawDeviceNode { void* operator()(unsigned int); };
BindedHook Ivk_CDDrawDeviceNode_ScalarDeletingDestructor{ ZENFOR(0x0075C943, 0x00000000, 0x007A9B71, 0x007B6037), &CDDrawDeviceNode_ScalarDeletingDestructor::operator() };
void* CDDrawDeviceNode_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_CDDrawDeviceNode_ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>