<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[CD3dxFile::Close(): long]]></Title>
			<Description><![CDATA[public: long __thiscall CD3dxFile::Close()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct CD3dxFile_Close : CD3dxFile { long operator()(); };
BindedHook Ivk_CD3dxFile_Close{ ZENFOR(0x00760B69, 0x007A5E68, 0x007ADD97, 0x007BA25D), &CD3dxFile_Close::operator() };
long CD3dxFile_Close::operator()()
{
	long result = THISCALL(Ivk_CD3dxFile_Close)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>