<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[CDDrawDeviceNode::SetDisplayMode(unsigned long, unsigned long, unsigned long, unsigned long, unsigned long): void]]></Title>
			<Description><![CDATA[public: void __thiscall CDDrawDeviceNode::SetDisplayMode(unsigned long, unsigned long, unsigned long, unsigned long, unsigned long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct CDDrawDeviceNode_SetDisplayMode : CDDrawDeviceNode { void operator()(unsigned long, unsigned long, unsigned long, unsigned long, unsigned long); };
BindedHook Ivk_CDDrawDeviceNode_SetDisplayMode{ ZENFOR(0x00761E0F, 0x007A661C, 0x007AF03D, 0x007BB503), &CDDrawDeviceNode_SetDisplayMode::operator() };
void CDDrawDeviceNode_SetDisplayMode::operator()(unsigned long a0, unsigned long a1, unsigned long a2, unsigned long a3, unsigned long a4)
{
	THISCALL(Ivk_CDDrawDeviceNode_SetDisplayMode)(a0, a1, a2, a3, a4);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>