<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[CD3duDeviceNode::GetVideoModeList(): CVideoModeList*]]></Title>
			<Description><![CDATA[public: CVideoModeList* __thiscall CD3duDeviceNode::GetVideoModeList()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct CD3duDeviceNode_GetVideoModeList : CD3duDeviceNode { CVideoModeList* operator()(); };
BindedHook Ivk_CD3duDeviceNode_GetVideoModeList{ ZENFOR(0x0075D7BC, 0x007A219C, 0x007AA9EA, 0x007B6EB0), &CD3duDeviceNode_GetVideoModeList::operator() };
CVideoModeList* CD3duDeviceNode_GetVideoModeList::operator()()
{
	CVideoModeList* result = THISCALL(Ivk_CD3duDeviceNode_GetVideoModeList)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>