<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[CSurfaceLock::CSurfaceLock(_D3DX_SURFACEFORMAT, int, int, int, void*, IDirectDrawPalette*)]]></Title>
			<Description><![CDATA[public: __thiscall CSurfaceLock::CSurfaceLock(_D3DX_SURFACEFORMAT, int, int, int, void*, IDirectDrawPalette*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct CSurfaceLock_CSurfaceLock : CSurfaceLock { CSurfaceLock* operator()(_D3DX_SURFACEFORMAT, int, int, int, void*, IDirectDrawPalette*); };
BindedHook Ivk_CSurfaceLock_CSurfaceLock{ ZENFOR(0x0076A322, 0x007AA81B, 0x007B7550, 0x007C3A16), &CSurfaceLock_CSurfaceLock::operator() };
CSurfaceLock* CSurfaceLock_CSurfaceLock::operator()(_D3DX_SURFACEFORMAT a0, int a1, int a2, int a3, void* a4, IDirectDrawPalette* a5)
{
	CSurfaceLock* result = THISCALL(Ivk_CSurfaceLock_CSurfaceLock)(a0, a1, a2, a3, a4, a5);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>