<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[D3DXQuaternionLengthSq(D3DXQUATERNION const*): float]]></Title>
			<Shortcut><![CDATA[__D3DXQuaternionLengthSq_0x007C0F79]]></Shortcut>
			<Description><![CDATA[float __cdecl D3DXQuaternionLengthSq(D3DXQUATERNION const*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[float Hook_D3DXQuaternionLengthSq(D3DXQUATERNION const*);
BindedHook Ivk_D3DXQuaternionLengthSq{ ZENFOR(0x00767885, 0x007AFF15, 0x007B4AB3, 0x007C0F79), Hook_D3DXQuaternionLengthSq };
float Hook_D3DXQuaternionLengthSq(D3DXQUATERNION const* a0)
{
	float result = Ivk_D3DXQuaternionLengthSq(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>