<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[D3DXVec4LengthSq(D3DXVECTOR4 const*): float]]></Title>
			<Description><![CDATA[float __cdecl D3DXVec4LengthSq(D3DXVECTOR4 const*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[float Hook_D3DXVec4LengthSq(D3DXVECTOR4 const*);
BindedHook Ivk_D3DXVec4LengthSq{ ZENFOR(0x0076768F, 0x007AFB4F, 0x007B48BD, 0x007C0D83), Hook_D3DXVec4LengthSq };
float Hook_D3DXVec4LengthSq(D3DXVECTOR4 const* a0)
{
	float result = Ivk_D3DXVec4LengthSq(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>