<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[D_Print(char*, TDebug): void]]></Title>
			<Description><![CDATA[void __cdecl D_Print(char*, TDebug)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_D_Print(char*, TDebug);
BindedHook Ivk_D_Print{ ZENFOR(0x004BF390, 0x004CEA90, 0x004C6180, 0x004C86F0), Hook_D_Print };
void Hook_D_Print(char* a0, TDebug a1)
{
	Ivk_D_Print(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>