<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[D_DrawPolyWire(zCPolygon const&, zCOLOR const&): void]]></Title>
			<Description><![CDATA[void __cdecl D_DrawPolyWire(zCPolygon const&, zCOLOR const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_D_DrawPolyWire(zCPolygon const&, zCOLOR const&);
BindedHook Ivk_D_DrawPolyWire{ ZENFOR(0x004BF3D0, 0x004CEAD0, 0x004C61C0, 0x004C8730), Hook_D_DrawPolyWire };
void Hook_D_DrawPolyWire(zCPolygon const& a0, zCOLOR const& a1)
{
	Ivk_D_DrawPolyWire(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>