<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[EncodeBlockRGBColorKey(S3TC_COLOR* const, S3TCBlockRGB*, S3TC_COLOR, S3TC_COLOR): void]]></Title>
			<Description><![CDATA[void __cdecl EncodeBlockRGBColorKey(S3TC_COLOR* const, S3TCBlockRGB*, S3TC_COLOR, S3TC_COLOR)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_EncodeBlockRGBColorKey(S3TC_COLOR* const, S3TCBlockRGB*, S3TC_COLOR, S3TC_COLOR);
BindedHook Ivk_EncodeBlockRGBColorKey{ ZENFOR(0x00769C59, 0x007A99DF, 0x007B6E87, 0x007C334D), Hook_EncodeBlockRGBColorKey };
void Hook_EncodeBlockRGBColorKey(S3TC_COLOR* const a0, S3TCBlockRGB* a1, S3TC_COLOR a2, S3TC_COLOR a3)
{
	Ivk_EncodeBlockRGBColorKey(a0, a1, a2, a3);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>