<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[flush(ostream&): ostream&]]></Title>
			<Description><![CDATA[ostream& __cdecl flush(ostream&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[ostream& Hook_flush(ostream&);
BindedHook Ivk_flush{ ZENFOR(0x00544230, 0x0055BC20, 0x005538B0, 0x00558AD0), Hook_flush };
ostream& Hook_flush(ostream& a0)
{
	ostream& result = Ivk_flush(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>