<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[Game_OpenSpeciesConsole(): void]]></Title>
			<Shortcut><![CDATA[__Game_OpenSpeciesConsole_0x006D2C60]]></Shortcut>
			<Description><![CDATA[void __cdecl Game_OpenSpeciesConsole()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_Game_OpenSpeciesConsole();
BindedHook Ivk_Game_OpenSpeciesConsole{ ZENFOR(0x00647D10, 0x0066F8C0, 0x00675EE0, 0x006D2C60), Hook_Game_OpenSpeciesConsole };
void Hook_Game_OpenSpeciesConsole()
{
	Ivk_Game_OpenSpeciesConsole();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>