<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[Game_StartParticleEffects(zCTree<zCVob>*): void]]></Title>
			<Description><![CDATA[void __cdecl Game_StartParticleEffects(zCTree<zCVob>*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_Game_StartParticleEffects(zCTree<zCVob>*);
BindedHook Ivk_Game_StartParticleEffects{ ZENFOR(0x00645220, 0x0066CB40, 0x00673410, 0x006D0190), Hook_Game_StartParticleEffects };
void Hook_Game_StartParticleEffects(zCTree<zCVob>* a0)
{
	Ivk_Game_StartParticleEffects(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>