<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[GetCurrentPixelTGA(unsigned char*, unsigned char const*, _TargaHeader const*, unsigned long*): unsigned char*]]></Title>
			<Description><![CDATA[unsigned char* __cdecl GetCurrentPixelTGA(unsigned char*, unsigned char const*, _TargaHeader const*, unsigned long*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[unsigned char* Hook_GetCurrentPixelTGA(unsigned char*, unsigned char const*, _TargaHeader const*, unsigned long*);
BindedHook Ivk_GetCurrentPixelTGA{ ZENFOR(0x007649EA, 0x007AC3D7, 0x007B1C18, 0x007BE0DE), Hook_GetCurrentPixelTGA };
unsigned char* Hook_GetCurrentPixelTGA(unsigned char* a0, unsigned char const* a1, _TargaHeader const* a2, unsigned long* a3)
{
	unsigned char* result = Ivk_GetCurrentPixelTGA(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>