<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[inCreateMouseMessage(unsigned long, unsigned long): void]]></Title>
			<Description><![CDATA[void __cdecl inCreateMouseMessage(unsigned long, unsigned long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_inCreateMouseMessage(unsigned long, unsigned long);
BindedHook Ivk_inCreateMouseMessage{ ZENFOR(0x004FA6B0, 0x0050D2A0, 0x005064C0, 0x00509220), Hook_inCreateMouseMessage };
void Hook_inCreateMouseMessage(unsigned long a0, unsigned long a1)
{
	Ivk_inCreateMouseMessage(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>