<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[istream_withassign::istream_withassign(streambuf*)]]></Title>
			<Description><![CDATA[public: __thiscall istream_withassign::istream_withassign(streambuf*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct istream_withassign_istream_withassign : istream_withassign { istream_withassign* operator()(streambuf*); };
BindedHook Ivk_istream_withassign_istream_withassign{ ZENFOR(0x00774CCB, 0x007B8A8B, 0x007C21B5, 0x007CE675), &istream_withassign_istream_withassign::operator() };
istream_withassign* istream_withassign_istream_withassign::operator()(streambuf* a0)
{
	istream_withassign* result = THISCALL(Ivk_istream_withassign_istream_withassign)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>