<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[ListT<CD3duContextNode>::Prepend(CD3duContextNode*): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall ListT<CD3duContextNode>::Prepend(CD3duContextNode*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct ListT_CD3duContextNode__Prepend : ListT<CD3duContextNode> { void operator()(CD3duContextNode*); };
BindedHook Ivk_ListT_CD3duContextNode__Prepend{ ZENFOR(0x0075D261, 0x0079FFC0, 0x007AA48F, 0x007B6955), &ListT_CD3duContextNode__Prepend::operator() };
void ListT_CD3duContextNode__Prepend::operator()(CD3duContextNode* a0)
{
	THISCALL(Ivk_ListT_CD3duContextNode__Prepend)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>