<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[ListT<CD3duDeviceNode>::ListT<CD3duDeviceNode>()]]></Title>
			<Shortcut><![CDATA[__ListT_CD3duDeviceNode__ListT_CD3duDeviceNode__0x007B6EBD]]></Shortcut>
			<Description><![CDATA[public: __thiscall ListT<CD3duDeviceNode>::ListT<CD3duDeviceNode>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G2, G2A
struct ListT_CD3duDeviceNode__ListT_CD3duDeviceNode_ : ListT<CD3duDeviceNode> { ListT<CD3duDeviceNode>* operator()(); };
BindedHook Ivk_ListT_CD3duDeviceNode__ListT_CD3duDeviceNode_{ ZENFOR(0x0075D7C9, 0x00000000, 0x007AA9F7, 0x007B6EBD), &ListT_CD3duDeviceNode__ListT_CD3duDeviceNode_::operator() };
ListT<CD3duDeviceNode>* ListT_CD3duDeviceNode__ListT_CD3duDeviceNode_::operator()()
{
	ListT<CD3duDeviceNode>* result = THISCALL(Ivk_ListT_CD3duDeviceNode__ListT_CD3duDeviceNode_)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>