<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[ListT<CDDrawDeviceNode>::LeftBelongsCloserToListHead(CDDrawDeviceNode*, CDDrawDeviceNode*): int]]></Title>
			<Shortcut><![CDATA[__ListT_CDDrawDeviceNode__LeftBelongsCloserToListHead_0x007B6833]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall ListT<CDDrawDeviceNode>::LeftBelongsCloserToListHead(CDDrawDeviceNode*, CDDrawDeviceNode*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct ListT_CDDrawDeviceNode__LeftBelongsCloserToListHead : ListT<CDDrawDeviceNode> { int operator()(CDDrawDeviceNode*, CDDrawDeviceNode*); };
BindedHook Ivk_ListT_CDDrawDeviceNode__LeftBelongsCloserToListHead{ ZENFOR(0x0075D13F, 0x007A00D9, 0x007AA36D, 0x007B6833), &ListT_CDDrawDeviceNode__LeftBelongsCloserToListHead::operator() };
int ListT_CDDrawDeviceNode__LeftBelongsCloserToListHead::operator()(CDDrawDeviceNode* a0, CDDrawDeviceNode* a1)
{
	int result = THISCALL(Ivk_ListT_CDDrawDeviceNode__LeftBelongsCloserToListHead)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>