<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[ListT<CSurfaceFormatNode>::OrderedInsert(CSurfaceFormatNode*): void]]></Title>
			<Shortcut><![CDATA[__ListT_CSurfaceFormatNode__OrderedInsert_0x007B671C]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall ListT<CSurfaceFormatNode>::OrderedInsert(CSurfaceFormatNode*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct ListT_CSurfaceFormatNode__OrderedInsert : ListT<CSurfaceFormatNode> { void operator()(CSurfaceFormatNode*); };
BindedHook Ivk_ListT_CSurfaceFormatNode__OrderedInsert{ ZENFOR(0x0075D028, 0x0079FEAC, 0x007AA256, 0x007B671C), &ListT_CSurfaceFormatNode__OrderedInsert::operator() };
void ListT_CSurfaceFormatNode__OrderedInsert::operator()(CSurfaceFormatNode* a0)
{
	THISCALL(Ivk_ListT_CSurfaceFormatNode__OrderedInsert)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>