<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[netGetHostName(zTNetAddress*): char*]]></Title>
			<Description><![CDATA[char* __cdecl netGetHostName(zTNetAddress*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[char* Hook_netGetHostName(zTNetAddress*);
BindedHook Ivk_netGetHostName{ ZENFOR(0x00450F50, 0x00457900, 0x00455490, 0x00455BE0), Hook_netGetHostName };
char* Hook_netGetHostName(zTNetAddress* a0)
{
	char* result = Ivk_netGetHostName(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>