<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[netConnect(zTNetAddress*): void*]]></Title>
			<Description><![CDATA[void* __cdecl netConnect(zTNetAddress*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void* Hook_netConnect(zTNetAddress*);
BindedHook Ivk_netConnect{ ZENFOR(0x004509C0, 0x00457360, 0x00454F00, 0x00455650), Hook_netConnect };
void* Hook_netConnect(zTNetAddress* a0)
{
	void* result = Ivk_netConnect(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>