<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCWorld::DisableVob(zCVob*): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCWorld::DisableVob(zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCWorld_DisableVob : oCWorld { void operator()(zCVob*); };
BindedHook Ivk_oCWorld_DisableVob{ ZENFOR(0x006D7250, 0x0070ED90, 0x00720A20, 0x00780460), &oCWorld_DisableVob::operator() };
void oCWorld_DisableVob::operator()(zCVob* a0)
{
	THISCALL(Ivk_oCWorld_DisableVob)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>