<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAniCtrl_Human::LerpFeetToTarget(int, int, zVEC3 const&): void]]></Title>
			<Shortcut><![CDATA[__oCAniCtrl_Human_LerpFeetToTarget_0x006B3670]]></Shortcut>
			<Description><![CDATA[protected: void __thiscall oCAniCtrl_Human::LerpFeetToTarget(int, int, zVEC3 const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAniCtrl_Human_LerpFeetToTarget : oCAniCtrl_Human { void operator()(int, int, zVEC3 const&); };
BindedHook Ivk_oCAniCtrl_Human_LerpFeetToTarget{ ZENFOR(0x0062A310, 0x0064F700, 0x00656CE0, 0x006B3670), &oCAniCtrl_Human_LerpFeetToTarget::operator() };
void oCAniCtrl_Human_LerpFeetToTarget::operator()(int a0, int a1, zVEC3 const& a2)
{
	THISCALL(Ivk_oCAniCtrl_Human_LerpFeetToTarget)(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>