<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::GetWeapon(): oCItem*]]></Title>
			<Description><![CDATA[public: oCItem* __thiscall oCNpc::GetWeapon()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_GetWeapon : oCNpc { oCItem* operator()(); };
BindedHook Ivk_oCNpc_GetWeapon{ ZENFOR(0x006943F0, 0x006C5C30, 0x006D9060, 0x007377A0), &oCNpc_GetWeapon::operator() };
oCItem* oCNpc_GetWeapon::operator()()
{
	oCItem* result = THISCALL(Ivk_oCNpc_GetWeapon)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>