<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCVisualFX::operator new(unsigned int, char const*, char const*, int): void*]]></Title>
			<Description><![CDATA[public: static void* __cdecl oCVisualFX::operator new(unsigned int, char const*, char const*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A
void* Hook_oCVisualFX_operator_new(unsigned int, char const*, char const*, int);
BindedHook Ivk_oCVisualFX_operator_new{ ZENFOR(0x0073F520, 0x0077F5E0, 0x00000000, 0x00000000), Hook_oCVisualFX_operator_new };
void* Hook_oCVisualFX_operator_new(unsigned int a0, char const* a1, char const* a2, int a3)
{
	void* result = Ivk_oCVisualFX_operator_new(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>