<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCZoneMusic::SetZonetime(int): void]]></Title>
			<Shortcut><![CDATA[__oCZoneMusic_SetZonetime_0x00641180]]></Shortcut>
			<Description><![CDATA[public: static void __cdecl oCZoneMusic::SetZonetime(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_oCZoneMusic_SetZonetime(int);
BindedHook Ivk_oCZoneMusic_SetZonetime{ ZENFOR(0x0070B980, 0x00746900, 0x00755BE0, 0x00641180), Hook_oCZoneMusic_SetZonetime };
void Hook_oCZoneMusic_SetZonetime(int a0)
{
	Ivk_oCZoneMusic_SetZonetime(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>