<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCGame::EnvironmentInit(): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCGame::EnvironmentInit()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCGame_EnvironmentInit : oCGame { void operator()(); };
BindedHook Ivk_oCGame_EnvironmentInit{ ZENFOR(0x0063A570, 0x00660E00, 0x00667DE0, 0x006C4A60), &oCGame_EnvironmentInit::operator() };
void oCGame_EnvironmentInit::operator()()
{
	THISCALL(Ivk_oCGame_EnvironmentInit)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>