<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCWorld::DisposeVobs(): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCWorld::DisposeVobs()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCWorld_DisposeVobs : oCWorld { void operator()(); };
BindedHook Ivk_oCWorld_DisposeVobs{ ZENFOR(0x006D7990, 0x0070F520, 0x00721190, 0x00780BD0), &oCWorld_DisposeVobs::operator() };
void oCWorld_DisposeVobs::operator()()
{
	THISCALL(Ivk_oCWorld_DisposeVobs)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>