<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::HasInHand(int): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpc::HasInHand(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_HasInHand : oCNpc { int operator()(int); };
BindedHook Ivk_oCNpc_HasInHand{ ZENFOR(0x00693DE0, 0x006C55B0, 0x006D8A50, 0x00737360), &oCNpc_HasInHand::operator() };
int oCNpc_HasInHand::operator()(int a0)
{
	int result = THISCALL(Ivk_oCNpc_HasInHand)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>