<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::OpenInventory(): void]]></Title>
			<Shortcut><![CDATA[__oCNpc_OpenInventory_0x006EFFA0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCNpc::OpenInventory()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A
struct oCNpc_OpenInventory : oCNpc { void operator()(); };
BindedHook Ivk_oCNpc_OpenInventory{ ZENFOR(0x006BB0A0, 0x006EFFA0, 0x00000000, 0x00000000), &oCNpc_OpenInventory::operator() };
void oCNpc_OpenInventory::operator()()
{
	THISCALL(Ivk_oCNpc_OpenInventory)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>