<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMsgState::MD_GetTimeBehavior(): zCEventMessage::zTTimeBehavior]]></Title>
			<Description><![CDATA[public: virtual zCEventMessage::zTTimeBehavior __thiscall oCMsgState::MD_GetTimeBehavior()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMsgState_MD_GetTimeBehavior : oCMsgState { zCEventMessage::zTTimeBehavior operator()(); };
BindedHook Ivk_oCMsgState_MD_GetTimeBehavior{ ZENFOR(0x006C1580, 0x006F68B0, 0x007091E0, 0x00768720), &oCMsgState_MD_GetTimeBehavior::operator() };
zCEventMessage::zTTimeBehavior oCMsgState_MD_GetTimeBehavior::operator()()
{
	zCEventMessage::zTTimeBehavior result = THISCALL(Ivk_oCMsgState_MD_GetTimeBehavior)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>