<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAniCtrl_Human::ChooseNextWeapon2(int): int]]></Title>
			<Shortcut><![CDATA[__oCAniCtrl_Human_ChooseNextWeapon2_0x006B2900]]></Shortcut>
			<Description><![CDATA[public: int __thiscall oCAniCtrl_Human::ChooseNextWeapon2(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAniCtrl_Human_ChooseNextWeapon2 : oCAniCtrl_Human { int operator()(int); };
BindedHook Ivk_oCAniCtrl_Human_ChooseNextWeapon2{ ZENFOR(0x00629740, 0x0064E9E0, 0x00655F70, 0x006B2900), &oCAniCtrl_Human_ChooseNextWeapon2::operator() };
int oCAniCtrl_Human_ChooseNextWeapon2::operator()(int a0)
{
	int result = THISCALL(Ivk_oCAniCtrl_Human_ChooseNextWeapon2)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>