<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::IsGuildFriendly(int): int]]></Title>
			<Shortcut><![CDATA[__oCNpc_IsGuildFriendly_0x007307A0]]></Shortcut>
			<Description><![CDATA[public: int __thiscall oCNpc::IsGuildFriendly(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_IsGuildFriendly : oCNpc { int operator()(int); };
BindedHook Ivk_oCNpc_IsGuildFriendly{ ZENFOR(0x0068DFF0, 0x006BE9A0, 0x006D23D0, 0x007307A0), &oCNpc_IsGuildFriendly::operator() };
int oCNpc_IsGuildFriendly::operator()(int a0)
{
	int result = THISCALL(Ivk_oCNpc_IsGuildFriendly)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>