<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCGame::InitWorldSavegame(int&, zSTRING&): void]]></Title>
			<Shortcut><![CDATA[__oCGame_InitWorldSavegame_0x006C9530]]></Shortcut>
			<Description><![CDATA[private: virtual void __thiscall oCGame::InitWorldSavegame(int&, zSTRING&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCGame_InitWorldSavegame : oCGame { void operator()(int&, zSTRING&); };
BindedHook Ivk_oCGame_InitWorldSavegame{ ZENFOR(0x0063E910, 0x00665790, 0x0066C7B0, 0x006C9530), &oCGame_InitWorldSavegame::operator() };
void oCGame_InitWorldSavegame::operator()(int& a0, zSTRING& a1)
{
	THISCALL(Ivk_oCGame_InitWorldSavegame)(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>