<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCViewDocument::SetPages(int): void]]></Title>
			<Description><![CDATA[public: void __fastcall oCViewDocument::SetPages(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCViewDocument_SetPages : oCViewDocument { void __fastcall operator()(int); };
BindedHook Ivk_oCViewDocument_SetPages{ ZENFOR(0x007251E0, 0x00762460, 0x00771670, 0x0068C6A0), &oCViewDocument_SetPages::operator() };
void __fastcall oCViewDocument_SetPages::operator()(int a0)
{
	THISCALL(Ivk_oCViewDocument_SetPages)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>