<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpcFocus::StopHighlightningFX(): void]]></Title>
			<Shortcut><![CDATA[__oCNpcFocus_StopHighlightningFX_0x006BF4C0]]></Shortcut>
			<Description><![CDATA[public: static void __cdecl oCNpcFocus::StopHighlightningFX()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
void Hook_oCNpcFocus_StopHighlightningFX();
BindedHook Ivk_oCNpcFocus_StopHighlightningFX{ ZENFOR(0x00000000, 0x00000000, 0x00662B30, 0x006BF4C0), Hook_oCNpcFocus_StopHighlightningFX };
void Hook_oCNpcFocus_StopHighlightningFX()
{
	Ivk_oCNpcFocus_StopHighlightningFX();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>