<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCStealContainer::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[public: virtual void* __thiscall oCStealContainer::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A, G2
struct oCStealContainer_ScalarDeletingDestructor : oCStealContainer { void* operator()(unsigned int); };
BindedHook Ivk_oCStealContainer_ScalarDeletingDestructor{ ZENFOR(0x0066A3F0, 0x00697DC0, 0x006AD120, 0x00000000), &oCStealContainer_ScalarDeletingDestructor::operator() };
void* oCStealContainer_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_oCStealContainer_ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>