<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::DisplayCannotUse(): void]]></Title>
			<Description><![CDATA[public: void __thiscall oCNpc::DisplayCannotUse()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_DisplayCannotUse : oCNpc { void operator()(); };
BindedHook Ivk_oCNpc_DisplayCannotUse{ ZENFOR(0x0068F200, 0x006BFE90, 0x006D3800, 0x00731CB0), &oCNpc_DisplayCannotUse::operator() };
void oCNpc_DisplayCannotUse::operator()()
{
	THISCALL(Ivk_oCNpc_DisplayCannotUse)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>