<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc_States::ClearAIState(): void]]></Title>
			<Description><![CDATA[public: void __thiscall oCNpc_States::ClearAIState()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_States_ClearAIState : oCNpc_States { void operator()(); };
BindedHook Ivk_oCNpc_States_ClearAIState{ ZENFOR(0x006C61A0, 0x006FBB00, 0x0070E180, 0x0076D6E0), &oCNpc_States_ClearAIState::operator() };
void oCNpc_States_ClearAIState::operator()()
{
	THISCALL(Ivk_oCNpc_States_ClearAIState)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>