<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMobMsg::MD_GetNumOfSubTypes(): int]]></Title>
			<Shortcut><![CDATA[__oCMobMsg_MD_GetNumOfSubTypes_0x0071B740]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall oCMobMsg::MD_GetNumOfSubTypes()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMobMsg_MD_GetNumOfSubTypes : oCMobMsg { int operator()(); };
BindedHook Ivk_oCMobMsg_MD_GetNumOfSubTypes{ ZENFOR(0x0067A560, 0x006A8BE0, 0x006BD6B0, 0x0071B740), &oCMobMsg_MD_GetNumOfSubTypes::operator() };
int oCMobMsg_MD_GetNumOfSubTypes::operator()()
{
	int result = THISCALL(Ivk_oCMobMsg_MD_GetNumOfSubTypes)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>