<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCInfo::GetConditionFunc(): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCInfo::GetConditionFunc()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCInfo_GetConditionFunc : oCInfo { int operator()(); };
BindedHook Ivk_oCInfo_GetConditionFunc{ ZENFOR(0x00665820, 0x00692D40, 0x006A5E60, 0x007038F0), &oCInfo_GetConditionFunc::operator() };
int oCInfo_GetConditionFunc::operator()()
{
	int result = THISCALL(Ivk_oCInfo_GetConditionFunc)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>