<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAIDrop::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[protected: virtual void* __thiscall oCAIDrop::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1A, G2A
struct oCAIDrop_ScalarDeletingDestructor : oCAIDrop { void* operator()(unsigned int); };
BindedHook Ivk_oCAIDrop_ScalarDeletingDestructor{ ZENFOR(0x00000000, 0x0063D0D0, 0x00000000, 0x006A1FE0), &oCAIDrop_ScalarDeletingDestructor::operator() };
void* oCAIDrop_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_oCAIDrop_ScalarDeletingDestructor)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>