<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::SetNpcAIDisabled(int): void]]></Title>
			<Description><![CDATA[public: static void __cdecl oCNpc::SetNpcAIDisabled(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_oCNpc_SetNpcAIDisabled(int);
BindedHook Ivk_oCNpc_SetNpcAIDisabled{ ZENFOR(0x006B8980, 0x006ED480, 0x00700390, 0x0075F310), Hook_oCNpc_SetNpcAIDisabled };
void Hook_oCNpc_SetNpcAIDisabled(int a0)
{
	Ivk_oCNpc_SetNpcAIDisabled(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>