<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMobLockable::OnMessage(zCEventMessage*, zCVob*): void]]></Title>
			<Description><![CDATA[protected: virtual void __thiscall oCMobLockable::OnMessage(zCEventMessage*, zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMobLockable_OnMessage : oCMobLockable { void operator()(zCEventMessage*, zCVob*); };
BindedHook Ivk_oCMobLockable_OnMessage{ ZENFOR(0x006786B0, 0x006A6CB0, 0x006BB830, 0x007198C0), &oCMobLockable_OnMessage::operator() };
void oCMobLockable_OnMessage::operator()(zCEventMessage* a0, zCVob* a1)
{
	THISCALL(Ivk_oCMobLockable_OnMessage)(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>