<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMOB::IsOwnedByGuild(int): int]]></Title>
			<Shortcut><![CDATA[__oCMOB_IsOwnedByGuild_0x0071C190]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall oCMOB::IsOwnedByGuild(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMOB_IsOwnedByGuild : oCMOB { int operator()(int); };
BindedHook Ivk_oCMOB_IsOwnedByGuild{ ZENFOR(0x0067AFB0, 0x006A96E0, 0x006BE100, 0x0071C190), &oCMOB_IsOwnedByGuild::operator() };
int oCMOB_IsOwnedByGuild::operator()(int a0)
{
	int result = THISCALL(Ivk_oCMOB_IsOwnedByGuild)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>