<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCEmitterKey::CreateNewScriptKey(zSTRING const&): void]]></Title>
			<Description><![CDATA[public: static void __cdecl oCEmitterKey::CreateNewScriptKey(zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_oCEmitterKey_CreateNewScriptKey(zSTRING const&);
BindedHook Ivk_oCEmitterKey_CreateNewScriptKey{ ZENFOR(0x00490F50, 0x0049D1C0, 0x00499240, 0x0049B3E0), Hook_oCEmitterKey_CreateNewScriptKey };
void Hook_oCEmitterKey_CreateNewScriptKey(zSTRING const& a0)
{
	Ivk_oCEmitterKey_CreateNewScriptKey(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>