<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::CanRecruitSC(): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpc::CanRecruitSC()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_CanRecruitSC : oCNpc { int operator()(); };
BindedHook Ivk_oCNpc_CanRecruitSC{ ZENFOR(0x0068DF70, 0x006BE900, 0x006D2350, 0x00730720), &oCNpc_CanRecruitSC::operator() };
int oCNpc_CanRecruitSC::operator()()
{
	int result = THISCALL(Ivk_oCNpc_CanRecruitSC)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>