<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMsgState::oCMsgState(oCMsgState::TStateSubType, int, int, zSTRING const&)]]></Title>
			<Shortcut><![CDATA[__oCMsgState_oCMsgState_0x007680C0]]></Shortcut>
			<Description><![CDATA[public: __thiscall oCMsgState::oCMsgState(oCMsgState::TStateSubType, int, int, zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMsgState_oCMsgState : oCMsgState { oCMsgState* operator()(oCMsgState::TStateSubType, int, int, zSTRING const&); };
BindedHook Ivk_oCMsgState_oCMsgState{ ZENFOR(0x006C0F20, 0x006F6260, 0x00708B80, 0x007680C0), &oCMsgState_oCMsgState::operator() };
oCMsgState* oCMsgState_oCMsgState::operator()(oCMsgState::TStateSubType a0, int a1, int a2, zSTRING const& a3)
{
	oCMsgState* result = THISCALL(Ivk_oCMsgState_oCMsgState)(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>