<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMobInter::Unarchive(zCArchiver&): void]]></Title>
			<Shortcut><![CDATA[__oCMobInter_Unarchive_0x007223B0]]></Shortcut>
			<Description><![CDATA[protected: virtual void __thiscall oCMobInter::Unarchive(zCArchiver&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMobInter_Unarchive : oCMobInter { void operator()(zCArchiver&); };
BindedHook Ivk_oCMobInter_Unarchive{ ZENFOR(0x006809E0, 0x006AFCC0, 0x006C4320, 0x007223B0), &oCMobInter_Unarchive::operator() };
void oCMobInter_Unarchive::operator()(zCArchiver& a0)
{
	THISCALL(Ivk_oCMobInter_Unarchive)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>