<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAIArrow::SetTarget(zCVob*): void]]></Title>
			<Shortcut><![CDATA[__oCAIArrow_SetTarget_0x006A0FF0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCAIArrow::SetTarget(zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAIArrow_SetTarget : oCAIArrow { void operator()(zCVob*); };
BindedHook Ivk_oCAIArrow_SetTarget{ ZENFOR(0x006190E0, 0x0063C520, 0x00644790, 0x006A0FF0), &oCAIArrow_SetTarget::operator() };
void oCAIArrow_SetTarget::operator()(zCVob* a0)
{
	THISCALL(Ivk_oCAIArrow_SetTarget)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>