<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMission::IsAvailable(): int]]></Title>
			<Shortcut><![CDATA[__oCMission_IsAvailable_0x007169E0]]></Shortcut>
			<Description><![CDATA[public: int __thiscall oCMission::IsAvailable()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMission_IsAvailable : oCMission { int operator()(); };
BindedHook Ivk_oCMission_IsAvailable{ ZENFOR(0x006759A0, 0x006A3A40, 0x006B8950, 0x007169E0), &oCMission_IsAvailable::operator() };
int oCMission_IsAvailable::operator()()
{
	int result = THISCALL(Ivk_oCMission_IsAvailable)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>