<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMsgAttack::IsNetRelevant(): int]]></Title>
			<Shortcut><![CDATA[__oCMsgAttack_IsNetRelevant_0x00763E50]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall oCMsgAttack::IsNetRelevant()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMsgAttack_IsNetRelevant : oCMsgAttack { int operator()(); };
BindedHook Ivk_oCMsgAttack_IsNetRelevant{ ZENFOR(0x006BCC40, 0x006F1EE0, 0x00704910, 0x00763E50), &oCMsgAttack_IsNetRelevant::operator() };
int oCMsgAttack_IsNetRelevant::operator()()
{
	int result = THISCALL(Ivk_oCMsgAttack_IsNetRelevant)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>