<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCVisualFX::SetVisualByString(zSTRING const&): void]]></Title>
			<Shortcut><![CDATA[__oCVisualFX_SetVisualByString_0x0048C220]]></Shortcut>
			<Description><![CDATA[protected: virtual void __thiscall oCVisualFX::SetVisualByString(zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCVisualFX_SetVisualByString : oCVisualFX { void operator()(zSTRING const&); };
BindedHook Ivk_oCVisualFX_SetVisualByString{ ZENFOR(0x00484580, 0x0048F6A0, 0x0048A8B0, 0x0048C220), &oCVisualFX_SetVisualByString::operator() };
void oCVisualFX_SetVisualByString::operator()(zSTRING const& a0)
{
	THISCALL(Ivk_oCVisualFX_SetVisualByString)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>