<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCSpawnManager::UseDeadNpcRoutinePos(oCNpc*): int]]></Title>
			<Description><![CDATA[private: int __thiscall oCSpawnManager::UseDeadNpcRoutinePos(oCNpc*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2A
struct oCSpawnManager_UseDeadNpcRoutinePos : oCSpawnManager { int operator()(oCNpc*); };
BindedHook Ivk_oCSpawnManager_UseDeadNpcRoutinePos{ ZENFOR(0x00000000, 0x00000000, 0x00000000, 0x007791B0), &oCSpawnManager_UseDeadNpcRoutinePos::operator() };
int oCSpawnManager_UseDeadNpcRoutinePos::operator()(oCNpc* a0)
{
	int result = THISCALL(Ivk_oCSpawnManager_UseDeadNpcRoutinePos)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>