<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCRtnManager::Sort_WayBoxLimit(oCRtnManager::TRtn_WayBoxLimit*, oCRtnManager::TRtn_WayBoxLimit*): int]]></Title>
			<Shortcut><![CDATA[__oCRtnManager_Sort_WayBoxLimit_0x00774650]]></Shortcut>
			<Description><![CDATA[private: static int __cdecl oCRtnManager::Sort_WayBoxLimit(oCRtnManager::TRtn_WayBoxLimit*, oCRtnManager::TRtn_WayBoxLimit*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[int Hook_oCRtnManager_Sort_WayBoxLimit(oCRtnManager::TRtn_WayBoxLimit*, oCRtnManager::TRtn_WayBoxLimit*);
BindedHook Ivk_oCRtnManager_Sort_WayBoxLimit{ ZENFOR(0x006CC8F0, 0x00702F80, 0x007150C0, 0x00774650), Hook_oCRtnManager_Sort_WayBoxLimit };
int Hook_oCRtnManager_Sort_WayBoxLimit(oCRtnManager::TRtn_WayBoxLimit* a0, oCRtnManager::TRtn_WayBoxLimit* a1)
{
	int result = Ivk_oCRtnManager_Sort_WayBoxLimit(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>