<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAIVobMoveTorch::DoAI(zCVob*, int&): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCAIVobMoveTorch::DoAI(zCVob*, int&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAIVobMoveTorch_DoAI : oCAIVobMoveTorch { void operator()(zCVob*, int&); };
BindedHook Ivk_oCAIVobMoveTorch_DoAI{ ZENFOR(0x006182A0, 0x0063B5D0, 0x00643690, 0x0069FE60), &oCAIVobMoveTorch_DoAI::operator() };
void oCAIVobMoveTorch_DoAI::operator()(zCVob* a0, int& a1)
{
	THISCALL(Ivk_oCAIVobMoveTorch_DoAI)(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>