<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::InitByScript(int, int): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCNpc::InitByScript(int, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_InitByScript : oCNpc { void operator()(int, int); };
BindedHook Ivk_oCNpc_InitByScript{ ZENFOR(0x0068C840, 0x006BCFB0, 0x006D0C10, 0x0072EE70), &oCNpc_InitByScript::operator() };
void oCNpc_InitByScript::operator()(int a0, int a1)
{
	THISCALL(Ivk_oCNpc_InitByScript)(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>