<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::PutInInv(int, int): oCItem*]]></Title>
			<Description><![CDATA[public: oCItem* __thiscall oCNpc::PutInInv(int, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_PutInInv : oCNpc { oCItem* operator()(int, int); };
BindedHook Ivk_oCNpc_PutInInv{ ZENFOR(0x006A5180, 0x006D7C60, 0x006EAA00, 0x007494C0), &oCNpc_PutInInv::operator() };
oCItem* oCNpc_PutInInv::operator()(int a0, int a1)
{
	oCItem* result = THISCALL(Ivk_oCNpc_PutInInv)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>