<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAIArrow::Unarchive(zCArchiver&): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCAIArrow::Unarchive(zCArchiver&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAIArrow_Unarchive : oCAIArrow { void operator()(zCArchiver&); };
BindedHook Ivk_oCAIArrow_Unarchive{ ZENFOR(0x00619960, 0x0063CE70, 0x00645510, 0x006A1D90), &oCAIArrow_Unarchive::operator() };
void oCAIArrow_Unarchive::operator()(zCArchiver& a0)
{
	THISCALL(Ivk_oCAIArrow_Unarchive)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>