<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::GetCharacterClass(): zCVob::zTVobCharClass]]></Title>
			<Description><![CDATA[public: virtual zCVob::zTVobCharClass __thiscall oCNpc::GetCharacterClass()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_GetCharacterClass : oCNpc { zCVob::zTVobCharClass operator()(); };
BindedHook Ivk_oCNpc_GetCharacterClass{ ZENFOR(0x006A6660, 0x006D9240, 0x006EBFE0, 0x0074ACB0), &oCNpc_GetCharacterClass::operator() };
zCVob::zTVobCharClass oCNpc_GetCharacterClass::operator()()
{
	zCVob::zTVobCharClass result = THISCALL(Ivk_oCNpc_GetCharacterClass)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>