<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::StopRunningOU(): void]]></Title>
			<Shortcut><![CDATA[__oCNpc_StopRunningOU_0x006BD240]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCNpc::StopRunningOU()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_StopRunningOU : oCNpc { void operator()(); };
BindedHook Ivk_oCNpc_StopRunningOU{ ZENFOR(0x006338B0, 0x00659720, 0x006608B0, 0x006BD240), &oCNpc_StopRunningOU::operator() };
void oCNpc_StopRunningOU::operator()()
{
	THISCALL(Ivk_oCNpc_StopRunningOU)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>