<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::GetThrowSpeed(float, float): float]]></Title>
			<Description><![CDATA[public: float __thiscall oCNpc::GetThrowSpeed(float, float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_GetThrowSpeed : oCNpc { float operator()(float, float); };
BindedHook Ivk_oCNpc_GetThrowSpeed{ ZENFOR(0x00698DE0, 0x006CABB0, 0x006DDA60, 0x0073C230), &oCNpc_GetThrowSpeed::operator() };
float oCNpc_GetThrowSpeed::operator()(float a0, float a1)
{
	float result = THISCALL(Ivk_oCNpc_GetThrowSpeed)(a0, a1);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>