<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpcFocus::oCNpcFocus()]]></Title>
			<Description><![CDATA[public: __thiscall oCNpcFocus::oCNpcFocus()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpcFocus_oCNpcFocus : oCNpcFocus { oCNpcFocus* operator()(); };
BindedHook Ivk_oCNpcFocus_oCNpcFocus{ ZENFOR(0x00635010, 0x0065B1B0, 0x00662440, 0x006BEDD0), &oCNpcFocus_oCNpcFocus::operator() };
oCNpcFocus* oCNpcFocus_oCNpcFocus::operator()()
{
	oCNpcFocus* result = THISCALL(Ivk_oCNpcFocus_oCNpcFocus)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>