<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::EV_StopProcessInfos(oCMsgConversation*): int]]></Title>
			<Shortcut><![CDATA[__oCNpc_EV_StopProcessInfos_0x0075A660]]></Shortcut>
			<Description><![CDATA[protected: int __thiscall oCNpc::EV_StopProcessInfos(oCMsgConversation*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_EV_StopProcessInfos : oCNpc { int operator()(oCMsgConversation*); };
BindedHook Ivk_oCNpc_EV_StopProcessInfos{ ZENFOR(0x006B3DB0, 0x006E8480, 0x006FB6F0, 0x0075A660), &oCNpc_EV_StopProcessInfos::operator() };
int oCNpc_EV_StopProcessInfos::operator()(oCMsgConversation* a0)
{
	int result = THISCALL(Ivk_oCNpc_EV_StopProcessInfos)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>