<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCLogTopic::Archive(zCArchiver&): void]]></Title>
			<Description><![CDATA[public: void __fastcall oCLogTopic::Archive(zCArchiver&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCLogTopic_Archive : oCLogTopic { void __fastcall operator()(zCArchiver&); };
BindedHook Ivk_oCLogTopic_Archive{ ZENFOR(0x0072ECA0, 0x0076D300, 0x0077A840, 0x00663A80), &oCLogTopic_Archive::operator() };
void __fastcall oCLogTopic_Archive::operator()(zCArchiver& a0)
{
	THISCALL(Ivk_oCLogTopic_Archive)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>