<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCViewDialogTrade::AllDialogsStop(): void]]></Title>
			<Description><![CDATA[protected: void __fastcall oCViewDialogTrade::AllDialogsStop()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCViewDialogTrade_AllDialogsStop : oCViewDialogTrade { void __fastcall operator()(); };
BindedHook Ivk_oCViewDialogTrade_AllDialogsStop{ ZENFOR(0x00729300, 0x007671A0, 0x00775410, 0x0068B140), &oCViewDialogTrade_AllDialogsStop::operator() };
void __fastcall oCViewDialogTrade_AllDialogsStop::operator()()
{
	THISCALL(Ivk_oCViewDialogTrade_AllDialogsStop)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>