<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCGame::TObjectRoutine::Release(): void]]></Title>
			<Shortcut><![CDATA[__oCGame__TObjectRoutine_Release_0x006C0280]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCGame::TObjectRoutine::Release()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCGame__TObjectRoutine_Release : oCGame::TObjectRoutine { void operator()(); };
BindedHook Ivk_oCGame__TObjectRoutine_Release{ ZENFOR(0x00636100, 0x0065C5C0, 0x006638F0, 0x006C0280), &oCGame__TObjectRoutine_Release::operator() };
void oCGame__TObjectRoutine_Release::operator()()
{
	THISCALL(Ivk_oCGame__TObjectRoutine_Release)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>