<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCBarrier::AddThunderSub(myThunder*, int, int, int, int): int]]></Title>
			<Description><![CDATA[protected: int __thiscall oCBarrier::AddThunderSub(myThunder*, int, int, int, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCBarrier_AddThunderSub : oCBarrier { int operator()(myThunder*, int, int, int, int); };
BindedHook Ivk_oCBarrier_AddThunderSub{ ZENFOR(0x006312D0, 0x00656C50, 0x0065E110, 0x006BAAA0), &oCBarrier_AddThunderSub::operator() };
int oCBarrier_AddThunderSub::operator()(myThunder* a0, int a1, int a2, int a3, int a4)
{
	int result = THISCALL(Ivk_oCBarrier_AddThunderSub)(a0, a1, a2, a3, a4);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>