<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMobInter::IsTempStateChanged(): int]]></Title>
			<Shortcut><![CDATA[__oCMobInter_IsTempStateChanged_0x0071D580]]></Shortcut>
			<Description><![CDATA[public: int __thiscall oCMobInter::IsTempStateChanged()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMobInter_IsTempStateChanged : oCMobInter { int operator()(); };
BindedHook Ivk_oCMobInter_IsTempStateChanged{ ZENFOR(0x0067C370, 0x006AABF0, 0x006BF4F0, 0x0071D580), &oCMobInter_IsTempStateChanged::operator() };
int oCMobInter_IsTempStateChanged::operator()()
{
	int result = THISCALL(Ivk_oCMobInter_IsTempStateChanged)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>