<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::Follow(): void]]></Title>
			<Shortcut><![CDATA[__oCNpc_Follow_0x006824C0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCNpc::Follow()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_Follow : oCNpc { void operator()(); };
BindedHook Ivk_oCNpc_Follow{ ZENFOR(0x0074CEC0, 0x0078EA50, 0x00798FE0, 0x006824C0), &oCNpc_Follow::operator() };
void oCNpc_Follow::operator()()
{
	THISCALL(Ivk_oCNpc_Follow)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>