<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCDocumentManager::oCDocumentManager()]]></Title>
			<Description><![CDATA[protected: __thiscall oCDocumentManager::oCDocumentManager()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCDocumentManager_oCDocumentManager : oCDocumentManager { oCDocumentManager* operator()(); };
BindedHook Ivk_oCDocumentManager_oCDocumentManager{ ZENFOR(0x00724250, 0x00761190, 0x00770570, 0x0065EAC0), &oCDocumentManager_oCDocumentManager::operator() };
oCDocumentManager* oCDocumentManager_oCDocumentManager::operator()()
{
	oCDocumentManager* result = THISCALL(Ivk_oCDocumentManager_oCDocumentManager)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>