<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc_States::SetRoutine(oCRtnEntry*, oCRtnEntry*): void]]></Title>
			<Shortcut><![CDATA[__oCNpc_States_SetRoutine_0x0076C0F0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCNpc_States::SetRoutine(oCRtnEntry*, oCRtnEntry*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_States_SetRoutine : oCNpc_States { void operator()(oCRtnEntry*, oCRtnEntry*); };
BindedHook Ivk_oCNpc_States_SetRoutine{ ZENFOR(0x006C4D40, 0x006FA470, 0x0070CB90, 0x0076C0F0), &oCNpc_States_SetRoutine::operator() };
void oCNpc_States_SetRoutine::operator()(oCRtnEntry* a0, oCRtnEntry* a1)
{
	THISCALL(Ivk_oCNpc_States_SetRoutine)(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>