<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMagFrontier::GetDistance(zVEC3 const&, float&, zVEC3&): float]]></Title>
			<Description><![CDATA[private: float __thiscall oCMagFrontier::GetDistance(zVEC3 const&, float&, zVEC3&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A
struct oCMagFrontier_GetDistance : oCMagFrontier { float operator()(zVEC3 const&, float&, zVEC3&); };
BindedHook Ivk_oCMagFrontier_GetDistance{ ZENFOR(0x0046DC00, 0x00476500, 0x00000000, 0x00000000), &oCMagFrontier_GetDistance::operator() };
float oCMagFrontier_GetDistance::operator()(zVEC3 const& a0, float& a1, zVEC3& a2)
{
	float result = THISCALL(Ivk_oCMagFrontier_GetDistance)(a0, a1, a2);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>