<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCGame::ShowDebugInfos(): void]]></Title>
			<Description><![CDATA[private: void __thiscall oCGame::ShowDebugInfos()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCGame_ShowDebugInfos : oCGame { void operator()(); };
BindedHook Ivk_oCGame_ShowDebugInfos{ ZENFOR(0x0063D940, 0x00664610, 0x0066B240, 0x006C7FB0), &oCGame_ShowDebugInfos::operator() };
void oCGame_ShowDebugInfos::operator()()
{
	THISCALL(Ivk_oCGame_ShowDebugInfos)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>