<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc_States::GetRoutineName(): zSTRING]]></Title>
			<Description><![CDATA[public: zSTRING __thiscall oCNpc_States::GetRoutineName()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_States_GetRoutineName : oCNpc_States { zSTRING operator()(); };
BindedHook Ivk_oCNpc_States_GetRoutineName{ ZENFOR(0x006C6C10, 0x006FC620, 0x0070EC20, 0x0076E180), &oCNpc_States_GetRoutineName::operator() };
zSTRING oCNpc_States_GetRoutineName::operator()()
{
	zSTRING result = THISCALL(Ivk_oCNpc_States_GetRoutineName)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>