<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::IsScriptStateAIEnabled(): int]]></Title>
			<Description><![CDATA[public: static int __cdecl oCNpc::IsScriptStateAIEnabled()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[int Hook_oCNpc_IsScriptStateAIEnabled();
BindedHook Ivk_oCNpc_IsScriptStateAIEnabled{ ZENFOR(0x006B8A50, 0x006ED550, 0x00700460, 0x0075F3E0), Hook_oCNpc_IsScriptStateAIEnabled };
int Hook_oCNpc_IsScriptStateAIEnabled()
{
	int result = Ivk_oCNpc_IsScriptStateAIEnabled();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>