<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::SetCanTalk(int): void]]></Title>
			<Shortcut><![CDATA[__oCNpc_SetCanTalk_0x006BCF10]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCNpc::SetCanTalk(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_SetCanTalk : oCNpc { void operator()(int); };
BindedHook Ivk_oCNpc_SetCanTalk{ ZENFOR(0x00633580, 0x006593D0, 0x00660580, 0x006BCF10), &oCNpc_SetCanTalk::operator() };
void oCNpc_SetCanTalk::operator()(int a0)
{
	THISCALL(Ivk_oCNpc_SetCanTalk)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>