<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCViewDialogItemContainer::UpdateValue(): void]]></Title>
			<Description><![CDATA[protected: void __fastcall oCViewDialogItemContainer::UpdateValue()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCViewDialogItemContainer_UpdateValue : oCViewDialogItemContainer { void __fastcall operator()(); };
BindedHook Ivk_oCViewDialogItemContainer_UpdateValue{ ZENFOR(0x00727900, 0x00765180, 0x00773FC0, 0x00689D10), &oCViewDialogItemContainer_UpdateValue::operator() };
void __fastcall oCViewDialogItemContainer_UpdateValue::operator()()
{
	THISCALL(Ivk_oCViewDialogItemContainer_UpdateValue)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>