<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::GetBodyState(): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpc::GetBodyState()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_GetBodyState : oCNpc { int operator()(); };
BindedHook Ivk_oCNpc_GetBodyState{ ZENFOR(0x006B8140, 0x006ECC00, 0x006FFB60, 0x0075EAE0), &oCNpc_GetBodyState::operator() };
int oCNpc_GetBodyState::operator()()
{
	int result = THISCALL(Ivk_oCNpc_GetBodyState)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>