<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCViewDialogItemContainer::InsertItem(oCItem*): void]]></Title>
			<Description><![CDATA[public: void __fastcall oCViewDialogItemContainer::InsertItem(oCItem*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCViewDialogItemContainer_InsertItem : oCViewDialogItemContainer { void __fastcall operator()(oCItem*); };
BindedHook Ivk_oCViewDialogItemContainer_InsertItem{ ZENFOR(0x007276C0, 0x00764F50, 0x00773EB0, 0x00689C00), &oCViewDialogItemContainer_InsertItem::operator() };
void __fastcall oCViewDialogItemContainer_InsertItem::operator()(oCItem* a0)
{
	THISCALL(Ivk_oCViewDialogItemContainer_InsertItem)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>