<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMobLadder::StartInteraction(oCNpc*): void]]></Title>
			<Shortcut><![CDATA[__oCMobLadder_StartInteraction_0x007277D0]]></Shortcut>
			<Description><![CDATA[protected: virtual void __thiscall oCMobLadder::StartInteraction(oCNpc*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMobLadder_StartInteraction : oCMobLadder { void operator()(oCNpc*); };
BindedHook Ivk_oCMobLadder_StartInteraction{ ZENFOR(0x006858B0, 0x006B53E0, 0x006C9740, 0x007277D0), &oCMobLadder_StartInteraction::operator() };
void oCMobLadder_StartInteraction::operator()(oCNpc* a0)
{
	THISCALL(Ivk_oCMobLadder_StartInteraction)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>