<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::GetScriptInstance(zSTRING*&, int&): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall oCNpc::GetScriptInstance(zSTRING*&, int&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_GetScriptInstance : oCNpc { int operator()(zSTRING*&, int&); };
BindedHook Ivk_oCNpc_GetScriptInstance{ ZENFOR(0x006A1BC0, 0x006D43B0, 0x006E6E20, 0x007458C0), &oCNpc_GetScriptInstance::operator() };
int oCNpc_GetScriptInstance::operator()(zSTRING*& a0, int& a1)
{
	int result = THISCALL(Ivk_oCNpc_GetScriptInstance)(a0, a1);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>