<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::GetVecNormalFromBBox(zCVob*, zVEC3&): zVEC3]]></Title>
			<Shortcut><![CDATA[__oCNpc_GetVecNormalFromBBox_0x006817C0]]></Shortcut>
			<Description><![CDATA[public: zVEC3 __thiscall oCNpc::GetVecNormalFromBBox(zCVob*, zVEC3&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_GetVecNormalFromBBox : oCNpc { zVEC3 operator()(zCVob*, zVEC3&); };
BindedHook Ivk_oCNpc_GetVecNormalFromBBox{ ZENFOR(0x0074C210, 0x0078DC20, 0x007982E0, 0x006817C0), &oCNpc_GetVecNormalFromBBox::operator() };
zVEC3 oCNpc_GetVecNormalFromBBox::operator()(zCVob* a0, zVEC3& a1)
{
	zVEC3 result = THISCALL(Ivk_oCNpc_GetVecNormalFromBBox)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>