<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCInfo::GetText(): zSTRING&]]></Title>
			<Shortcut><![CDATA[__oCInfo_GetText_0x00703940]]></Shortcut>
			<Description><![CDATA[public: zSTRING& __thiscall oCInfo::GetText()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCInfo_GetText : oCInfo { zSTRING& operator()(); };
BindedHook Ivk_oCInfo_GetText{ ZENFOR(0x00665870, 0x00692D90, 0x006A5EB0, 0x00703940), &oCInfo_GetText::operator() };
zSTRING& oCInfo_GetText::operator()()
{
	zSTRING& result = THISCALL(Ivk_oCInfo_GetText)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>