<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCDummyVobGenerator::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[protected: virtual void* __thiscall oCDummyVobGenerator::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1A, G2
struct oCDummyVobGenerator_VectorDeletingDestructor : oCDummyVobGenerator { void* operator()(unsigned int); };
BindedHook Ivk_oCDummyVobGenerator_VectorDeletingDestructor{ ZENFOR(0x00000000, 0x006A82A0, 0x006BCD40, 0x00000000), &oCDummyVobGenerator_VectorDeletingDestructor::operator() };
void* oCDummyVobGenerator_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_oCDummyVobGenerator_VectorDeletingDestructor)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>