<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::EV_EquipBestArmor(oCMsgWeapon*): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpc::EV_EquipBestArmor(oCMsgWeapon*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_EV_EquipBestArmor : oCNpc { int operator()(oCMsgWeapon*); };
BindedHook Ivk_oCNpc_EV_EquipBestArmor{ ZENFOR(0x006AA470, 0x006DD230, 0x006F0240, 0x0074F020), &oCNpc_EV_EquipBestArmor::operator() };
int oCNpc_EV_EquipBestArmor::operator()(oCMsgWeapon* a0)
{
	int result = THISCALL(Ivk_oCNpc_EV_EquipBestArmor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>