<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCCSManager::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[public: virtual void* __thiscall oCCSManager::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1A, G2A
struct oCCSManager_VectorDeletingDestructor : oCCSManager { void* operator()(unsigned int); };
BindedHook Ivk_oCCSManager_VectorDeletingDestructor{ ZENFOR(0x00000000, 0x00402620, 0x00000000, 0x00402330), &oCCSManager_VectorDeletingDestructor::operator() };
void* oCCSManager_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_oCCSManager_VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>