<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpcMessage::IsOverlay(): int]]></Title>
			<Shortcut><![CDATA[__oCNpcMessage_IsOverlay_0x00763170]]></Shortcut>
			<Description><![CDATA[protected: virtual int __thiscall oCNpcMessage::IsOverlay()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpcMessage_IsOverlay : oCNpcMessage { int operator()(); };
BindedHook Ivk_oCNpcMessage_IsOverlay{ ZENFOR(0x006BBEF0, 0x006F10F0, 0x00703C30, 0x00763170), &oCNpcMessage_IsOverlay::operator() };
int oCNpcMessage_IsOverlay::operator()()
{
	int result = THISCALL(Ivk_oCNpcMessage_IsOverlay)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>