<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::IsDead(): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpc::IsDead()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A, G2A
struct oCNpc_IsDead : oCNpc { int operator()(); };
BindedHook Ivk_oCNpc_IsDead{ ZENFOR(0x00693480, 0x006C4BD0, 0x00000000, 0x00736740), &oCNpc_IsDead::operator() };
int oCNpc_IsDead::operator()()
{
	int result = THISCALL(Ivk_oCNpc_IsDead)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>