<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpcInventory::IsIn(zSTRING const&, int): oCItem*]]></Title>
			<Shortcut><![CDATA[__oCNpcInventory_IsIn_0x0070CAC0]]></Shortcut>
			<Description><![CDATA[public: virtual oCItem* __thiscall oCNpcInventory::IsIn(zSTRING const&, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpcInventory_IsIn : oCNpcInventory { oCItem* operator()(zSTRING const&, int); };
BindedHook Ivk_oCNpcInventory_IsIn{ ZENFOR(0x0066CCB0, 0x0069A430, 0x006AEFD0, 0x0070CAC0), &oCNpcInventory_IsIn::operator() };
oCItem* oCNpcInventory_IsIn::operator()(zSTRING const& a0, int a1)
{
	oCItem* result = THISCALL(Ivk_oCNpcInventory_IsIn)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>