<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMenuSavegame::Activate(): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCMenuSavegame::Activate()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMenuSavegame_Activate : oCMenuSavegame { void operator()(); };
BindedHook Ivk_oCMenuSavegame_Activate{ ZENFOR(0x0042C410, 0x0042F4F0, 0x0042E610, 0x0042E930), &oCMenuSavegame_Activate::operator() };
void oCMenuSavegame_Activate::operator()()
{
	THISCALL(Ivk_oCMenuSavegame_Activate)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>