<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMenu_Log::InitForDisplay(): void]]></Title>
			<Shortcut><![CDATA[__oCMenu_Log_InitForDisplay_0x0047CDC0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCMenu_Log::InitForDisplay()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMenu_Log_InitForDisplay : oCMenu_Log { void operator()(); };
BindedHook Ivk_oCMenu_Log_InitForDisplay{ ZENFOR(0x00475C50, 0x0047F510, 0x0047B8F0, 0x0047CDC0), &oCMenu_Log_InitForDisplay::operator() };
void oCMenu_Log_InitForDisplay::operator()()
{
	THISCALL(Ivk_oCMenu_Log_InitForDisplay)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>