<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMsgState::IsOverlay(): int]]></Title>
			<Description><![CDATA[protected: virtual int __thiscall oCMsgState::IsOverlay()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMsgState_IsOverlay : oCMsgState { int operator()(); };
BindedHook Ivk_oCMsgState_IsOverlay{ ZENFOR(0x006BD2A0, 0x006F2590, 0x00704F40, 0x00764480), &oCMsgState_IsOverlay::operator() };
int oCMsgState_IsOverlay::operator()()
{
	int result = THISCALL(Ivk_oCMsgState_IsOverlay)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>