<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCViewDocument::~oCViewDocument()]]></Title>
			<Description><![CDATA[public: virtual __thiscall oCViewDocument::~oCViewDocument()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCViewDocument_Destructor : oCViewDocument { void operator()(); };
BindedHook Ivk_oCViewDocument_Destructor{ ZENFOR(0x00725190, 0x00762410, 0x00771620, 0x0068C650), &oCViewDocument_Destructor::operator() };
void oCViewDocument_Destructor::operator()()
{
	THISCALL(Ivk_oCViewDocument_Destructor)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>