<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCGame::RefreshNpcs(): void]]></Title>
			<Shortcut><![CDATA[__oCGame_RefreshNpcs_0x006CB5F0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCGame::RefreshNpcs()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCGame_RefreshNpcs : oCGame { void operator()(); };
BindedHook Ivk_oCGame_RefreshNpcs{ ZENFOR(0x006409B0, 0x00667A70, 0x0066E870, 0x006CB5F0), &oCGame_RefreshNpcs::operator() };
void oCGame_RefreshNpcs::operator()()
{
	THISCALL(Ivk_oCGame_RefreshNpcs)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>