<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCGame::GetWorldTimer(): oCWorldTimer*]]></Title>
			<Shortcut><![CDATA[__oCGame_GetWorldTimer_0x006C2C80]]></Shortcut>
			<Description><![CDATA[public: oCWorldTimer* __thiscall oCGame::GetWorldTimer()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCGame_GetWorldTimer : oCGame { oCWorldTimer* operator()(); };
BindedHook Ivk_oCGame_GetWorldTimer{ ZENFOR(0x00638AD0, 0x0065F020, 0x00666180, 0x006C2C80), &oCGame_GetWorldTimer::operator() };
oCWorldTimer* oCGame_GetWorldTimer::operator()()
{
	oCWorldTimer* result = THISCALL(Ivk_oCGame_GetWorldTimer)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>