<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCPlayerInfo::Reset(): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCPlayerInfo::Reset()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCPlayerInfo_Reset : oCPlayerInfo { void operator()(); };
BindedHook Ivk_oCPlayerInfo_Reset{ ZENFOR(0x00433910, 0x00437840, 0x00436270, 0x00436770), &oCPlayerInfo_Reset::operator() };
void oCPlayerInfo_Reset::operator()()
{
	THISCALL(Ivk_oCPlayerInfo_Reset)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>