<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCItemContainer::IsSplitScreen(): int]]></Title>
			<Shortcut><![CDATA[__oCItemContainer_IsSplitScreen_0x00709E40]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall oCItemContainer::IsSplitScreen()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct oCItemContainer_IsSplitScreen : oCItemContainer { int operator()(); };
BindedHook Ivk_oCItemContainer_IsSplitScreen{ ZENFOR(0x00000000, 0x00000000, 0x006AC350, 0x00709E40), &oCItemContainer_IsSplitScreen::operator() };
int oCItemContainer_IsSplitScreen::operator()()
{
	int result = THISCALL(Ivk_oCItemContainer_IsSplitScreen)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>