<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCLogManager::Unarchive(zCArchiver&): void]]></Title>
			<Shortcut><![CDATA[__oCLogManager_Unarchive_0x006636B0]]></Shortcut>
			<Description><![CDATA[public: void __fastcall oCLogManager::Unarchive(zCArchiver&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCLogManager_Unarchive : oCLogManager { void __fastcall operator()(zCArchiver&); };
BindedHook Ivk_oCLogManager_Unarchive{ ZENFOR(0x0072E880, 0x0076CEB0, 0x0077A470, 0x006636B0), &oCLogManager_Unarchive::operator() };
void __fastcall oCLogManager_Unarchive::operator()(zCArchiver& a0)
{
	THISCALL(Ivk_oCLogManager_Unarchive)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>