<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::GetTalentValue(int): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpc::GetTalentValue(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_GetTalentValue : oCNpc { int operator()(int); };
BindedHook Ivk_oCNpc_GetTalentValue{ ZENFOR(0x0068E570, 0x006BEF70, 0x006D2910, 0x00730DC0), &oCNpc_GetTalentValue::operator() };
int oCNpc_GetTalentValue::operator()(int a0)
{
	int result = THISCALL(Ivk_oCNpc_GetTalentValue)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>