<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpcInventory::GetCategory(oCItem*): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpcInventory::GetCategory(oCItem*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpcInventory_GetCategory : oCNpcInventory { int operator()(oCItem*); };
BindedHook Ivk_oCNpcInventory_GetCategory{ ZENFOR(0x0066C430, 0x00699BB0, 0x006AEBB0, 0x0070C690), &oCNpcInventory_GetCategory::operator() };
int oCNpcInventory_GetCategory::operator()(oCItem* a0)
{
	int result = THISCALL(Ivk_oCNpcInventory_GetCategory)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>