<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAniCtrl_Human::SetWalkMode(int): void]]></Title>
			<Shortcut><![CDATA[__oCAniCtrl_Human_SetWalkMode_0x006A9820]]></Shortcut>
			<Description><![CDATA[public: void __thiscall oCAniCtrl_Human::SetWalkMode(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAniCtrl_Human_SetWalkMode : oCAniCtrl_Human { void operator()(int); };
BindedHook Ivk_oCAniCtrl_Human_SetWalkMode{ ZENFOR(0x006211E0, 0x00645750, 0x0064CFA0, 0x006A9820), &oCAniCtrl_Human_SetWalkMode::operator() };
void oCAniCtrl_Human_SetWalkMode::operator()(int a0)
{
	THISCALL(Ivk_oCAniCtrl_Human_SetWalkMode)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>