<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::EV_DoState(oCMsgState*): int]]></Title>
			<Description><![CDATA[protected: int __thiscall oCNpc::EV_DoState(oCMsgState*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_EV_DoState : oCNpc { int operator()(oCMsgState*); };
BindedHook Ivk_oCNpc_EV_DoState{ ZENFOR(0x006B09D0, 0x006E4980, 0x006F77D0, 0x00756600), &oCNpc_EV_DoState::operator() };
int oCNpc_EV_DoState::operator()(oCMsgState* a0)
{
	int result = THISCALL(Ivk_oCNpc_EV_DoState)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>