<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCGame::Init(): void]]></Title>
			<Shortcut><![CDATA[__oCGame_Init_0x006C1060]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall oCGame::Init()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCGame_Init : oCGame { void operator()(); };
BindedHook Ivk_oCGame_Init{ ZENFOR(0x00636F50, 0x0065D480, 0x006646D0, 0x006C1060), &oCGame_Init::operator() };
void oCGame_Init::operator()()
{
	THISCALL(Ivk_oCGame_Init)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>