<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMenu_ChgKeys::ScreenInit(): void]]></Title>
			<Shortcut><![CDATA[__oCMenu_ChgKeys_ScreenInit_0x0047AE60]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall oCMenu_ChgKeys::ScreenInit()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMenu_ChgKeys_ScreenInit : oCMenu_ChgKeys { void operator()(); };
BindedHook Ivk_oCMenu_ChgKeys_ScreenInit{ ZENFOR(0x00473F40, 0x0047D3F0, 0x004799F0, 0x0047AE60), &oCMenu_ChgKeys_ScreenInit::operator() };
void oCMenu_ChgKeys_ScreenInit::operator()()
{
	THISCALL(Ivk_oCMenu_ChgKeys_ScreenInit)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>