<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCSpawnManager::GetSpawnTime(): float]]></Title>
			<Description><![CDATA[public: static float __cdecl oCSpawnManager::GetSpawnTime()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[float Hook_oCSpawnManager_GetSpawnTime();
BindedHook Ivk_oCSpawnManager_GetSpawnTime{ ZENFOR(0x006CF620, 0x00706030, 0x007182E0, 0x00777870), Hook_oCSpawnManager_GetSpawnTime };
float Hook_oCSpawnManager_GetSpawnTime()
{
	float result = Ivk_oCSpawnManager_GetSpawnTime();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>