<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCViewDialogTrade::OnMoveRight(): int]]></Title>
			<Description><![CDATA[protected: int __fastcall oCViewDialogTrade::OnMoveRight()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCViewDialogTrade_OnMoveRight : oCViewDialogTrade { int __fastcall operator()(); };
BindedHook Ivk_oCViewDialogTrade_OnMoveRight{ ZENFOR(0x0072A4B0, 0x007684C0, 0x00775D30, 0x0068BA60), &oCViewDialogTrade_OnMoveRight::operator() };
int __fastcall oCViewDialogTrade_OnMoveRight::operator()()
{
	int result = THISCALL(Ivk_oCViewDialogTrade_OnMoveRight)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>