<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCVisualFX::~oCVisualFX()]]></Title>
			<Description><![CDATA[public: virtual __thiscall oCVisualFX::~oCVisualFX()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCVisualFX_Destructor : oCVisualFX { void operator()(); };
BindedHook Ivk_oCVisualFX_Destructor{ ZENFOR(0x00482820, 0x0048D880, 0x00488A80, 0x0048A260), &oCVisualFX_Destructor::operator() };
void oCVisualFX_Destructor::operator()()
{
	THISCALL(Ivk_oCVisualFX_Destructor)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>