<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMsgDamage::IsDeleteable(): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall oCMsgDamage::IsDeleteable()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMsgDamage_IsDeleteable : oCMsgDamage { int operator()(); };
BindedHook Ivk_oCMsgDamage_IsDeleteable{ ZENFOR(0x006BC290, 0x006F14A0, 0x00703FA0, 0x007634E0), &oCMsgDamage_IsDeleteable::operator() };
int oCMsgDamage_IsDeleteable::operator()()
{
	int result = THISCALL(Ivk_oCMsgDamage_IsDeleteable)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>