<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCItemContainer::ActivateNextContainer(int): int]]></Title>
			<Shortcut><![CDATA[__oCItemContainer_ActivateNextContainer_0x0070A150]]></Shortcut>
			<Description><![CDATA[protected: int __thiscall oCItemContainer::ActivateNextContainer(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCItemContainer_ActivateNextContainer : oCItemContainer { int operator()(int); };
BindedHook Ivk_oCItemContainer_ActivateNextContainer{ ZENFOR(0x00669980, 0x006974E0, 0x006AC660, 0x0070A150), &oCItemContainer_ActivateNextContainer::operator() };
int oCItemContainer_ActivateNextContainer::operator()(int a0)
{
	int result = THISCALL(Ivk_oCItemContainer_ActivateNextContainer)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>