<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCDocumentManager::SetPage(int, int, zSTRING&, int): void]]></Title>
			<Shortcut><![CDATA[__oCDocumentManager_SetPage_0x0065F100]]></Shortcut>
			<Description><![CDATA[public: void __fastcall oCDocumentManager::SetPage(int, int, zSTRING&, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCDocumentManager_SetPage : oCDocumentManager { void __fastcall operator()(int, int, zSTRING&, int); };
BindedHook Ivk_oCDocumentManager_SetPage{ ZENFOR(0x00724910, 0x00761870, 0x00770BB0, 0x0065F100), &oCDocumentManager_SetPage::operator() };
void __fastcall oCDocumentManager_SetPage::operator()(int a0, int a1, zSTRING& a2, int a3)
{
	THISCALL(Ivk_oCDocumentManager_SetPage)(a0, a1, a2, a3);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>