<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAniCtrl_Human::ShowWeaponTrail(): void]]></Title>
			<Description><![CDATA[public: void __thiscall oCAniCtrl_Human::ShowWeaponTrail()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAniCtrl_Human_ShowWeaponTrail : oCAniCtrl_Human { void operator()(); };
BindedHook Ivk_oCAniCtrl_Human_ShowWeaponTrail{ ZENFOR(0x00627330, 0x0064C360, 0x006535F0, 0x006AFE70), &oCAniCtrl_Human_ShowWeaponTrail::operator() };
void oCAniCtrl_Human_ShowWeaponTrail::operator()()
{
	THISCALL(Ivk_oCAniCtrl_Human_ShowWeaponTrail)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>