<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCVisualFX::ProcessCollision(zSVisualFXColl&): int]]></Title>
			<Shortcut><![CDATA[__oCVisualFX_ProcessCollision_0x004958D0]]></Shortcut>
			<Description><![CDATA[private: int __thiscall oCVisualFX::ProcessCollision(zSVisualFXColl&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCVisualFX_ProcessCollision : oCVisualFX { int operator()(zSVisualFXColl&); };
BindedHook Ivk_oCVisualFX_ProcessCollision{ ZENFOR(0x0048D110, 0x00498B50, 0x00493CF0, 0x004958D0), &oCVisualFX_ProcessCollision::operator() };
int oCVisualFX_ProcessCollision::operator()(zSVisualFXColl& a0)
{
	int result = THISCALL(Ivk_oCVisualFX_ProcessCollision)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>