<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCInfoManager::CompareInfos(oCInfo*, oCInfo*): int]]></Title>
			<Description><![CDATA[private: static int __cdecl oCInfoManager::CompareInfos(oCInfo*, oCInfo*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[int Hook_oCInfoManager_CompareInfos(oCInfo*, oCInfo*);
BindedHook Ivk_oCInfoManager_CompareInfos{ ZENFOR(0x006647E0, 0x00691A50, 0x006A4C60, 0x007026F0), Hook_oCInfoManager_CompareInfos };
int Hook_oCInfoManager_CompareInfos(oCInfo* a0, oCInfo* a1)
{
	int result = Ivk_oCInfoManager_CompareInfos(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>