<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCSavegameManager::CopyFromCurrent(int): void]]></Title>
			<Description><![CDATA[public: void __thiscall oCSavegameManager::CopyFromCurrent(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCSavegameManager_CopyFromCurrent : oCSavegameManager { void operator()(int); };
BindedHook Ivk_oCSavegameManager_CopyFromCurrent{ ZENFOR(0x00435F70, 0x0043A330, 0x00438E90, 0x004394C0), &oCSavegameManager_CopyFromCurrent::operator() };
void oCSavegameManager_CopyFromCurrent::operator()(int a0)
{
	THISCALL(Ivk_oCSavegameManager_CopyFromCurrent)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>