<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCInformationManager::oCInformationManager()]]></Title>
			<Description><![CDATA[protected: __thiscall oCInformationManager::oCInformationManager()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCInformationManager_oCInformationManager : oCInformationManager { oCInformationManager* operator()(); };
BindedHook Ivk_oCInformationManager_oCInformationManager{ ZENFOR(0x0072AD70, 0x00769110, 0x00776730, 0x0065F930), &oCInformationManager_oCInformationManager::operator() };
oCInformationManager* oCInformationManager_oCInformationManager::operator()()
{
	oCInformationManager* result = THISCALL(Ivk_oCInformationManager_oCInformationManager)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>