<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpcMessage::Delete(): void]]></Title>
			<Shortcut><![CDATA[__oCNpcMessage_Delete_0x00763100]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall oCNpcMessage::Delete()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpcMessage_Delete : oCNpcMessage { void operator()(); };
BindedHook Ivk_oCNpcMessage_Delete{ ZENFOR(0x006BBE90, 0x006F10B0, 0x00703BC0, 0x00763100), &oCNpcMessage_Delete::operator() };
void oCNpcMessage_Delete::operator()()
{
	THISCALL(Ivk_oCNpcMessage_Delete)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>