<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::MoveNpc_S(oCNpc*): int]]></Title>
			<Shortcut><![CDATA[__oCNpc_MoveNpc_S_0x0075D350]]></Shortcut>
			<Description><![CDATA[public: int __thiscall oCNpc::MoveNpc_S(oCNpc*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_MoveNpc_S : oCNpc { int operator()(oCNpc*); };
BindedHook Ivk_oCNpc_MoveNpc_S{ ZENFOR(0x006B6A10, 0x006EB340, 0x006FE3D0, 0x0075D350), &oCNpc_MoveNpc_S::operator() };
int oCNpc_MoveNpc_S::operator()(oCNpc* a0)
{
	int result = THISCALL(Ivk_oCNpc_MoveNpc_S)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>