<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCCSPlayer::VectorDeletingDestructoradjustor{36}(unsigned int): void*]]></Title>
			<Description><![CDATA[public: virtual void* __thiscall oCCSPlayer::VectorDeletingDestructoradjustor{36}(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCCSPlayer_VectorDeletingDestructoradjustor_36_ : oCCSPlayer { void* operator()(unsigned int); };
BindedHook Ivk_oCCSPlayer_VectorDeletingDestructoradjustor_36_{ ZENFOR(0x00403B00, 0x00404260, 0x00403C80, 0x00403C80), &oCCSPlayer_VectorDeletingDestructoradjustor_36_::operator() };
void* oCCSPlayer_VectorDeletingDestructoradjustor_36_::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_oCCSPlayer_VectorDeletingDestructoradjustor_36_)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>