<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCVisualFX::SetInflictor(zCVob*): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall oCVisualFX::SetInflictor(zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCVisualFX_SetInflictor : oCVisualFX { void operator()(zCVob*); };
BindedHook Ivk_oCVisualFX_SetInflictor{ ZENFOR(0x00489340, 0x004949C0, 0x0048F890, 0x00491220), &oCVisualFX_SetInflictor::operator() };
void oCVisualFX_SetInflictor::operator()(zCVob* a0)
{
	THISCALL(Ivk_oCVisualFX_SetInflictor)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>