<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpcInventory::GetAmount(int): int]]></Title>
			<Description><![CDATA[public: int __thiscall oCNpcInventory::GetAmount(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpcInventory_GetAmount : oCNpcInventory { int operator()(int); };
BindedHook Ivk_oCNpcInventory_GetAmount{ ZENFOR(0x0066CAC0, 0x0069A240, 0x006AEE80, 0x0070C970), &oCNpcInventory_GetAmount::operator() };
int oCNpcInventory_GetAmount::operator()(int a0)
{
	int result = THISCALL(Ivk_oCNpcInventory_GetAmount)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>