<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMag_Book::SetWorld(zCWorld*): void]]></Title>
			<Description><![CDATA[public: void __thiscall oCMag_Book::SetWorld(zCWorld*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMag_Book_SetWorld : oCMag_Book { void operator()(zCWorld*); };
BindedHook Ivk_oCMag_Book_SetWorld{ ZENFOR(0x0046EEC0, 0x00477D10, 0x00474720, 0x00475AC0), &oCMag_Book_SetWorld::operator() };
void oCMag_Book_SetWorld::operator()(zCWorld* a0)
{
	THISCALL(Ivk_oCMag_Book_SetWorld)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>