<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCVisualFX::CreateAndCastFX(zSTRING const&, zMAT4 const&): oCVisualFX*]]></Title>
			<Description><![CDATA[protected: oCVisualFX* __thiscall oCVisualFX::CreateAndCastFX(zSTRING const&, zMAT4 const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCVisualFX_CreateAndCastFX : oCVisualFX { oCVisualFX* operator()(zSTRING const&, zMAT4 const&); };
BindedHook Ivk_oCVisualFX_CreateAndCastFX{ ZENFOR(0x00487470, 0x00492890, 0x0048D810, 0x0048F1E0), &oCVisualFX_CreateAndCastFX::operator() };
oCVisualFX* oCVisualFX_CreateAndCastFX::operator()(zSTRING const& a0, zMAT4 const& a1)
{
	oCVisualFX* result = THISCALL(Ivk_oCVisualFX_CreateAndCastFX)(a0, a1);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>