<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCAIHuman::PC_Turn(float, int): void]]></Title>
			<Description><![CDATA[protected: void __thiscall oCAIHuman::PC_Turn(float, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCAIHuman_PC_Turn : oCAIHuman { void operator()(float, int); };
BindedHook Ivk_oCAIHuman_PC_Turn{ ZENFOR(0x00613740, 0x00636B20, 0x0063D580, 0x00699DD0), &oCAIHuman_PC_Turn::operator() };
void oCAIHuman_PC_Turn::operator()(float a0, int a1)
{
	THISCALL(Ivk_oCAIHuman_PC_Turn)(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>