<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCPortalRoomManager::GetCurNpcPortalRoomOwner(oCNpc*): oCNpc*]]></Title>
			<Description><![CDATA[public: oCNpc* __thiscall oCPortalRoomManager::GetCurNpcPortalRoomOwner(oCNpc*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct oCPortalRoomManager_GetCurNpcPortalRoomOwner : oCPortalRoomManager { oCNpc* operator()(oCNpc*); };
BindedHook Ivk_oCPortalRoomManager_GetCurNpcPortalRoomOwner{ ZENFOR(0x00000000, 0x00000000, 0x00713B30, 0x007730C0), &oCPortalRoomManager_GetCurNpcPortalRoomOwner::operator() };
oCNpc* oCPortalRoomManager_GetCurNpcPortalRoomOwner::operator()(oCNpc* a0)
{
	oCNpc* result = THISCALL(Ivk_oCPortalRoomManager_GetCurNpcPortalRoomOwner)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>