<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCNpc::CallScript(int): void]]></Title>
			<Shortcut><![CDATA[__oCNpc_CallScript_0x00756200]]></Shortcut>
			<Description><![CDATA[protected: void __thiscall oCNpc::CallScript(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCNpc_CallScript : oCNpc { void operator()(int); };
BindedHook Ivk_oCNpc_CallScript{ ZENFOR(0x006B05D0, 0x006E4520, 0x006F73D0, 0x00756200), &oCNpc_CallScript::operator() };
void oCNpc_CallScript::operator()(int a0)
{
	THISCALL(Ivk_oCNpc_CallScript)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>