<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMsgAttack::oCMsgAttack(oCMsgAttack::TAttackSubType, zCVob*, float)]]></Title>
			<Shortcut><![CDATA[__oCMsgAttack_oCMsgAttack_0x00767130]]></Shortcut>
			<Description><![CDATA[public: __thiscall oCMsgAttack::oCMsgAttack(oCMsgAttack::TAttackSubType, zCVob*, float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMsgAttack_oCMsgAttack : oCMsgAttack { oCMsgAttack* operator()(oCMsgAttack::TAttackSubType, zCVob*, float); };
BindedHook Ivk_oCMsgAttack_oCMsgAttack{ ZENFOR(0x006BFF90, 0x006F52A0, 0x00707BF0, 0x00767130), &oCMsgAttack_oCMsgAttack::operator() };
oCMsgAttack* oCMsgAttack_oCMsgAttack::operator()(oCMsgAttack::TAttackSubType a0, zCVob* a1, float a2)
{
	oCMsgAttack* result = THISCALL(Ivk_oCMsgAttack_oCMsgAttack)(a0, a1, a2);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>