<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCCSPlayer::_GetClassDef(): zCClassDef* [const]]]></Title>
			<Description><![CDATA[private: virtual zCClassDef* __thiscall oCCSPlayer::_GetClassDef() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCCSPlayer__GetClassDef : oCCSPlayer { zCClassDef* operator()() const; };
BindedHook Ivk_oCCSPlayer__GetClassDef{ ZENFOR(0x00403740, 0x00403E60, 0x004038C0, 0x004038C0), &oCCSPlayer__GetClassDef::operator() };
zCClassDef* oCCSPlayer__GetClassDef::operator()() const
{
	zCClassDef* result = THISCALL(Ivk_oCCSPlayer__GetClassDef)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>