<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCInfo::oCInfo()]]></Title>
			<Description><![CDATA[public: __thiscall oCInfo::oCInfo()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCInfo_oCInfo : oCInfo { oCInfo* operator()(); };
BindedHook Ivk_oCInfo_oCInfo{ ZENFOR(0x006654C0, 0x006927A0, 0x006A5920, 0x007033B0), &oCInfo_oCInfo::operator() };
oCInfo* oCInfo_oCInfo::operator()()
{
	oCInfo* result = THISCALL(Ivk_oCInfo_oCInfo)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>