<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[oCMsgManipulate::MD_GetSubTypeString(int): zSTRING]]></Title>
			<Shortcut><![CDATA[__oCMsgManipulate_MD_GetSubTypeString_0x00769550]]></Shortcut>
			<Description><![CDATA[public: virtual zSTRING __thiscall oCMsgManipulate::MD_GetSubTypeString(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct oCMsgManipulate_MD_GetSubTypeString : oCMsgManipulate { zSTRING operator()(int); };
BindedHook Ivk_oCMsgManipulate_MD_GetSubTypeString{ ZENFOR(0x006C23B0, 0x006F7710, 0x0070A010, 0x00769550), &oCMsgManipulate_MD_GetSubTypeString::operator() };
zSTRING oCMsgManipulate_MD_GetSubTypeString::operator()(int a0)
{
	zSTRING result = THISCALL(Ivk_oCMsgManipulate_MD_GetSubTypeString)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>