<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[ofstream::close(): void]]></Title>
			<Description><![CDATA[public: void __thiscall ofstream::close()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct ofstream_close : ofstream { void operator()(); };
BindedHook Ivk_ofstream_close{ ZENFOR(0x007753C9, 0x007B9189, 0x007C28B3, 0x007CED73), &ofstream_close::operator() };
void ofstream_close::operator()()
{
	THISCALL(Ivk_ofstream_close)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>