<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[operator+(zSTRING const&, zSTRING const&): zSTRING]]></Title>
			<Description><![CDATA[zSTRING __cdecl operator+(zSTRING const&, zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zSTRING Hook_operator_(zSTRING const&, zSTRING const&);
BindedHook Ivk_operator_{ ZENFOR(0x00404480, 0x00404C50, 0x004045C0, 0x004045C0), Hook_operator_ };
zSTRING Hook_operator_(zSTRING const& a0, zSTRING const& a1)
{
	zSTRING result = Ivk_operator_(a0, a1);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>