<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[operator new[](unsigned int, char const*, char const*, int): void*]]></Title>
			<Description><![CDATA[void* __cdecl operator new[](unsigned int, char const*, char const*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void* Hook_operator_new__(unsigned int, char const*, char const*, int);
BindedHook Ivk_operator_new__{ ZENFOR(0x0054EC00, 0x00567100, 0x00560D90, 0x00565FB0), Hook_operator_new__ };
void* Hook_operator_new__(unsigned int a0, char const* a1, char const* a2, int a3)
{
	void* result = Ivk_operator_new__(a0, a1, a2, a3);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>