<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[operator+(char const*, zSTRING const&): zSTRING]]></Title>
			<Shortcut><![CDATA[__operator__0x00404710]]></Shortcut>
			<Description><![CDATA[zSTRING __cdecl operator+(char const*, zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zSTRING Hook_operator_(char const*, zSTRING const&);
BindedHook Ivk_operator_{ ZENFOR(0x004045D0, 0x00404DA0, 0x00404710, 0x00404710), Hook_operator_ };
zSTRING Hook_operator_(char const* a0, zSTRING const& a1)
{
	zSTRING result = Ivk_operator_(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>