<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[ostream::opfx(): int]]></Title>
			<Description><![CDATA[public: int __thiscall ostream::opfx()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct ostream_opfx : ostream { int operator()(); };
BindedHook Ivk_ostream_opfx{ ZENFOR(0x00774086, 0x007B7E46, 0x007C1570, 0x007CDA30), &ostream_opfx::operator() };
int ostream_opfx::operator()()
{
	int result = THISCALL(Ivk_ostream_opfx)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>