<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[ostream::operator<<(unsigned char): ostream&]]></Title>
			<Shortcut><![CDATA[__ostream_operator___0x007CD870]]></Shortcut>
			<Description><![CDATA[public: ostream& __thiscall ostream::operator<<(unsigned char)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct ostream_operator__ : ostream { ostream& operator()(unsigned char); };
BindedHook Ivk_ostream_operator__{ ZENFOR(0x00773EC6, 0x007B7C86, 0x007C13B0, 0x007CD870), &ostream_operator__::operator() };
ostream& ostream_operator__::operator()(unsigned char a0)
{
	ostream& result = THISCALL(Ivk_ostream_operator__)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>