<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[RotateVec(zVEC3&, zVEC3&, float, float): zVEC3]]></Title>
			<Shortcut><![CDATA[__RotateVec_0x00735A40]]></Shortcut>
			<Description><![CDATA[zVEC3 __cdecl RotateVec(zVEC3&, zVEC3&, float, float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zVEC3 Hook_RotateVec(zVEC3&, zVEC3&, float, float);
BindedHook Ivk_RotateVec{ ZENFOR(0x006927C0, 0x006C3E70, 0x006D72E0, 0x00735A40), Hook_RotateVec };
zVEC3 Hook_RotateVec(zVEC3& a0, zVEC3& a1, float a2, float a3)
{
	zVEC3 result = Ivk_RotateVec(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>