<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[streambuf::xsgetn(char*, int): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall streambuf::xsgetn(char*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct streambuf_xsgetn : streambuf { int operator()(char*, int); };
BindedHook Ivk_streambuf_xsgetn{ ZENFOR(0x00775F04, 0x007B9CC4, 0x007C33EE, 0x007CF8AE), &streambuf_xsgetn::operator() };
int streambuf_xsgetn::operator()(char* a0, int a1)
{
	int result = THISCALL(Ivk_streambuf_xsgetn)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>