<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[std::basic_string<char, std::char_traits<char>, std::allocator<char>>::_Copy(unsigned int): void]]></Title>
			<Shortcut><![CDATA[__std__basic_string_char__std__char_traits_char___std__allocator_0x004032E0]]></Shortcut>
			<Description><![CDATA[private: void __thiscall std::basic_string<char, std::char_traits<char>, std::allocator<char>>::_Copy(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct std__basic_string_char__std__char_traits_char___std__allocator_char____Copy : std::basic_string<char, std::char_traits<char>, std::allocator<char>> { void operator()(unsigned int); };
BindedHook Ivk_std__basic_string_char__std__char_traits_char___std__allocator_char____Copy{ ZENFOR(0x00403330, 0x00403790, 0x004032E0, 0x004032E0), &std__basic_string_char__std__char_traits_char___std__allocator_char____Copy::operator() };
void std__basic_string_char__std__char_traits_char___std__allocator_char____Copy::operator()(unsigned int a0)
{
	THISCALL(Ivk_std__basic_string_char__std__char_traits_char___std__allocator_char____Copy)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>