<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[std::logic_error::_Doraise(): void [const]]]></Title>
			<Shortcut><![CDATA[__std__logic_error__Doraise_0x007CFB16]]></Shortcut>
			<Description><![CDATA[protected: virtual void __thiscall std::logic_error::_Doraise()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct std__logic_error__Doraise : std::logic_error { void operator()() const; };
BindedHook Ivk_std__logic_error__Doraise{ ZENFOR(0x0077616C, 0x007B9F2C, 0x007C3656, 0x007CFB16), &std__logic_error__Doraise::operator() };
void std__logic_error__Doraise::operator()() const
{
	THISCALL(Ivk_std__logic_error__Doraise)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>