<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[std::_Construct(std::pair<zCClassDef* const, zCVisual*>*, std::pair<zCClassDef* const, zCVisual*>const&): void]]></Title>
			<Description><![CDATA[void __cdecl std::_Construct(std::pair<zCClassDef* const, zCVisual*>*, std::pair<zCClassDef* const, zCVisual*>const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_std___Construct(std::pair<zCClassDef* const, zCVisual*>*, std::pair<zCClassDef* const, zCVisual*>const&);
BindedHook Ivk_std___Construct{ ZENFOR(0x005DB110, 0x005FAC20, 0x00600B70, 0x00607A20), Hook_std___Construct };
void Hook_std___Construct(std::pair<zCClassDef* const, zCVisual*>* a0, std::pair<zCClassDef* const, zCVisual*>const& a1)
{
	Ivk_std___Construct(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>