<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[streambuf::setbuf(char*, int): streambuf*]]></Title>
			<Shortcut><![CDATA[__streambuf_setbuf_0x007CF824]]></Shortcut>
			<Description><![CDATA[public: virtual streambuf* __thiscall streambuf::setbuf(char*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct streambuf_setbuf : streambuf { streambuf* operator()(char*, int); };
BindedHook Ivk_streambuf_setbuf{ ZENFOR(0x00775E7A, 0x007B9C3A, 0x007C3364, 0x007CF824), &streambuf_setbuf::operator() };
streambuf* streambuf_setbuf::operator()(char* a0, int a1)
{
	streambuf* result = THISCALL(Ivk_streambuf_setbuf)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>