<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[sysProcessIdle(): void]]></Title>
			<Shortcut><![CDATA[__sysProcessIdle_0x00505320]]></Shortcut>
			<Description><![CDATA[void __cdecl sysProcessIdle()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_sysProcessIdle();
BindedHook Ivk_sysProcessIdle{ ZENFOR(0x004F6A00, 0x00509470, 0x00502630, 0x00505320), Hook_sysProcessIdle };
void Hook_sysProcessIdle()
{
	Ivk_sysProcessIdle();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>