<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[sysAlloc(unsigned long): void*]]></Title>
			<Description><![CDATA[void* __cdecl sysAlloc(unsigned long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void* Hook_sysAlloc(unsigned long);
BindedHook Ivk_sysAlloc{ ZENFOR(0x004F3370, 0x00505D20, 0x004FF560, 0x005021E0), Hook_sysAlloc };
void* Hook_sysAlloc(unsigned long a0)
{
	void* result = Ivk_sysAlloc(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>