<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[TArray<BLTENTRY>::TArray<BLTENTRY>()]]></Title>
			<Description><![CDATA[public: __thiscall TArray<BLTENTRY>::TArray<BLTENTRY>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G2, G2A
struct TArray_BLTENTRY__TArray_BLTENTRY_ : TArray<BLTENTRY> { TArray<BLTENTRY>* operator()(); };
BindedHook Ivk_TArray_BLTENTRY__TArray_BLTENTRY_{ ZENFOR(0x0076A863, 0x00000000, 0x007B7A91, 0x007C3F57), &TArray_BLTENTRY__TArray_BLTENTRY_::operator() };
TArray<BLTENTRY>* TArray_BLTENTRY__TArray_BLTENTRY_::operator()()
{
	TArray<BLTENTRY>* result = THISCALL(Ivk_TArray_BLTENTRY__TArray_BLTENTRY_)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>