<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[terminate(): void]]></Title>
			<Description><![CDATA[void __cdecl terminate()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_terminate();
BindedHook Ivk_terminate{ ZENFOR(0x0077BE6B, 0x007BFC2B, 0x007C928B, 0x007D574B), Hook_terminate };
void Hook_terminate()
{
	Ivk_terminate();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>