<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[vidSetColorKey(SURFACE*, unsigned long): int]]></Title>
			<Shortcut><![CDATA[__vidSetColorKey_0x004FE880]]></Shortcut>
			<Description><![CDATA[int __cdecl vidSetColorKey(SURFACE*, unsigned long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[int Hook_vidSetColorKey(SURFACE*, unsigned long);
BindedHook Ivk_vidSetColorKey{ ZENFOR(0x004F0340, 0x00502C20, 0x004FBC00, 0x004FE880), Hook_vidSetColorKey };
int Hook_vidSetColorKey(SURFACE* a0, unsigned long a1)
{
	int result = Ivk_vidSetColorKey(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>