<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[vidToggleFullScreenMode(): void]]></Title>
			<Description><![CDATA[void __fastcall vidToggleFullScreenMode()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void __fastcall Hook_vidToggleFullScreenMode();
BindedHook Ivk_vidToggleFullScreenMode{ ZENFOR(0x004F07D0, 0x005030C0, 0x004FC090, 0x004FED10), Hook_vidToggleFullScreenMode };
void __fastcall Hook_vidToggleFullScreenMode()
{
	Ivk_vidToggleFullScreenMode();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>