<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZone::EndMovement(): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCZone::EndMovement()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A, G2
struct zCZone_EndMovement : zCZone { void operator()(); };
BindedHook Ivk_zCZone_EndMovement{ ZENFOR(0x0060BB70, 0x0062E090, 0x006349D0, 0x00000000), &zCZone_EndMovement::operator() };
void zCZone_EndMovement::operator()()
{
	THISCALL(Ivk_zCZone_EndMovement)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>