<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMemPoolBase::zCMemPoolBase(unsigned int, unsigned int, unsigned int)]]></Title>
			<Shortcut><![CDATA[__zCMemPoolBase_zCMemPoolBase_0x00566400]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCMemPoolBase::zCMemPoolBase(unsigned int, unsigned int, unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMemPoolBase_zCMemPoolBase : zCMemPoolBase { zCMemPoolBase* operator()(unsigned int, unsigned int, unsigned int); };
BindedHook Ivk_zCMemPoolBase_zCMemPoolBase{ ZENFOR(0x0054F090, 0x005675B0, 0x005611E0, 0x00566400), &zCMemPoolBase_zCMemPoolBase::operator() };
zCMemPoolBase* zCMemPoolBase_zCMemPoolBase::operator()(unsigned int a0, unsigned int a1, unsigned int a2)
{
	zCMemPoolBase* result = THISCALL(Ivk_zCMemPoolBase_zCMemPoolBase)(a0, a1, a2);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>