<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCutscene::SerializeBlock(zCCSBlockBase*, zTCSBlockPosition&): void]]></Title>
			<Description><![CDATA[protected: void __thiscall zCCutscene::SerializeBlock(zCCSBlockBase*, zTCSBlockPosition&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCutscene_SerializeBlock : zCCutscene { void operator()(zCCSBlockBase*, zTCSBlockPosition&); };
BindedHook Ivk_zCCutscene_SerializeBlock{ ZENFOR(0x00417930, 0x00419760, 0x00417FC0, 0x00417FC0), &zCCutscene_SerializeBlock::operator() };
void zCCutscene_SerializeBlock::operator()(zCCSBlockBase* a0, zTCSBlockPosition& a1)
{
	THISCALL(Ivk_zCCutscene_SerializeBlock)(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>