<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::ReadPosTrack(zMAT4*): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCModelPrototype::ReadPosTrack(zMAT4*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelPrototype_ReadPosTrack : zCModelPrototype { void operator()(zMAT4*); };
BindedHook Ivk_zCModelPrototype_ReadPosTrack{ ZENFOR(0x005739F0, 0x0058D340, 0x00588C00, 0x0058E160), &zCModelPrototype_ReadPosTrack::operator() };
void zCModelPrototype_ReadPosTrack::operator()(zMAT4* a0)
{
	THISCALL(Ivk_zCModelPrototype_ReadPosTrack)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>