<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::SetModelProtoName(zSTRING const&): void]]></Title>
			<Shortcut><![CDATA[__zCModelPrototype_SetModelProtoName_0x00588F40]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCModelPrototype::SetModelProtoName(zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelPrototype_SetModelProtoName : zCModelPrototype { void operator()(zSTRING const&); };
BindedHook Ivk_zCModelPrototype_SetModelProtoName{ ZENFOR(0x0056E770, 0x00587AF0, 0x005839E0, 0x00588F40), &zCModelPrototype_SetModelProtoName::operator() };
void zCModelPrototype_SetModelProtoName::operator()(zSTRING const& a0)
{
	THISCALL(Ivk_zCModelPrototype_SetModelProtoName)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>