<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCList<zTProgressRange>::~zCList<zTProgressRange>()]]></Title>
			<Shortcut><![CDATA[__zCList_zTProgressRange___zCList_zTProgressRange__0x0046F4B0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCList<zTProgressRange>::~zCList<zTProgressRange>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCList_zTProgressRange__Destructor : zCList<zTProgressRange> { void operator()(); };
BindedHook Ivk_zCList_zTProgressRange__Destructor{ ZENFOR(0x0046A100, 0x00472270, 0x0046E880, 0x0046F4B0), &zCList_zTProgressRange__Destructor::operator() };
void zCList_zTProgressRange__Destructor::operator()()
{
	THISCALL(Ivk_zCList_zTProgressRange__Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>