<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCAICamera::GetPreviousMode(): zSTRING]]></Title>
			<Shortcut><![CDATA[__zCAICamera_GetPreviousMode_0x0069D800]]></Shortcut>
			<Description><![CDATA[public: zSTRING __thiscall zCAICamera::GetPreviousMode()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCAICamera_GetPreviousMode : zCAICamera { zSTRING operator()(); };
BindedHook Ivk_zCAICamera_GetPreviousMode{ ZENFOR(0x00000000, 0x00000000, 0x00641030, 0x0069D800), &zCAICamera_GetPreviousMode::operator() };
zSTRING zCAICamera_GetPreviousMode::operator()()
{
	zSTRING result = THISCALL(Ivk_zCAICamera_GetPreviousMode)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>