<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArraySort<zCMenuItem*>::Search(zCMenuItem* const&): int [const]]]></Title>
			<Description><![CDATA[public: int __thiscall zCArraySort<zCMenuItem*>::Search(zCMenuItem* const&) const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArraySort_zCMenuItem___Search : zCArraySort<zCMenuItem*> { int operator()(zCMenuItem* const&) const; };
BindedHook Ivk_zCArraySort_zCMenuItem___Search{ ZENFOR(0x004D9C40, 0x004EADD0, 0x004E4480, 0x004E6E30), &zCArraySort_zCMenuItem___Search::operator() };
int zCArraySort_zCMenuItem___Search::operator()(zCMenuItem* const& a0) const
{
	int result = THISCALL(Ivk_zCArraySort_zCMenuItem___Search)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>