<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMessageFilter::ProcessMessage(zCMessageFilter::zTMessageType, zCVob*): void]]></Title>
			<Shortcut><![CDATA[__zCMessageFilter_ProcessMessage_0x00618620]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCMessageFilter::ProcessMessage(zCMessageFilter::zTMessageType, zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMessageFilter_ProcessMessage : zCMessageFilter { void operator()(zCMessageFilter::zTMessageType, zCVob*); };
BindedHook Ivk_zCMessageFilter_ProcessMessage{ ZENFOR(0x005EB320, 0x0060B950, 0x00610F60, 0x00618620), &zCMessageFilter_ProcessMessage::operator() };
void zCMessageFilter_ProcessMessage::operator()(zCMessageFilter::zTMessageType a0, zCVob* a1)
{
	THISCALL(Ivk_zCMessageFilter_ProcessMessage)(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>