<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMesh::CheckRayPolyIntersection(zCCamera&, int, int, zVEC3&): zCPolygon*]]></Title>
			<Description><![CDATA[public: zCPolygon* __thiscall zCMesh::CheckRayPolyIntersection(zCCamera&, int, int, zVEC3&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMesh_CheckRayPolyIntersection : zCMesh { zCPolygon* operator()(zCCamera&, int, int, zVEC3&); };
BindedHook Ivk_zCMesh_CheckRayPolyIntersection{ ZENFOR(0x00551F90, 0x0056A640, 0x00564590, 0x005697E0), &zCMesh_CheckRayPolyIntersection::operator() };
zCPolygon* zCMesh_CheckRayPolyIntersection::operator()(zCCamera& a0, int a1, int a2, zVEC3& a3)
{
	zCPolygon* result = THISCALL(Ivk_zCMesh_CheckRayPolyIntersection)(a0, a1, a2, a3);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>