<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::ReadScene(float&): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCModelPrototype::ReadScene(float&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelPrototype_ReadScene : zCModelPrototype { void operator()(float&); };
BindedHook Ivk_zCModelPrototype_ReadScene{ ZENFOR(0x00570D30, 0x0058A2B0, 0x00585F10, 0x0058B470), &zCModelPrototype_ReadScene::operator() };
void zCModelPrototype_ReadScene::operator()(float& a0)
{
	THISCALL(Ivk_zCModelPrototype_ReadScene)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>