<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZoneReverb::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCZoneReverb_VectorDeletingDestructor_0x0063F450]]></Shortcut>
			<Description><![CDATA[public: virtual void* __thiscall zCZoneReverb::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G2A
struct zCZoneReverb_VectorDeletingDestructor : zCZoneReverb { void* operator()(unsigned int); };
BindedHook Ivk_zCZoneReverb_VectorDeletingDestructor{ ZENFOR(0x0060E8B0, 0x00000000, 0x00000000, 0x0063F450), &zCZoneReverb_VectorDeletingDestructor::operator() };
void* zCZoneReverb_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCZoneReverb_VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>