<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCViewObject::RemoveChild(zCViewObject*): void]]></Title>
			<Shortcut><![CDATA[__zCViewObject_RemoveChild_0x00691BB0]]></Shortcut>
			<Description><![CDATA[public: void __fastcall zCViewObject::RemoveChild(zCViewObject*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCViewObject_RemoveChild : zCViewObject { void __fastcall operator()(zCViewObject*); };
BindedHook Ivk_zCViewObject_RemoveChild{ ZENFOR(0x00755060, 0x007974E0, 0x007A1E00, 0x00691BB0), &zCViewObject_RemoveChild::operator() };
void __fastcall zCViewObject_RemoveChild::operator()(zCViewObject* a0)
{
	THISCALL(Ivk_zCViewObject_RemoveChild)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>