<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zCTransfer>::zCArray<zCTransfer>()]]></Title>
			<Description><![CDATA[public: __thiscall zCArray<zCTransfer>::zCArray<zCTransfer>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1
struct zCArray_zCTransfer__zCArray_zCTransfer_ : zCArray<zCTransfer> { zCArray<zCTransfer>* operator()(); };
BindedHook Ivk_zCArray_zCTransfer__zCArray_zCTransfer_{ ZENFOR(0x00600E60, 0x00000000, 0x00000000, 0x00000000), &zCArray_zCTransfer__zCArray_zCTransfer_::operator() };
zCArray<zCTransfer>* zCArray_zCTransfer__zCArray_zCTransfer_::operator()()
{
	zCArray<zCTransfer>* result = THISCALL(Ivk_zCArray_zCTransfer__zCArray_zCTransfer_)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>