<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFontMan::GetNumber(): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCFontMan::GetNumber()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFontMan_GetNumber : zCFontMan { int operator()(); };
BindedHook Ivk_zCFontMan_GetNumber{ ZENFOR(0x006DF210, 0x00717690, 0x00728A60, 0x007884A0), &zCFontMan_GetNumber::operator() };
int zCFontMan_GetNumber::operator()()
{
	int result = THISCALL(Ivk_zCFontMan_GetNumber)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>