<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVobSpot::_CreateNewInstance(): zCObject*]]></Title>
			<Description><![CDATA[private: static zCObject* __cdecl zCVobSpot::_CreateNewInstance()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zCObject* Hook_zCVobSpot__CreateNewInstance();
BindedHook Ivk_zCVobSpot__CreateNewInstance{ ZENFOR(0x00709930, 0x00744760, 0x00753B10, 0x007B3610), Hook_zCVobSpot__CreateNewInstance };
zCObject* Hook_zCVobSpot__CreateNewInstance()
{
	zCObject* result = Ivk_zCVobSpot__CreateNewInstance();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>