<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSkyControler_Outdoor::SetWeatherType(zTWeather): void]]></Title>
			<Shortcut><![CDATA[__zCSkyControler_Outdoor_SetWeatherType_0x005EB830]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall zCSkyControler_Outdoor::SetWeatherType(zTWeather)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCSkyControler_Outdoor_SetWeatherType : zCSkyControler_Outdoor { void operator()(zTWeather); };
BindedHook Ivk_zCSkyControler_Outdoor_SetWeatherType{ ZENFOR(0x00000000, 0x00000000, 0x005E4A80, 0x005EB830), &zCSkyControler_Outdoor_SetWeatherType::operator() };
void zCSkyControler_Outdoor_SetWeatherType::operator()(zTWeather a0)
{
	THISCALL(Ivk_zCSkyControler_Outdoor_SetWeatherType)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>