<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRenderManager::zCRenderManager()]]></Title>
			<Description><![CDATA[public: __thiscall zCRenderManager::zCRenderManager()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRenderManager_zCRenderManager : zCRenderManager { zCRenderManager* operator()(); };
BindedHook Ivk_zCRenderManager_zCRenderManager{ ZENFOR(0x005B1650, 0x005CE830, 0x005D0810, 0x005D73D0), &zCRenderManager_zCRenderManager::operator() };
zCRenderManager* zCRenderManager_zCRenderManager::operator()()
{
	zCRenderManager* result = THISCALL(Ivk_zCRenderManager_zCRenderManager)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>