<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSparseArray<void const*, int>::IndexPtr(unsigned long): void* [const]]]></Title>
			<Description><![CDATA[protected: virtual void* __thiscall zCSparseArray<void const*, int>::IndexPtr(unsigned long)const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSparseArray_void_const___int__IndexPtr : zCSparseArray<void const*, int> { void* operator()(unsigned long) const; };
BindedHook Ivk_zCSparseArray_void_const___int__IndexPtr{ ZENFOR(0x00526AF0, 0x0053CEE0, 0x00537340, 0x0053C140), &zCSparseArray_void_const___int__IndexPtr::operator() };
void* zCSparseArray_void_const___int__IndexPtr::operator()(unsigned long a0) const
{
	void* result = THISCALL(Ivk_zCSparseArray_void_const___int__IndexPtr)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>