<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWorld::TraceRayNearestHit(zVEC3 const&, zVEC3 const&, zCVob*, int): int]]></Title>
			<Shortcut><![CDATA[__zCWorld_TraceRayNearestHit_0x00621FA0]]></Shortcut>
			<Description><![CDATA[public: int __fastcall zCWorld::TraceRayNearestHit(zVEC3 const&, zVEC3 const&, zCVob*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWorld_TraceRayNearestHit : zCWorld { int __fastcall operator()(zVEC3 const&, zVEC3 const&, zCVob*, int); };
BindedHook Ivk_zCWorld_TraceRayNearestHit{ ZENFOR(0x005F46E0, 0x00615600, 0x0061A810, 0x00621FA0), &zCWorld_TraceRayNearestHit::operator() };
int __fastcall zCWorld_TraceRayNearestHit::operator()(zVEC3 const& a0, zVEC3 const& a1, zCVob* a2, int a3)
{
	int result = THISCALL(Ivk_zCWorld_TraceRayNearestHit)(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>