<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBBox3DSorterBase::zTBoxSortHandle::zTBoxSortHandle()]]></Title>
			<Shortcut><![CDATA[__zCBBox3DSorterBase__zTBoxSortHandle_zTBoxSortHandle_0x0061FF80]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCBBox3DSorterBase::zTBoxSortHandle::zTBoxSortHandle()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBBox3DSorterBase__zTBoxSortHandle_zTBoxSortHandle : zCBBox3DSorterBase::zTBoxSortHandle { void operator()(); };
BindedHook Ivk_zCBBox3DSorterBase__zTBoxSortHandle_zTBoxSortHandle{ ZENFOR(0x005F28A0, 0x00613670, 0x00618830, 0x0061FF80), &zCBBox3DSorterBase__zTBoxSortHandle_zTBoxSortHandle::operator() };
void zCBBox3DSorterBase__zTBoxSortHandle_zTBoxSortHandle::operator()()
{
	THISCALL(Ivk_zCBBox3DSorterBase__zTBoxSortHandle_zTBoxSortHandle)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>