<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSBlock::Play(zCEventManager*, float, float): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCCSBlock::Play(zCEventManager*, float, float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSBlock_Play : zCCSBlock { void operator()(zCEventManager*, float, float); };
BindedHook Ivk_zCCSBlock_Play{ ZENFOR(0x0040D150, 0x0040E420, 0x0040D540, 0x0040D540), &zCCSBlock_Play::operator() };
void zCCSBlock_Play::operator()(zCEventManager* a0, float a1, float a2)
{
	THISCALL(Ivk_zCCSBlock_Play)(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>