<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSession::GetTime(int&, int&, int&): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCSession::GetTime(int&, int&, int&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSession_GetTime : zCSession { void operator()(int&, int&, int&); };
BindedHook Ivk_zCSession_GetTime{ ZENFOR(0x005B77D0, 0x005D5150, 0x005D7F70, 0x005DED30), &zCSession_GetTime::operator() };
void zCSession_GetTime::operator()(int& a0, int& a1, int& a2)
{
	THISCALL(Ivk_zCSession_GetTime)(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>