<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCParticleFX::UpdateParticleFX(): void]]></Title>
			<Shortcut><![CDATA[__zCParticleFX_UpdateParticleFX_0x005AF160]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCParticleFX::UpdateParticleFX()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCParticleFX_UpdateParticleFX : zCParticleFX { void operator()(); };
BindedHook Ivk_zCParticleFX_UpdateParticleFX{ ZENFOR(0x0058F130, 0x005AA850, 0x005A9A80, 0x005AF160), &zCParticleFX_UpdateParticleFX::operator() };
void zCParticleFX_UpdateParticleFX::operator()()
{
	THISCALL(Ivk_zCParticleFX_UpdateParticleFX)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>