<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTriggerUntouch::_CreateNewInstance(): zCObject*]]></Title>
			<Description><![CDATA[private: static zCObject* __cdecl zCTriggerUntouch::_CreateNewInstance()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zCObject* Hook_zCTriggerUntouch__CreateNewInstance();
BindedHook Ivk_zCTriggerUntouch__CreateNewInstance{ ZENFOR(0x005DE670, 0x005FE3E0, 0x00604130, 0x0060B7F0), Hook_zCTriggerUntouch__CreateNewInstance };
zCObject* Hook_zCTriggerUntouch__CreateNewInstance()
{
	zCObject* result = Ivk_zCTriggerUntouch__CreateNewInstance();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>