<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCamTrj_KeyFrame::Changed(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCCamTrj_KeyFrame::Changed()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCamTrj_KeyFrame_Changed : zCCamTrj_KeyFrame { void operator()(); };
BindedHook Ivk_zCCamTrj_KeyFrame_Changed{ ZENFOR(0x004B5050, 0x004C4240, 0x004BBE20, 0x004BE390), &zCCamTrj_KeyFrame_Changed::operator() };
void zCCamTrj_KeyFrame_Changed::operator()()
{
	THISCALL(Ivk_zCCamTrj_KeyFrame_Changed)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>