<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVobLight::DoAnimation(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCVobLight::DoAnimation()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVobLight_DoAnimation : zCVobLight { void operator()(); };
BindedHook Ivk_zCVobLight_DoAnimation{ ZENFOR(0x005DB820, 0x005FB340, 0x00601270, 0x006081C0), &zCVobLight_DoAnimation::operator() };
void zCVobLight_DoAnimation::operator()()
{
	THISCALL(Ivk_zCVobLight_DoAnimation)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>