<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCutscene::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCCutscene_ScalarDeletingDestructor_0x0040E5E0]]></Shortcut>
			<Description><![CDATA[public: virtual void* __thiscall zCCutscene::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G2, G2A
struct zCCutscene_ScalarDeletingDestructor : zCCutscene { void* operator()(unsigned int); };
BindedHook Ivk_zCCutscene_ScalarDeletingDestructor{ ZENFOR(0x0040E200, 0x00000000, 0x0040E5E0, 0x0040E5E0), &zCCutscene_ScalarDeletingDestructor::operator() };
void* zCCutscene_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCCutscene_ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>