<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSManager::PoolResetByDay(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCCSManager::PoolResetByDay()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSManager_PoolResetByDay : zCCSManager { void operator()(); };
BindedHook Ivk_zCCSManager_PoolResetByDay{ ZENFOR(0x0041AAE0, 0x0041CAD0, 0x0041AF10, 0x0041AF10), &zCCSManager_PoolResetByDay::operator() };
void zCCSManager_PoolResetByDay::operator()()
{
	THISCALL(Ivk_zCCSManager_PoolResetByDay)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>