<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMesh::AddPoly(): zCPolygon*]]></Title>
			<Description><![CDATA[public: zCPolygon* __thiscall zCMesh::AddPoly()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMesh_AddPoly : zCMesh { zCPolygon* operator()(); };
BindedHook Ivk_zCMesh_AddPoly{ ZENFOR(0x005518A0, 0x00569F30, 0x00563F20, 0x00569170), &zCMesh_AddPoly::operator() };
zCPolygon* zCMesh_AddPoly::operator()()
{
	zCPolygon* result = THISCALL(Ivk_zCMesh_AddPoly)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>