<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::StopAni(int): void]]></Title>
			<Shortcut><![CDATA[__zCModel_StopAni_0x0057ABE0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCModel::StopAni(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModel_StopAni : zCModel { void operator()(int); };
BindedHook Ivk_zCModel_StopAni{ ZENFOR(0x00560E10, 0x005792A0, 0x005756C0, 0x0057ABE0), &zCModel_StopAni::operator() };
void zCModel_StopAni::operator()(int a0)
{
	THISCALL(Ivk_zCModel_StopAni)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>