<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArchiverFactory::ReadHeader(int, zCBuffer*, zFILE*, zCArchiver*&, zTArchiveMode&, int&): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCArchiverFactory::ReadHeader(int, zCBuffer*, zFILE*, zCArchiver*&, zTArchiveMode&, int&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArchiverFactory_ReadHeader : zCArchiverFactory { void operator()(int, zCBuffer*, zFILE*, zCArchiver*&, zTArchiveMode&, int&); };
BindedHook Ivk_zCArchiverFactory_ReadHeader{ ZENFOR(0x00509CC0, 0x0051E840, 0x00516D80, 0x00519B50), &zCArchiverFactory_ReadHeader::operator() };
void zCArchiverFactory_ReadHeader::operator()(int a0, zCBuffer* a1, zFILE* a2, zCArchiver*& a3, zTArchiveMode& a4, int& a5)
{
	THISCALL(Ivk_zCArchiverFactory_ReadHeader)(a0, a1, a2, a3, a4, a5);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>