<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMorphMesh::TraceRay(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCMorphMesh::TraceRay(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMorphMesh_TraceRay : zCMorphMesh { int operator()(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&); };
BindedHook Ivk_zCMorphMesh_TraceRay{ ZENFOR(0x00587A80, 0x005A2A80, 0x005A1E90, 0x005A73F0), &zCMorphMesh_TraceRay::operator() };
int zCMorphMesh_TraceRay::operator()(zVEC3 const& a0, zVEC3 const& a1, int a2, zTTraceRayReport& a3)
{
	int result = THISCALL(Ivk_zCMorphMesh_TraceRay)(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>