<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMesh::DynLightVisual(zCArray<zCVobLight*>const&, zMAT4*): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCMesh::DynLightVisual(zCArray<zCVobLight*>const&, zMAT4*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMesh_DynLightVisual : zCMesh { void operator()(zCArray<zCVobLight*>const&, zMAT4*); };
BindedHook Ivk_zCMesh_DynLightVisual{ ZENFOR(0x00551A80, 0x0056A110, 0x005640E0, 0x00569330), &zCMesh_DynLightVisual::operator() };
void zCMesh_DynLightVisual::operator()(zCArray<zCVobLight*>const& a0, zMAT4* a1)
{
	THISCALL(Ivk_zCMesh_DynLightVisual)(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>