<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSparseArray<zTOverlayIndex, zCModelPrototype*>::~zCSparseArray<zTOverlayIndex, zCModelPrototype*>()]]></Title>
			<Description><![CDATA[public: virtual __thiscall zCSparseArray<zTOverlayIndex, zCModelPrototype*>::~zCSparseArray<zTOverlayIndex, zCModelPrototype*>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSparseArray_zTOverlayIndex__zCModelPrototype___Destructor : zCSparseArray<zTOverlayIndex, zCModelPrototype*> { void operator()(); };
BindedHook Ivk_zCSparseArray_zTOverlayIndex__zCModelPrototype___Destructor{ ZENFOR(0x006BA1E0, 0x006EEDD0, 0x00701C20, 0x00760F40), &zCSparseArray_zTOverlayIndex__zCModelPrototype___Destructor::operator() };
void zCSparseArray_zTOverlayIndex__zCModelPrototype___Destructor::operator()()
{
	THISCALL(Ivk_zCSparseArray_zTOverlayIndex__zCModelPrototype___Destructor)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>