<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::UpdateVisualDependencies(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCVob::UpdateVisualDependencies()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A, G2
struct zCVob_UpdateVisualDependencies : zCVob { void operator()(); };
BindedHook Ivk_zCVob_UpdateVisualDependencies{ ZENFOR(0x005D7460, 0x005F6AA0, 0x005FBCF0, 0x00000000), &zCVob_UpdateVisualDependencies::operator() };
void zCVob_UpdateVisualDependencies::operator()()
{
	THISCALL(Ivk_zCVob_UpdateVisualDependencies)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>