<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCParticleFX::GetFileExtension(int): zSTRING const*]]></Title>
			<Description><![CDATA[protected: virtual zSTRING const* __thiscall zCParticleFX::GetFileExtension(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCParticleFX_GetFileExtension : zCParticleFX { zSTRING const* operator()(int); };
BindedHook Ivk_zCParticleFX_GetFileExtension{ ZENFOR(0x0058DC80, 0x005A92B0, 0x005A84E0, 0x005ADBA0), &zCParticleFX_GetFileExtension::operator() };
zSTRING const* zCParticleFX_GetFileExtension::operator()(int a0)
{
	zSTRING const* result = THISCALL(Ivk_zCParticleFX_GetFileExtension)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>