<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVobWaypoint::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCVobWaypoint_ScalarDeletingDestructor_0x007ACBF0]]></Shortcut>
			<Description><![CDATA[protected: virtual void* __thiscall zCVobWaypoint::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1A, G2, G2A
struct zCVobWaypoint_ScalarDeletingDestructor : zCVobWaypoint { void* operator()(unsigned int); };
BindedHook Ivk_zCVobWaypoint_ScalarDeletingDestructor{ ZENFOR(0x00000000, 0x0073D7E0, 0x0074D0F0, 0x007ACBF0), &zCVobWaypoint_ScalarDeletingDestructor::operator() };
void* zCVobWaypoint_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCVobWaypoint_ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>