<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCAICamera::CleanUp(): void]]></Title>
			<Shortcut><![CDATA[__zCAICamera_CleanUp_0x004A0850]]></Shortcut>
			<Description><![CDATA[protected: void __thiscall zCAICamera::CleanUp()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCAICamera_CleanUp : zCAICamera { void operator()(); };
BindedHook Ivk_zCAICamera_CleanUp{ ZENFOR(0x004993C0, 0x004A6460, 0x0049E370, 0x004A0850), &zCAICamera_CleanUp::operator() };
void zCAICamera_CleanUp::operator()()
{
	THISCALL(Ivk_zCAICamera_CleanUp)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>