<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCEventCore::MD_GetNumOfSubTypes(): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCEventCore::MD_GetNumOfSubTypes()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCEventCore_MD_GetNumOfSubTypes : zCEventCore { int operator()(); };
BindedHook Ivk_zCEventCore_MD_GetNumOfSubTypes{ ZENFOR(0x00401FF0, 0x00402420, 0x00402140, 0x00402140), &zCEventCore_MD_GetNumOfSubTypes::operator() };
int zCEventCore_MD_GetNumOfSubTypes::operator()()
{
	int result = THISCALL(Ivk_zCEventCore_MD_GetNumOfSubTypes)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>