<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::GetDistanceToVob2(zCVob&): float]]></Title>
			<Shortcut><![CDATA[__zCVob_GetDistanceToVob2_0x0061BA40]]></Shortcut>
			<Description><![CDATA[public: float __thiscall zCVob::GetDistanceToVob2(zCVob&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVob_GetDistanceToVob2 : zCVob { float operator()(zCVob&); };
BindedHook Ivk_zCVob_GetDistanceToVob2{ ZENFOR(0x005EE530, 0x0060EDA0, 0x00614370, 0x0061BA40), &zCVob_GetDistanceToVob2::operator() };
float zCVob_GetDistanceToVob2::operator()(zCVob& a0)
{
	float result = THISCALL(Ivk_zCVob_GetDistanceToVob2)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>