<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArraySort<zTAniAttachment*>::Search(zTAniAttachment* const&): int [const]]]></Title>
			<Description><![CDATA[public: int __thiscall zCArraySort<zTAniAttachment*>::Search(zTAniAttachment* const&)const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArraySort_zTAniAttachment___Search : zCArraySort<zTAniAttachment*> { int operator()(zTAniAttachment* const&) const; };
BindedHook Ivk_zCArraySort_zTAniAttachment___Search{ ZENFOR(0x00569480, 0x00582300, 0x0057E8F0, 0x00583E50), &zCArraySort_zTAniAttachment___Search::operator() };
int zCArraySort_zTAniAttachment___Search::operator()(zTAniAttachment* const& a0) const
{
	int result = THISCALL(Ivk_zCArraySort_zTAniAttachment___Search)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>