<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSkyControler::ClearBackground(zCOLOR): void]]></Title>
			<Description><![CDATA[protected: void __thiscall zCSkyControler::ClearBackground(zCOLOR)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSkyControler_ClearBackground : zCSkyControler { void operator()(zCOLOR); };
BindedHook Ivk_zCSkyControler_ClearBackground{ ZENFOR(0x005BA2F0, 0x005D7E20, 0x005D8B80, 0x005DF930), &zCSkyControler_ClearBackground::operator() };
void zCSkyControler_ClearBackground::operator()(zCOLOR a0)
{
	THISCALL(Ivk_zCSkyControler_ClearBackground)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>