<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPar_Symbol::GetDataAdr(int): void*]]></Title>
			<Shortcut><![CDATA[__zCPar_Symbol_GetDataAdr_0x007A1A40]]></Shortcut>
			<Description><![CDATA[public: void* __thiscall zCPar_Symbol::GetDataAdr(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPar_Symbol_GetDataAdr : zCPar_Symbol { void* operator()(int); };
BindedHook Ivk_zCPar_Symbol_GetDataAdr{ ZENFOR(0x006F8140, 0x007322E0, 0x00742000, 0x007A1A40), &zCPar_Symbol_GetDataAdr::operator() };
void* zCPar_Symbol_GetDataAdr::operator()(int a0)
{
	void* result = THISCALL(Ivk_zCPar_Symbol_GetDataAdr)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>