<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetVobControl::Archive(zCArchiver&): void]]></Title>
			<Description><![CDATA[protected: virtual void __thiscall zCNetVobControl::Archive(zCArchiver&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetVobControl_Archive : zCNetVobControl { void operator()(zCArchiver&); };
BindedHook Ivk_zCNetVobControl_Archive{ ZENFOR(0x00459E40, 0x004611D0, 0x0045EA20, 0x0045F170), &zCNetVobControl_Archive::operator() };
void zCNetVobControl_Archive::operator()(zCArchiver& a0)
{
	THISCALL(Ivk_zCNetVobControl_Archive)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>