<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCParser::Error(): int]]></Title>
			<Shortcut><![CDATA[__zCParser_Error_0x0078E730]]></Shortcut>
			<Description><![CDATA[public: int __thiscall zCParser::Error()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCParser_Error : zCParser { int operator()(); };
BindedHook Ivk_zCParser_Error{ ZENFOR(0x006E54B0, 0x0071DF40, 0x0072ECF0, 0x0078E730), &zCParser_Error::operator() };
int zCParser_Error::operator()()
{
	int result = THISCALL(Ivk_zCParser_Error)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>