<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWayNet::InsertInClosed(zCWaypoint*): void]]></Title>
			<Shortcut><![CDATA[__zCWayNet_InsertInClosed_0x007B0750]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCWayNet::InsertInClosed(zCWaypoint*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWayNet_InsertInClosed : zCWayNet { void operator()(zCWaypoint*); };
BindedHook Ivk_zCWayNet_InsertInClosed{ ZENFOR(0x00706B50, 0x00741660, 0x00750C50, 0x007B0750), &zCWayNet_InsertInClosed::operator() };
void zCWayNet_InsertInClosed::operator()(zCWaypoint* a0)
{
	THISCALL(Ivk_zCWayNet_InsertInClosed)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>