<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTex_D3D::CopyPaletteDataTo(void*): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCTex_D3D::CopyPaletteDataTo(void*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTex_D3D_CopyPaletteDataTo : zCTex_D3D { int operator()(void*); };
BindedHook Ivk_zCTex_D3D_CopyPaletteDataTo{ ZENFOR(0x0071BE90, 0x007582C0, 0x00767C80, 0x006545E0), &zCTex_D3D_CopyPaletteDataTo::operator() };
int zCTex_D3D_CopyPaletteDataTo::operator()(void* a0)
{
	int result = THISCALL(Ivk_zCTex_D3D_CopyPaletteDataTo)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>