<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWorld::_GetClassDef(): zCClassDef* [const]]]></Title>
			<Description><![CDATA[private: virtual zCClassDef* __thiscall zCWorld::_GetClassDef()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWorld__GetClassDef : zCWorld { zCClassDef* operator()() const; };
BindedHook Ivk_zCWorld__GetClassDef{ ZENFOR(0x005F2960, 0x00613730, 0x006188F0, 0x00620040), &zCWorld__GetClassDef::operator() };
zCClassDef* zCWorld__GetClassDef::operator()() const
{
	zCClassDef* result = THISCALL(Ivk_zCWorld__GetClassDef)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>