<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCObjectFactory::CreateEventManager(zCVob*): zCEventManager*]]></Title>
			<Description><![CDATA[public: virtual zCEventManager* __thiscall zCObjectFactory::CreateEventManager(zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCObjectFactory_CreateEventManager : zCObjectFactory { zCEventManager* operator()(zCVob*); };
BindedHook Ivk_zCObjectFactory_CreateEventManager{ ZENFOR(0x0058BDE0, 0x005A73B0, 0x005A6450, 0x005AB9B0), &zCObjectFactory_CreateEventManager::operator() };
zCEventManager* zCObjectFactory_CreateEventManager::operator()(zCVob* a0)
{
	zCEventManager* result = THISCALL(Ivk_zCObjectFactory_CreateEventManager)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>