<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRenderer::GetZBufferWriteEnabled(): int [const]]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCRenderer::GetZBufferWriteEnabled()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRenderer_GetZBufferWriteEnabled : zCRenderer { int operator()() const; };
BindedHook Ivk_zCRenderer_GetZBufferWriteEnabled{ ZENFOR(0x00713A00, 0x0074F720, 0x0075EB90, 0x0064A130), &zCRenderer_GetZBufferWriteEnabled::operator() };
int zCRenderer_GetZBufferWriteEnabled::operator()() const
{
	int result = THISCALL(Ivk_zCRenderer_GetZBufferWriteEnabled)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>