<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArraySort<zCTexture*>::~zCArraySort<zCTexture*>()]]></Title>
			<Description><![CDATA[public: __thiscall zCArraySort<zCTexture*>::~zCArraySort<zCTexture*>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArraySort_zCTexture___Destructor : zCArraySort<zCTexture*> { void operator()(); };
BindedHook Ivk_zCArraySort_zCTexture___Destructor{ ZENFOR(0x0055C460, 0x00574520, 0x005709E0, 0x00575C90), &zCArraySort_zCTexture___Destructor::operator() };
void zCArraySort_zCTexture___Destructor::operator()()
{
	THISCALL(Ivk_zCArraySort_zCTexture___Destructor)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>