<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCutscene::TryToCancel(): int]]></Title>
			<Shortcut><![CDATA[__zCCutscene_TryToCancel_0x00417C10]]></Shortcut>
			<Description><![CDATA[public: int __thiscall zCCutscene::TryToCancel()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCutscene_TryToCancel : zCCutscene { int operator()(); };
BindedHook Ivk_zCCutscene_TryToCancel{ ZENFOR(0x00417550, 0x00419390, 0x00417C10, 0x00417C10), &zCCutscene_TryToCancel::operator() };
int zCCutscene_TryToCancel::operator()()
{
	int result = THISCALL(Ivk_zCCutscene_TryToCancel)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>