<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVertexBuffer_D3D::GetVertexType(): zTVBufferVertexType]]></Title>
			<Description><![CDATA[public: virtual zTVBufferVertexType __thiscall zCVertexBuffer_D3D::GetVertexType()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVertexBuffer_D3D_GetVertexType : zCVertexBuffer_D3D { zTVBufferVertexType operator()(); };
BindedHook Ivk_zCVertexBuffer_D3D_GetVertexType{ ZENFOR(0x0071EBD0, 0x0075B370, 0x0076A990, 0x006574C0), &zCVertexBuffer_D3D_GetVertexType::operator() };
zTVBufferVertexType zCVertexBuffer_D3D_GetVertexType::operator()()
{
	zTVBufferVertexType result = THISCALL(Ivk_zCVertexBuffer_D3D_GetVertexType)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>