<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFont::MapToAscii(char): char]]></Title>
			<Description><![CDATA[private: char __thiscall zCFont::MapToAscii(char)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFont_MapToAscii : zCFont { char operator()(char); };
BindedHook Ivk_zCFont_MapToAscii{ ZENFOR(0x006E0260, 0x00718890, 0x00729B00, 0x00789540), &zCFont_MapToAscii::operator() };
char zCFont_MapToAscii::operator()(char a0)
{
	char result = THISCALL(Ivk_zCFont_MapToAscii)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>