<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::RegisterMesh(zCFileBIN&): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCModelPrototype::RegisterMesh(zCFileBIN&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCModelPrototype_RegisterMesh : zCModelPrototype { void operator()(zCFileBIN&); };
BindedHook Ivk_zCModelPrototype_RegisterMesh{ ZENFOR(0x00000000, 0x00000000, 0x0058E6E0, 0x00593C40), &zCModelPrototype_RegisterMesh::operator() };
void zCModelPrototype_RegisterMesh::operator()(zCFileBIN& a0)
{
	THISCALL(Ivk_zCModelPrototype_RegisterMesh)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>