<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVobSound::~zCVobSound()]]></Title>
			<Description><![CDATA[protected: virtual __thiscall zCVobSound::~zCVobSound()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVobSound_Destructor : zCVobSound { void operator()(); };
BindedHook Ivk_zCVobSound_Destructor{ ZENFOR(0x0060CAA0, 0x0062F000, 0x00635D50, 0x0063D530), &zCVobSound_Destructor::operator() };
void zCVobSound_Destructor::operator()()
{
	THISCALL(Ivk_zCVobSound_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>