<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSession::zCSession()]]></Title>
			<Description><![CDATA[public: __thiscall zCSession::zCSession()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSession_zCSession : zCSession { zCSession* operator()(); };
BindedHook Ivk_zCSession_zCSession{ ZENFOR(0x005B7230, 0x005D4BA0, 0x005D7990, 0x005DE750), &zCSession_zCSession::operator() };
zCSession* zCSession_zCSession::operator()()
{
	zCSession* result = THISCALL(Ivk_zCSession_zCSession)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>