<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::RemoveAllAniAttachments(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCModel::RemoveAllAniAttachments()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModel_RemoveAllAniAttachments : zCModel { void operator()(); };
BindedHook Ivk_zCModel_RemoveAllAniAttachments{ ZENFOR(0x00568CB0, 0x00581AD0, 0x0057E010, 0x00583570), &zCModel_RemoveAllAniAttachments::operator() };
void zCModel_RemoveAllAniAttachments::operator()()
{
	THISCALL(Ivk_zCModel_RemoveAllAniAttachments)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>