<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBuffer::~zCBuffer()]]></Title>
			<Shortcut><![CDATA[__zCBuffer__zCBuffer_0x00440C70]]></Shortcut>
			<Description><![CDATA[public: virtual __thiscall zCBuffer::~zCBuffer()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBuffer_Destructor : zCBuffer { void operator()(); };
BindedHook Ivk_zCBuffer_Destructor{ ZENFOR(0x0043CED0, 0x004420A0, 0x00440640, 0x00440C70), &zCBuffer_Destructor::operator() };
void zCBuffer_Destructor::operator()()
{
	THISCALL(Ivk_zCBuffer_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>