<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFileCSV::~zCFileCSV()]]></Title>
			<Shortcut><![CDATA[__zCFileCSV__zCFileCSV_0x0044EC90]]></Shortcut>
			<Description><![CDATA[public: virtual __thiscall zCFileCSV::~zCFileCSV()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFileCSV_Destructor : zCFileCSV { void operator()(); };
BindedHook Ivk_zCFileCSV_Destructor{ ZENFOR(0x0044A510, 0x004508B0, 0x0044E540, 0x0044EC90), &zCFileCSV_Destructor::operator() };
void zCFileCSV_Destructor::operator()()
{
	THISCALL(Ivk_zCFileCSV_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>