<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPlayerInfo::Pack(zCBuffer&): void]]></Title>
			<Description><![CDATA[protected: virtual void __thiscall zCPlayerInfo::Pack(zCBuffer&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPlayerInfo_Pack : zCPlayerInfo { void operator()(zCBuffer&); };
BindedHook Ivk_zCPlayerInfo_Pack{ ZENFOR(0x00462BE0, 0x0046A670, 0x00467650, 0x00468280), &zCPlayerInfo_Pack::operator() };
void zCPlayerInfo_Pack::operator()(zCBuffer& a0)
{
	THISCALL(Ivk_zCPlayerInfo_Pack)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>