<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRayCache::HitList(): zCArray<unsigned short>& [const]]]></Title>
			<Description><![CDATA[public: zCArray<unsigned short>& __thiscall zCRayCache::HitList() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRayCache_HitList : zCRayCache { zCArray<unsigned short>& operator()() const; };
BindedHook Ivk_zCRayCache_HitList{ ZENFOR(0x005ADB40, 0x005CAAB0, 0x005CC0C0, 0x005D2C70), &zCRayCache_HitList::operator() };
zCArray<unsigned short>& zCRayCache_HitList::operator()() const
{
	zCArray<unsigned short>& result = THISCALL(Ivk_zCRayCache_HitList)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>