<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPathSearch::zCPathSearch()]]></Title>
			<Shortcut><![CDATA[__zCPathSearch_zCPathSearch_0x004A5890]]></Shortcut>
			<Description><![CDATA[private: __thiscall zCPathSearch::zCPathSearch()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPathSearch_zCPathSearch : zCPathSearch { zCPathSearch* operator()(); };
BindedHook Ivk_zCPathSearch_zCPathSearch{ ZENFOR(0x0049DF90, 0x004AB780, 0x004A3380, 0x004A5890), &zCPathSearch_zCPathSearch::operator() };
zCPathSearch* zCPathSearch_zCPathSearch::operator()()
{
	zCPathSearch* result = THISCALL(Ivk_zCPathSearch_zCPathSearch)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>