<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPar_File::LoadTree(zFILE_STATS&, zCPar_SymbolTable&): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCPar_File::LoadTree(zFILE_STATS&, zCPar_SymbolTable&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPar_File_LoadTree : zCPar_File { int operator()(zFILE_STATS&, zCPar_SymbolTable&); };
BindedHook Ivk_zCPar_File_LoadTree{ ZENFOR(0x006E4880, 0x0071D1C0, 0x0072E080, 0x0078DAC0), &zCPar_File_LoadTree::operator() };
int zCPar_File_LoadTree::operator()(zFILE_STATS& a0, zCPar_SymbolTable& a1)
{
	int result = THISCALL(Ivk_zCPar_File_LoadTree)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>