<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCViewFX::_CreateNewInstance(): zCObject*]]></Title>
			<Description><![CDATA[private: static zCObject* __cdecl zCViewFX::_CreateNewInstance()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zCObject* Hook_zCViewFX__CreateNewInstance();
BindedHook Ivk_zCViewFX__CreateNewInstance{ ZENFOR(0x00753DF0, 0x007962B0, 0x007A0B90, 0x00690940), Hook_zCViewFX__CreateNewInstance };
zCObject* Hook_zCViewFX__CreateNewInstance()
{
	zCObject* result = Ivk_zCViewFX__CreateNewInstance();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>