<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSparseArray<oCNpc const*, zCCacheData<oCNpc const*, oCNpc::TActiveInfo>>::SizeIndex(): unsigned long [const]]]></Title>
			<Description><![CDATA[protected: virtual unsigned long __thiscall zCSparseArray<oCNpc const*, zCCacheData<oCNpc const*, oCNpc::TActiveInfo>>::SizeIndex() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSparseArray_oCNpc_const___zCCacheData_oCNpc_const___oCNpc__TActiveInfo___SizeIndex : zCSparseArray<oCNpc const*, zCCacheData<oCNpc const*, oCNpc::TActiveInfo>> { unsigned long operator()() const; };
BindedHook Ivk_zCSparseArray_oCNpc_const___zCCacheData_oCNpc_const___oCNpc__TActiveInfo___SizeIndex{ ZENFOR(0x006B9860, 0x006EE400, 0x00701210, 0x007604A0), &zCSparseArray_oCNpc_const___zCCacheData_oCNpc_const___oCNpc__TActiveInfo___SizeIndex::operator() };
unsigned long zCSparseArray_oCNpc_const___zCCacheData_oCNpc_const___oCNpc__TActiveInfo___SizeIndex::operator()() const
{
	unsigned long result = THISCALL(Ivk_zCSparseArray_oCNpc_const___zCCacheData_oCNpc_const___oCNpc__TActiveInfo___SizeIndex)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>