<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTexture::PrecacheTexAniFrames(float): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCTexture::PrecacheTexAniFrames(float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTexture_PrecacheTexAniFrames : zCTexture { void operator()(float); };
BindedHook Ivk_zCTexture_PrecacheTexAniFrames{ ZENFOR(0x005C8AB0, 0x005E7370, 0x005EC8B0, 0x005F3660), &zCTexture_PrecacheTexAniFrames::operator() };
void zCTexture_PrecacheTexAniFrames::operator()(float a0)
{
	THISCALL(Ivk_zCTexture_PrecacheTexAniFrames)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>