<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSRole::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[public: virtual void* __thiscall zCCSRole::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSRole_ScalarDeletingDestructor : zCCSRole { void* operator()(unsigned int); };
BindedHook Ivk_zCCSRole_ScalarDeletingDestructor{ ZENFOR(0x0040B740, 0x0040C870, 0x0040BA60, 0x0040BA60), &zCCSRole_ScalarDeletingDestructor::operator() };
void* zCCSRole_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCCSRole_ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>