<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSCamera::PreKFProcessing(): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCCSCamera::PreKFProcessing()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSCamera_PreKFProcessing : zCCSCamera { void operator()(); };
BindedHook Ivk_zCCSCamera_PreKFProcessing{ ZENFOR(0x004BAD60, 0x004CA250, 0x004C1C60, 0x004C41D0), &zCCSCamera_PreKFProcessing::operator() };
void zCCSCamera_PreKFProcessing::operator()()
{
	THISCALL(Ivk_zCCSCamera_PreKFProcessing)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>