<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBBox3DSorterBase::AdjustSorting(zCArraySort<zCBBox3DSorterBase::zTNode*>&, int): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCBBox3DSorterBase::AdjustSorting(zCArraySort<zCBBox3DSorterBase::zTNode*>&, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBBox3DSorterBase_AdjustSorting : zCBBox3DSorterBase { void operator()(zCArraySort<zCBBox3DSorterBase::zTNode*>&, int); };
BindedHook Ivk_zCBBox3DSorterBase_AdjustSorting{ ZENFOR(0x0060B740, 0x0062DC60, 0x006345A0, 0x0063BD70), &zCBBox3DSorterBase_AdjustSorting::operator() };
void zCBBox3DSorterBase_AdjustSorting::operator()(zCArraySort<zCBBox3DSorterBase::zTNode*>& a0, int a1)
{
	THISCALL(Ivk_zCBBox3DSorterBase_AdjustSorting)(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>