<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSPlayer::ToggleDebugInfo(): void]]></Title>
			<Shortcut><![CDATA[__zCCSPlayer_ToggleDebugInfo_0x00420C60]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCCSPlayer::ToggleDebugInfo()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSPlayer_ToggleDebugInfo : zCCSPlayer { void operator()(); };
BindedHook Ivk_zCCSPlayer_ToggleDebugInfo{ ZENFOR(0x00420510, 0x004228C0, 0x00420930, 0x00420C60), &zCCSPlayer_ToggleDebugInfo::operator() };
void zCCSPlayer_ToggleDebugInfo::operator()()
{
	THISCALL(Ivk_zCCSPlayer_ToggleDebugInfo)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>