<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::ReadMapDiffuse(zCMaterial*): void]]></Title>
			<Shortcut><![CDATA[__zCModelPrototype_ReadMapDiffuse_0x0058ED60]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCModelPrototype::ReadMapDiffuse(zCMaterial*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelPrototype_ReadMapDiffuse : zCModelPrototype { void operator()(zCMaterial*); };
BindedHook Ivk_zCModelPrototype_ReadMapDiffuse{ ZENFOR(0x005745F0, 0x0058E0B0, 0x00589800, 0x0058ED60), &zCModelPrototype_ReadMapDiffuse::operator() };
void zCModelPrototype_ReadMapDiffuse::operator()(zCMaterial* a0)
{
	THISCALL(Ivk_zCModelPrototype_ReadMapDiffuse)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>