<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZoneVobFarPlaneDefault::ThisVobAddedToWorld(zCWorld*): void]]></Title>
			<Shortcut><![CDATA[__zCZoneVobFarPlaneDefault_ThisVobAddedToWorld_0x0063D190]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall zCZoneVobFarPlaneDefault::ThisVobAddedToWorld(zCWorld*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCZoneVobFarPlaneDefault_ThisVobAddedToWorld : zCZoneVobFarPlaneDefault { void operator()(zCWorld*); };
BindedHook Ivk_zCZoneVobFarPlaneDefault_ThisVobAddedToWorld{ ZENFOR(0x0060C700, 0x0062EC70, 0x006359B0, 0x0063D190), &zCZoneVobFarPlaneDefault_ThisVobAddedToWorld::operator() };
void zCZoneVobFarPlaneDefault_ThisVobAddedToWorld::operator()(zCWorld* a0)
{
	THISCALL(Ivk_zCZoneVobFarPlaneDefault_ThisVobAddedToWorld)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>