<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWorldInfo::GetPlayerGroup(): zCPlayerGroup*]]></Title>
			<Description><![CDATA[public: zCPlayerGroup* __thiscall zCWorldInfo::GetPlayerGroup()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWorldInfo_GetPlayerGroup : zCWorldInfo { zCPlayerGroup* operator()(); };
BindedHook Ivk_zCWorldInfo_GetPlayerGroup{ ZENFOR(0x0046A790, 0x00472990, 0x0046EF50, 0x0046FB80), &zCWorldInfo_GetPlayerGroup::operator() };
zCPlayerGroup* zCWorldInfo_GetPlayerGroup::operator()()
{
	zCPlayerGroup* result = THISCALL(Ivk_zCWorldInfo_GetPlayerGroup)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>