<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVideoPlayer::Unpause(): int]]></Title>
			<Shortcut><![CDATA[__zCVideoPlayer_Unpause_0x0046E960]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCVideoPlayer::Unpause()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVideoPlayer_Unpause : zCVideoPlayer { int operator()(); };
BindedHook Ivk_zCVideoPlayer_Unpause{ ZENFOR(0x00469680, 0x004717C0, 0x0046DD30, 0x0046E960), &zCVideoPlayer_Unpause::operator() };
int zCVideoPlayer_Unpause::operator()()
{
	int result = THISCALL(Ivk_zCVideoPlayer_Unpause)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>