<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCConsole::~zCConsole()]]></Title>
			<Description><![CDATA[public: __thiscall zCConsole::~zCConsole()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCConsole_Destructor : zCConsole { void operator()(); };
BindedHook Ivk_zCConsole_Destructor{ ZENFOR(0x006D9070, 0x00710C40, 0x007227C0, 0x00782200), &zCConsole_Destructor::operator() };
void zCConsole_Destructor::operator()()
{
	THISCALL(Ivk_zCConsole_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>