<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRnd_D3D::Vid_SetDevice(int): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCRnd_D3D::Vid_SetDevice(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRnd_D3D_Vid_SetDevice : zCRnd_D3D { int operator()(int); };
BindedHook Ivk_zCRnd_D3D_Vid_SetDevice{ ZENFOR(0x0071F5F0, 0x0075BDF0, 0x0076B390, 0x00657EC0), &zCRnd_D3D_Vid_SetDevice::operator() };
int zCRnd_D3D_Vid_SetDevice::operator()(int a0)
{
	int result = THISCALL(Ivk_zCRnd_D3D_Vid_SetDevice)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>