<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMorphMesh::RemoveRandAni(zCMorphMeshAni*): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCMorphMesh::RemoveRandAni(zCMorphMeshAni*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMorphMesh_RemoveRandAni : zCMorphMesh { void operator()(zCMorphMeshAni*); };
BindedHook Ivk_zCMorphMesh_RemoveRandAni{ ZENFOR(0x00587770, 0x005A2730, 0x005A1B90, 0x005A70F0), &zCMorphMesh_RemoveRandAni::operator() };
void zCMorphMesh_RemoveRandAni::operator()(zCMorphMeshAni* a0)
{
	THISCALL(Ivk_zCMorphMesh_RemoveRandAni)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>