<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPlayerInfo::IsDeactivated(): int [const]]]></Title>
			<Shortcut><![CDATA[__zCPlayerInfo_IsDeactivated_0x00468AF0]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCPlayerInfo::IsDeactivated()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPlayerInfo_IsDeactivated : zCPlayerInfo { int operator()() const; };
BindedHook Ivk_zCPlayerInfo_IsDeactivated{ ZENFOR(0x00463410, 0x0046AF20, 0x00467EC0, 0x00468AF0), &zCPlayerInfo_IsDeactivated::operator() };
int zCPlayerInfo_IsDeactivated::operator()() const
{
	int result = THISCALL(Ivk_zCPlayerInfo_IsDeactivated)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>