<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCEventMessage::SetCutsceneMode(int): void]]></Title>
			<Shortcut><![CDATA[__zCEventMessage_SetCutsceneMode_0x00401FC0]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall zCEventMessage::SetCutsceneMode(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCEventMessage_SetCutsceneMode : zCEventMessage { void operator()(int); };
BindedHook Ivk_zCEventMessage_SetCutsceneMode{ ZENFOR(0x00401E70, 0x00402280, 0x00401FC0, 0x00401FC0), &zCEventMessage_SetCutsceneMode::operator() };
void zCEventMessage_SetCutsceneMode::operator()(int a0)
{
	THISCALL(Ivk_zCEventMessage_SetCutsceneMode)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>