<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRenderer::SetTransform(zTRnd_TrafoType, zMAT4 const&): int]]></Title>
			<Shortcut><![CDATA[__zCRenderer_SetTransform_0x0064A320]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCRenderer::SetTransform(zTRnd_TrafoType, zMAT4 const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRenderer_SetTransform : zCRenderer { int operator()(zTRnd_TrafoType, zMAT4 const&); };
BindedHook Ivk_zCRenderer_SetTransform{ ZENFOR(0x00713B80, 0x0074F8A0, 0x0075ED80, 0x0064A320), &zCRenderer_SetTransform::operator() };
int zCRenderer_SetTransform::operator()(zTRnd_TrafoType a0, zMAT4 const& a1)
{
	int result = THISCALL(Ivk_zCRenderer_SetTransform)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>