<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCDXTCCache_D3D::XDXTC_CreateSurface(int, int, int, zCDXTCCache_D3D::zD3D_Entry*): IDirectDrawSurface7*]]></Title>
			<Description><![CDATA[private: IDirectDrawSurface7* __thiscall zCDXTCCache_D3D::XDXTC_CreateSurface(int, int, int, zCDXTCCache_D3D::zD3D_Entry*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCDXTCCache_D3D_XDXTC_CreateSurface : zCDXTCCache_D3D { IDirectDrawSurface7* operator()(int, int, int, zCDXTCCache_D3D::zD3D_Entry*); };
BindedHook Ivk_zCDXTCCache_D3D_XDXTC_CreateSurface{ ZENFOR(0x0070DBA0, 0x00748D50, 0x00757ED0, 0x00643470), &zCDXTCCache_D3D_XDXTC_CreateSurface::operator() };
IDirectDrawSurface7* zCDXTCCache_D3D_XDXTC_CreateSurface::operator()(int a0, int a1, int a2, zCDXTCCache_D3D::zD3D_Entry* a3)
{
	IDirectDrawSurface7* result = THISCALL(Ivk_zCDXTCCache_D3D_XDXTC_CreateSurface)(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>