<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::CalcTransBlending(): void]]></Title>
			<Shortcut><![CDATA[__zCModel_CalcTransBlending_0x0057F8E0]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCModel::CalcTransBlending()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModel_CalcTransBlending : zCModel { void operator()(); };
BindedHook Ivk_zCModel_CalcTransBlending{ ZENFOR(0x00565860, 0x0057E1E0, 0x0057A3C0, 0x0057F8E0), &zCModel_CalcTransBlending::operator() };
void zCModel_CalcTransBlending::operator()()
{
	THISCALL(Ivk_zCModel_CalcTransBlending)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>