<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetVobControl::Process(): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCNetVobControl::Process()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetVobControl_Process : zCNetVobControl { int operator()(); };
BindedHook Ivk_zCNetVobControl_Process{ ZENFOR(0x00458BA0, 0x0045FD20, 0x0045D720, 0x0045DE70), &zCNetVobControl_Process::operator() };
int zCNetVobControl_Process::operator()()
{
	int result = THISCALL(Ivk_zCNetVobControl_Process)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>