<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCodeMaster::zCCodeMaster()]]></Title>
			<Shortcut><![CDATA[__zCCodeMaster_zCCodeMaster_0x00618B80]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCCodeMaster::zCCodeMaster()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCodeMaster_zCCodeMaster : zCCodeMaster { zCCodeMaster* operator()(); };
BindedHook Ivk_zCCodeMaster_zCCodeMaster{ ZENFOR(0x005EB8C0, 0x0060BEE0, 0x006114C0, 0x00618B80), &zCCodeMaster_zCCodeMaster::operator() };
zCCodeMaster* zCCodeMaster_zCCodeMaster::operator()()
{
	zCCodeMaster* result = THISCALL(Ivk_zCCodeMaster_zCCodeMaster)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>