<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zSEvasionSearchDesc::zSEvasionSearchOptions>::~zCArray<zSEvasionSearchDesc::zSEvasionSearchOptions>()]]></Title>
			<Shortcut><![CDATA[__zCArray_zSEvasionSearchDesc__zSEvasionSearchOptions___zCArray__0x004B04D0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCArray<zSEvasionSearchDesc::zSEvasionSearchOptions>::~zCArray<zSEvasionSearchDesc::zSEvasionSearchOptions>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zSEvasionSearchDesc__zSEvasionSearchOptions__Destructor : zCArray<zSEvasionSearchDesc::zSEvasionSearchOptions> { void operator()(); };
BindedHook Ivk_zCArray_zSEvasionSearchDesc__zSEvasionSearchOptions__Destructor{ ZENFOR(0x004A8330, 0x004B6210, 0x004ADFA0, 0x004B04D0), &zCArray_zSEvasionSearchDesc__zSEvasionSearchOptions__Destructor::operator() };
void zCArray_zSEvasionSearchDesc__zSEvasionSearchOptions__Destructor::operator()()
{
	THISCALL(Ivk_zCArray_zSEvasionSearchDesc__zSEvasionSearchOptions__Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>