<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCEvMsgCutscene::zCEvMsgCutscene(zCEvMsgCutscene::TCutsceneSubType)]]></Title>
			<Shortcut><![CDATA[__zCEvMsgCutscene_zCEvMsgCutscene_0x0040C4F0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCEvMsgCutscene::zCEvMsgCutscene(zCEvMsgCutscene::TCutsceneSubType)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCEvMsgCutscene_zCEvMsgCutscene : zCEvMsgCutscene { zCEvMsgCutscene* operator()(zCEvMsgCutscene::TCutsceneSubType); };
BindedHook Ivk_zCEvMsgCutscene_zCEvMsgCutscene{ ZENFOR(0x0040C100, 0x0040D330, 0x0040C4F0, 0x0040C4F0), &zCEvMsgCutscene_zCEvMsgCutscene::operator() };
zCEvMsgCutscene* zCEvMsgCutscene_zCEvMsgCutscene::operator()(zCEvMsgCutscene::TCutsceneSubType a0)
{
	zCEvMsgCutscene* result = THISCALL(Ivk_zCEvMsgCutscene_zCEvMsgCutscene)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>