<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::ThisVobAddedToWorld(zCWorld*): void]]></Title>
			<Shortcut><![CDATA[__zCVob_ThisVobAddedToWorld_0x00601C80]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall zCVob::ThisVobAddedToWorld(zCWorld*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVob_ThisVobAddedToWorld : zCVob { void operator()(zCWorld*); };
BindedHook Ivk_zCVob_ThisVobAddedToWorld{ ZENFOR(0x005D66B0, 0x005F5BF0, 0x005FAE50, 0x00601C80), &zCVob_ThisVobAddedToWorld::operator() };
void zCVob_ThisVobAddedToWorld::operator()(zCWorld* a0)
{
	THISCALL(Ivk_zCVob_ThisVobAddedToWorld)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>