<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBspBase::AddVobsToRenderListSubtree(int): void]]></Title>
			<Description><![CDATA[protected: void __fastcall zCBspBase::AddVobsToRenderListSubtree(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBspBase_AddVobsToRenderListSubtree : zCBspBase { void __fastcall operator()(int); };
BindedHook Ivk_zCBspBase_AddVobsToRenderListSubtree{ ZENFOR(0x0051C0F0, 0x00531D90, 0x0052BAF0, 0x0052EA40), &zCBspBase_AddVobsToRenderListSubtree::operator() };
void __fastcall zCBspBase_AddVobsToRenderListSubtree::operator()(int a0)
{
	THISCALL(Ivk_zCBspBase_AddVobsToRenderListSubtree)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>