<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCProgMeshProto::GetBBox3D(): zTBBox3D]]></Title>
			<Description><![CDATA[public: virtual zTBBox3D __thiscall zCProgMeshProto::GetBBox3D()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCProgMeshProto_GetBBox3D : zCProgMeshProto { zTBBox3D operator()(); };
BindedHook Ivk_zCProgMeshProto_GetBBox3D{ ZENFOR(0x005A4AC0, 0x005C1260, 0x005C0D50, 0x005C68C0), &zCProgMeshProto_GetBBox3D::operator() };
zTBBox3D zCProgMeshProto_GetBBox3D::operator()()
{
	zTBBox3D result = THISCALL(Ivk_zCProgMeshProto_GetBBox3D)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>