<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCBspNode::DoesNodeContainPoly(zCPolygon*): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCCBspNode::DoesNodeContainPoly(zCPolygon*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCBspNode_DoesNodeContainPoly : zCCBspNode { int operator()(zCPolygon*); };
BindedHook Ivk_zCCBspNode_DoesNodeContainPoly{ ZENFOR(0x0052A610, 0x00540CA0, 0x00538F20, 0x0053E050), &zCCBspNode_DoesNodeContainPoly::operator() };
int zCCBspNode_DoesNodeContainPoly::operator()(zCPolygon* a0)
{
	int result = THISCALL(Ivk_zCCBspNode_DoesNodeContainPoly)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>