<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::ReadMaterial(): zCMaterial*]]></Title>
			<Description><![CDATA[private: zCMaterial* __thiscall zCModelPrototype::ReadMaterial()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelPrototype_ReadMaterial : zCModelPrototype { zCMaterial* operator()(); };
BindedHook Ivk_zCModelPrototype_ReadMaterial{ ZENFOR(0x005749F0, 0x0058E530, 0x00589C70, 0x0058F1D0), &zCModelPrototype_ReadMaterial::operator() };
zCMaterial* zCModelPrototype_ReadMaterial::operator()()
{
	zCMaterial* result = THISCALL(Ivk_zCModelPrototype_ReadMaterial)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>