<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zCMaterial*>::GetSafe(int): zCMaterial*& [const]]]></Title>
			<Description><![CDATA[public: zCMaterial*& __thiscall zCArray<zCMaterial*>::GetSafe(int)const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zCMaterial___GetSafe : zCArray<zCMaterial*> { zCMaterial*& operator()(int) const; };
BindedHook Ivk_zCArray_zCMaterial___GetSafe{ ZENFOR(0x00582800, 0x0059D310, 0x0059CCF0, 0x005A2250), &zCArray_zCMaterial___GetSafe::operator() };
zCMaterial*& zCArray_zCMaterial___GetSafe::operator()(int a0) const
{
	zCMaterial*& result = THISCALL(Ivk_zCArray_zCMaterial___GetSafe)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>