<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCObjectFactory::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCObjectFactory_VectorDeletingDestructor_0x00426970]]></Shortcut>
			<Description><![CDATA[protected: virtual void* __thiscall zCObjectFactory::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A, G2
struct zCObjectFactory_VectorDeletingDestructor : zCObjectFactory { void* operator()(unsigned int); };
BindedHook Ivk_zCObjectFactory_VectorDeletingDestructor{ ZENFOR(0x00425DD0, 0x00428790, 0x00426970, 0x00000000), &zCObjectFactory_VectorDeletingDestructor::operator() };
void* zCObjectFactory_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCObjectFactory_VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>