<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCBspTree::DeleteTree(): void]]></Title>
			<Shortcut><![CDATA[__zCCBspTree_DeleteTree_0x0053D190]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCCBspTree::DeleteTree()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCBspTree_DeleteTree : zCCBspTree { void operator()(); };
BindedHook Ivk_zCCBspTree_DeleteTree{ ZENFOR(0x005276A0, 0x0053DAB0, 0x00538060, 0x0053D190), &zCCBspTree_DeleteTree::operator() };
void zCCBspTree_DeleteTree::operator()()
{
	THISCALL(Ivk_zCCBspTree_DeleteTree)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>