<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFileCSV::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[public: virtual void* __thiscall zCFileCSV::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFileCSV_ScalarDeletingDestructor : zCFileCSV { void* operator()(unsigned int); };
BindedHook Ivk_zCFileCSV_ScalarDeletingDestructor{ ZENFOR(0x0044A350, 0x004506B0, 0x0044E380, 0x0044EAD0), &zCFileCSV_ScalarDeletingDestructor::operator() };
void* zCFileCSV_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCFileCSV_ScalarDeletingDestructor)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>