<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVobSound::CalcObstruction(): float]]></Title>
			<Shortcut><![CDATA[__zCVobSound_CalcObstruction_0x0063DC80]]></Shortcut>
			<Description><![CDATA[private: float __thiscall zCVobSound::CalcObstruction()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVobSound_CalcObstruction : zCVobSound { float operator()(); };
BindedHook Ivk_zCVobSound_CalcObstruction{ ZENFOR(0x0060D160, 0x0062F750, 0x00636490, 0x0063DC80), &zCVobSound_CalcObstruction::operator() };
float zCVobSound_CalcObstruction::operator()()
{
	float result = THISCALL(Ivk_zCVobSound_CalcObstruction)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>