<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTriggerBase::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCTriggerBase_ScalarDeletingDestructor_0x0060FB90]]></Shortcut>
			<Description><![CDATA[public: virtual void* __thiscall zCTriggerBase::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTriggerBase_ScalarDeletingDestructor : zCTriggerBase { void* operator()(unsigned int); };
BindedHook Ivk_zCTriggerBase_ScalarDeletingDestructor{ ZENFOR(0x005E2D20, 0x00602C30, 0x006084D0, 0x0060FB90), &zCTriggerBase_ScalarDeletingDestructor::operator() };
void* zCTriggerBase_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCTriggerBase_ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>