<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZone::~zCZone()]]></Title>
			<Description><![CDATA[protected: virtual __thiscall zCZone::~zCZone()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCZone_Destructor : zCZone { void operator()(); };
BindedHook Ivk_zCZone_Destructor{ ZENFOR(0x0060BAC0, 0x0062DFE0, 0x00634920, 0x0063C0F0), &zCZone_Destructor::operator() };
void zCZone_Destructor::operator()()
{
	THISCALL(Ivk_zCZone_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>