<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSPlayer::CSDB_Stop(zCCutscene*): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCCSPlayer::CSDB_Stop(zCCutscene*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSPlayer_CSDB_Stop : zCCSPlayer { void operator()(zCCutscene*); };
BindedHook Ivk_zCCSPlayer_CSDB_Stop{ ZENFOR(0x0041F3A0, 0x00421650, 0x0041F7A0, 0x0041FAD0), &zCCSPlayer_CSDB_Stop::operator() };
void zCCSPlayer_CSDB_Stop::operator()(zCCutscene* a0)
{
	THISCALL(Ivk_zCCSPlayer_CSDB_Stop)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>