<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRayTurboAdmin::~zCRayTurboAdmin()]]></Title>
			<Shortcut><![CDATA[__zCRayTurboAdmin__zCRayTurboAdmin_0x0053A7C0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCRayTurboAdmin::~zCRayTurboAdmin()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2A
struct zCRayTurboAdmin_Destructor : zCRayTurboAdmin { void operator()(); };
BindedHook Ivk_zCRayTurboAdmin_Destructor{ ZENFOR(0x00000000, 0x00000000, 0x00000000, 0x0053A7C0), &zCRayTurboAdmin_Destructor::operator() };
void zCRayTurboAdmin_Destructor::operator()()
{
	THISCALL(Ivk_zCRayTurboAdmin_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>