<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSManager::zCCSManager()]]></Title>
			<Shortcut><![CDATA[__zCCSManager_zCCSManager_0x0041A370]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCCSManager::zCCSManager()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSManager_zCCSManager : zCCSManager { zCCSManager* operator()(); };
BindedHook Ivk_zCCSManager_zCCSManager{ ZENFOR(0x00419E70, 0x0041BE50, 0x0041A370, 0x0041A370), &zCCSManager_zCCSManager::operator() };
zCCSManager* zCCSManager_zCCSManager::operator()()
{
	zCCSManager* result = THISCALL(Ivk_zCCSManager_zCCSManager)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>