<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRnd_D3D::Vid_Unlock(): int]]></Title>
			<Shortcut><![CDATA[__zCRnd_D3D_Vid_Unlock_0x00657A00]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCRnd_D3D::Vid_Unlock()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRnd_D3D_Vid_Unlock : zCRnd_D3D { int operator()(); };
BindedHook Ivk_zCRnd_D3D_Vid_Unlock{ ZENFOR(0x0071F130, 0x0075B8F0, 0x0076AED0, 0x00657A00), &zCRnd_D3D_Vid_Unlock::operator() };
int zCRnd_D3D_Vid_Unlock::operator()()
{
	int result = THISCALL(Ivk_zCRnd_D3D_Vid_Unlock)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>