<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMusicJingle::Release(): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCMusicJingle::Release()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMusicJingle_Release : zCMusicJingle { int operator()(); };
BindedHook Ivk_zCMusicJingle_Release{ ZENFOR(0x004DAD00, 0x004EBE90, 0x004E5450, 0x004E7F60), &zCMusicJingle_Release::operator() };
int zCMusicJingle_Release::operator()()
{
	int result = THISCALL(Ivk_zCMusicJingle_Release)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>