<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelConvertFileHandler::~zCModelConvertFileHandler()]]></Title>
			<Description><![CDATA[public: virtual __thiscall zCModelConvertFileHandler::~zCModelConvertFileHandler()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelConvertFileHandler_Destructor : zCModelConvertFileHandler { void operator()(); };
BindedHook Ivk_zCModelConvertFileHandler_Destructor{ ZENFOR(0x00424090, 0x00426AF0, 0x00424910, 0x00424C40), &zCModelConvertFileHandler_Destructor::operator() };
void zCModelConvertFileHandler_Destructor::operator()()
{
	THISCALL(Ivk_zCModelConvertFileHandler_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>