<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::SearchNode(zSTRING const&): zCModelNode*]]></Title>
			<Description><![CDATA[public: zCModelNode* __thiscall zCModelPrototype::SearchNode(zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelPrototype_SearchNode : zCModelPrototype { zCModelNode* operator()(zSTRING const&); };
BindedHook Ivk_zCModelPrototype_SearchNode{ ZENFOR(0x0056F360, 0x00588770, 0x00584590, 0x00589AF0), &zCModelPrototype_SearchNode::operator() };
zCModelNode* zCModelPrototype_SearchNode::operator()(zSTRING const& a0)
{
	zCModelNode* result = THISCALL(Ivk_zCModelPrototype_SearchNode)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>