<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCollObjectCharacter::DoWallSlidingLatentRotation(zMAT4&): void]]></Title>
			<Description><![CDATA[private: void __fastcall zCCollObjectCharacter::DoWallSlidingLatentRotation(zMAT4&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCollObjectCharacter_DoWallSlidingLatentRotation : zCCollObjectCharacter { void __fastcall operator()(zMAT4&); };
BindedHook Ivk_zCCollObjectCharacter_DoWallSlidingLatentRotation{ ZENFOR(0x0053C860, 0x00553E40, 0x0054BB30, 0x00550D50), &zCCollObjectCharacter_DoWallSlidingLatentRotation::operator() };
void __fastcall zCCollObjectCharacter_DoWallSlidingLatentRotation::operator()(zMAT4& a0)
{
	THISCALL(Ivk_zCCollObjectCharacter_DoWallSlidingLatentRotation)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>