<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelAni::_CreateNewInstance(): zCObject*]]></Title>
			<Description><![CDATA[private: static zCObject* __cdecl zCModelAni::_CreateNewInstance()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zCObject* Hook_zCModelAni__CreateNewInstance();
BindedHook Ivk_zCModelAni__CreateNewInstance{ ZENFOR(0x0055D1E0, 0x00575580, 0x005716D0, 0x00576980), Hook_zCModelAni__CreateNewInstance };
zCObject* Hook_zCModelAni__CreateNewInstance()
{
	zCObject* result = Ivk_zCModelAni__CreateNewInstance();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>