<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zTPMWedge*>::InsertEnd(zTPMWedge* const&): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCArray<zTPMWedge*>::InsertEnd(zTPMWedge* const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zTPMWedge___InsertEnd : zCArray<zTPMWedge*> { void operator()(zTPMWedge* const&); };
BindedHook Ivk_zCArray_zTPMWedge___InsertEnd{ ZENFOR(0x005A3BD0, 0x005C0300, 0x005BFF80, 0x005C5AF0), &zCArray_zTPMWedge___InsertEnd::operator() };
void zCArray_zTPMWedge___InsertEnd::operator()(zTPMWedge* const& a0)
{
	THISCALL(Ivk_zCArray_zTPMWedge___InsertEnd)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>