<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCConsole::SetChangedFunc(void(__cdecl*)(zSTRING const&)): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCConsole::SetChangedFunc(void(__cdecl*)(zSTRING const&))]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCConsole_SetChangedFunc : zCConsole { void operator()(void(__cdecl*)(zSTRING const&)); };
BindedHook Ivk_zCConsole_SetChangedFunc{ ZENFOR(0x006DBCD0, 0x00713D20, 0x00725570, 0x00784FB0), &zCConsole_SetChangedFunc::operator() };
void zCConsole_SetChangedFunc::operator()(void(__cdecl* a0)(zSTRING const&))
{
	THISCALL(Ivk_zCConsole_SetChangedFunc)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>