<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::UpdateAttachedVobs(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCModel::UpdateAttachedVobs()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModel_UpdateAttachedVobs : zCModel { void operator()(); };
BindedHook Ivk_zCModel_UpdateAttachedVobs{ ZENFOR(0x005667F0, 0x0057F330, 0x0057B3A0, 0x00580900), &zCModel_UpdateAttachedVobs::operator() };
void zCModel_UpdateAttachedVobs::operator()()
{
	THISCALL(Ivk_zCModel_UpdateAttachedVobs)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>