<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBspSector::Activate(): void]]></Title>
			<Shortcut><![CDATA[__zCBspSector_Activate_0x0052DEA0]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCBspSector::Activate()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A
struct zCBspSector_Activate : zCBspSector { void operator()(); };
BindedHook Ivk_zCBspSector_Activate{ ZENFOR(0x00518470, 0x0052DEA0, 0x00000000, 0x00000000), &zCBspSector_Activate::operator() };
void zCBspSector_Activate::operator()()
{
	THISCALL(Ivk_zCBspSector_Activate)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>