<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArchiverBinSafe::GetFile(): zFILE* [const]]]></Title>
			<Description><![CDATA[public: virtual zFILE* __thiscall zCArchiverBinSafe::GetFile()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArchiverBinSafe_GetFile : zCArchiverBinSafe { zFILE* operator()() const; };
BindedHook Ivk_zCArchiverBinSafe_GetFile{ ZENFOR(0x0050BF40, 0x00520CA0, 0x00519290, 0x0051C060), &zCArchiverBinSafe_GetFile::operator() };
zFILE* zCArchiverBinSafe_GetFile::operator()() const
{
	zFILE* result = THISCALL(Ivk_zCArchiverBinSafe_GetFile)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>