<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVertex::ResetVertexTransform(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCVertex::ResetVertexTransform()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVertex_ResetVertexTransform : zCVertex { void operator()(); };
BindedHook Ivk_zCVertex_ResetVertexTransform{ ZENFOR(0x005A2A90, 0x005BF270, 0x005BEF20, 0x005C4A90), &zCVertex_ResetVertexTransform::operator() };
void zCVertex_ResetVertexTransform::operator()()
{
	THISCALL(Ivk_zCVertex_ResetVertexTransform)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>