<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWorld::CompileWorld(zTBspTreeMode const&, float, int, int, zCArray<zCPolygon*>*): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCWorld::CompileWorld(zTBspTreeMode const&, float, int, int, zCArray<zCPolygon*>*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWorld_CompileWorld : zCWorld { void operator()(zTBspTreeMode const&, float, int, int, zCArray<zCPolygon*>*); };
BindedHook Ivk_zCWorld_CompileWorld{ ZENFOR(0x005F4F90, 0x00615ED0, 0x0061B730, 0x00622EC0), &zCWorld_CompileWorld::operator() };
void zCWorld_CompileWorld::operator()(zTBspTreeMode const& a0, float a1, int a2, int a3, zCArray<zCPolygon*>* a4)
{
	THISCALL(Ivk_zCWorld_CompileWorld)(a0, a1, a2, a3, a4);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>