<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCOBBox3D::operator=(zCOBBox3D const&): zCOBBox3D&]]></Title>
			<Shortcut><![CDATA[__zCOBBox3D_operator__0x005499F0]]></Shortcut>
			<Description><![CDATA[public: zCOBBox3D& __thiscall zCOBBox3D::operator=(zCOBBox3D const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCOBBox3D_operator_ : zCOBBox3D { zCOBBox3D& operator()(zCOBBox3D const&); };
BindedHook Ivk_zCOBBox3D_operator_{ ZENFOR(0x00535A10, 0x0054C9E0, 0x005447D0, 0x005499F0), &zCOBBox3D_operator_::operator() };
zCOBBox3D& zCOBBox3D_operator_::operator()(zCOBBox3D const& a0)
{
	zCOBBox3D& result = THISCALL(Ivk_zCOBBox3D_operator_)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>