<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::CalcGroundPoly(): void]]></Title>
			<Shortcut><![CDATA[__zCVob_CalcGroundPoly_0x0061ACD0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCVob::CalcGroundPoly()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVob_CalcGroundPoly : zCVob { void operator()(); };
BindedHook Ivk_zCVob_CalcGroundPoly{ ZENFOR(0x005ED8A0, 0x0060DFE0, 0x00613610, 0x0061ACD0), &zCVob_CalcGroundPoly::operator() };
void zCVob_CalcGroundPoly::operator()()
{
	THISCALL(Ivk_zCVob_CalcGroundPoly)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>