<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCInput::AnyKeyPressed(): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCInput::AnyKeyPressed()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCInput_AnyKeyPressed : zCInput { int operator()(); };
BindedHook Ivk_zCInput_AnyKeyPressed{ ZENFOR(0x004C2900, 0x004D2210, 0x004C96D0, 0x004CBC40), &zCInput_AnyKeyPressed::operator() };
int zCInput_AnyKeyPressed::operator()()
{
	int result = THISCALL(Ivk_zCInput_AnyKeyPressed)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>