<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCEventScreenFX::_GetClassDef(): zCClassDef* [const]]]></Title>
			<Description><![CDATA[private: virtual zCClassDef* __thiscall zCEventScreenFX::_GetClassDef()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCEventScreenFX__GetClassDef : zCEventScreenFX { zCClassDef* operator()() const; };
BindedHook Ivk_zCEventScreenFX__GetClassDef{ ZENFOR(0x005E2910, 0x00602800, 0x006080C0, 0x0060F780), &zCEventScreenFX__GetClassDef::operator() };
zCClassDef* zCEventScreenFX__GetClassDef::operator()() const
{
	zCClassDef* result = THISCALL(Ivk_zCEventScreenFX__GetClassDef)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>