<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCViewProgressBar::zCViewProgressBar(int, int, int, int, zTviewID)]]></Title>
			<Shortcut><![CDATA[__zCViewProgressBar_zCViewProgressBar_0x0046E9D0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCViewProgressBar::zCViewProgressBar(int, int, int, int, zTviewID)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCViewProgressBar_zCViewProgressBar : zCViewProgressBar { zCViewProgressBar* operator()(int, int, int, int, zTviewID); };
BindedHook Ivk_zCViewProgressBar_zCViewProgressBar{ ZENFOR(0x004696F0, 0x00471830, 0x0046DDA0, 0x0046E9D0), &zCViewProgressBar_zCViewProgressBar::operator() };
zCViewProgressBar* zCViewProgressBar_zCViewProgressBar::operator()(int a0, int a1, int a2, int a3, zTviewID a4)
{
	zCViewProgressBar* result = THISCALL(Ivk_zCViewProgressBar_zCViewProgressBar)(a0, a1, a2, a3, a4);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>