<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zCMaterial*>::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCArray_zCMaterial___VectorDeletingDestructor_0x005A2430]]></Shortcut>
			<Description><![CDATA[public: void* __thiscall zCArray<zCMaterial*>::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zCMaterial___VectorDeletingDestructor : zCArray<zCMaterial*> { void* operator()(unsigned int); };
BindedHook Ivk_zCArray_zCMaterial___VectorDeletingDestructor{ ZENFOR(0x005829E0, 0x0059D510, 0x0059CED0, 0x005A2430), &zCArray_zCMaterial___VectorDeletingDestructor::operator() };
void* zCArray_zCMaterial___VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCArray_zCMaterial___VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>