<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArchiverBinSafe::ReadType(zTArchiveTypeID, void*, unsigned long): int]]></Title>
			<Shortcut><![CDATA[__zCArchiverBinSafe_ReadType_0x0051B3C0]]></Shortcut>
			<Description><![CDATA[private: int __fastcall zCArchiverBinSafe::ReadType(zTArchiveTypeID, void*, unsigned long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArchiverBinSafe_ReadType : zCArchiverBinSafe { int __fastcall operator()(zTArchiveTypeID, void*, unsigned long); };
BindedHook Ivk_zCArchiverBinSafe_ReadType{ ZENFOR(0x0050B430, 0x005201F0, 0x005185F0, 0x0051B3C0), &zCArchiverBinSafe_ReadType::operator() };
int __fastcall zCArchiverBinSafe_ReadType::operator()(zTArchiveTypeID a0, void* a1, unsigned long a2)
{
	int result = THISCALL(Ivk_zCArchiverBinSafe_ReadType)(a0, a1, a2);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>