<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCView::SetPos(int, int): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCView::SetPos(int, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCView_SetPos : zCView { void operator()(int, int); };
BindedHook Ivk_zCView_SetPos{ ZENFOR(0x006FDA10, 0x00737E00, 0x00747AB0, 0x007A75B0), &zCView_SetPos::operator() };
void zCView_SetPos::operator()(int a0, int a1)
{
	THISCALL(Ivk_zCView_SetPos)(a0, a1);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>