<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCViewObject::RemoveAllChildren(): void]]></Title>
			<Shortcut><![CDATA[__zCViewObject_RemoveAllChildren_0x00691CB0]]></Shortcut>
			<Description><![CDATA[public: void __fastcall zCViewObject::RemoveAllChildren()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCViewObject_RemoveAllChildren : zCViewObject { void __fastcall operator()(); };
BindedHook Ivk_zCViewObject_RemoveAllChildren{ ZENFOR(0x00755160, 0x007975A0, 0x007A1F00, 0x00691CB0), &zCViewObject_RemoveAllChildren::operator() };
void __fastcall zCViewObject_RemoveAllChildren::operator()()
{
	THISCALL(Ivk_zCViewObject_RemoveAllChildren)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>