<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSBlock::BlockCorrection(): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCCSBlock::BlockCorrection()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSBlock_BlockCorrection : zCCSBlock { void operator()(); };
BindedHook Ivk_zCCSBlock_BlockCorrection{ ZENFOR(0x0040D8B0, 0x0040EB60, 0x0040DCA0, 0x0040DCA0), &zCCSBlock_BlockCorrection::operator() };
void zCCSBlock_BlockCorrection::operator()()
{
	THISCALL(Ivk_zCCSBlock_BlockCorrection)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>