<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWayNet::SortOpenList(zCWaypoint*, zCWaypoint*): int]]></Title>
			<Shortcut><![CDATA[__zCWayNet_SortOpenList_0x007B06E0]]></Shortcut>
			<Description><![CDATA[private: static int __cdecl zCWayNet::SortOpenList(zCWaypoint*, zCWaypoint*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[int Hook_zCWayNet_SortOpenList(zCWaypoint*, zCWaypoint*);
BindedHook Ivk_zCWayNet_SortOpenList{ ZENFOR(0x00706AE0, 0x007415F0, 0x00750BE0, 0x007B06E0), Hook_zCWayNet_SortOpenList };
int Hook_zCWayNet_SortOpenList(zCWaypoint* a0, zCWaypoint* a1)
{
	int result = Ivk_zCWayNet_SortOpenList(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>