<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelPrototype::ReadMaterialList(): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCModelPrototype::ReadMaterialList()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelPrototype_ReadMaterialList : zCModelPrototype { void operator()(); };
BindedHook Ivk_zCModelPrototype_ReadMaterialList{ ZENFOR(0x00576E40, 0x00590B50, 0x0058C060, 0x005915C0), &zCModelPrototype_ReadMaterialList::operator() };
void zCModelPrototype_ReadMaterialList::operator()()
{
	THISCALL(Ivk_zCModelPrototype_ReadMaterialList)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>