<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCView::UpdateOpenZoom(): void]]></Title>
			<Description><![CDATA[protected: void __thiscall zCView::UpdateOpenZoom()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCView_UpdateOpenZoom : zCView { void operator()(); };
BindedHook Ivk_zCView_UpdateOpenZoom{ ZENFOR(0x006FD720, 0x00737B00, 0x007477C0, 0x007A72C0), &zCView_UpdateOpenZoom::operator() };
void zCView_UpdateOpenZoom::operator()()
{
	THISCALL(Ivk_zCView_UpdateOpenZoom)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>