<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCViewDraw::Draw(): void]]></Title>
			<Description><![CDATA[protected: void __fastcall zCViewDraw::Draw()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCViewDraw_Draw : zCViewDraw { void __fastcall operator()(); };
BindedHook Ivk_zCViewDraw_Draw{ ZENFOR(0x007536D0, 0x00795B80, 0x007A0440, 0x006901F0), &zCViewDraw_Draw::operator() };
void __fastcall zCViewDraw_Draw::operator()()
{
	THISCALL(Ivk_zCViewDraw_Draw)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>