<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSLib::WasChanged(): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCCSLib::WasChanged()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSLib_WasChanged : zCCSLib { int operator()(); };
BindedHook Ivk_zCCSLib_WasChanged{ ZENFOR(0x00419130, 0x0041B050, 0x00419680, 0x00419680), &zCCSLib_WasChanged::operator() };
int zCCSLib_WasChanged::operator()()
{
	int result = THISCALL(Ivk_zCCSLib_WasChanged)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>