<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPolygon::S_DeleteVertFeatures(int, zCVertFeature*): void]]></Title>
			<Description><![CDATA[public: static void __cdecl zCPolygon::S_DeleteVertFeatures(int, zCVertFeature*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_zCPolygon_S_DeleteVertFeatures(int, zCVertFeature*);
BindedHook Ivk_zCPolygon_S_DeleteVertFeatures{ ZENFOR(0x00595AD0, 0x005B19C0, 0x005B1400, 0x005B6F70), Hook_zCPolygon_S_DeleteVertFeatures };
void Hook_zCPolygon_S_DeleteVertFeatures(int a0, zCVertFeature* a1)
{
	Ivk_zCPolygon_S_DeleteVertFeatures(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>