<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zCParticleEmitter*>::Insert(zCParticleEmitter* const&): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCArray<zCParticleEmitter*>::Insert(zCParticleEmitter* const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zCParticleEmitter___Insert : zCArray<zCParticleEmitter*> { void operator()(zCParticleEmitter* const&); };
BindedHook Ivk_zCArray_zCParticleEmitter___Insert{ ZENFOR(0x00582290, 0x0059CDA0, 0x0059C800, 0x005A1D60), &zCArray_zCParticleEmitter___Insert::operator() };
void zCArray_zCParticleEmitter___Insert::operator()(zCParticleEmitter* const& a0)
{
	THISCALL(Ivk_zCArray_zCParticleEmitter___Insert)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>