<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZoneReverbDefault::ThisVobAddedToWorld(zCWorld*): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCZoneReverbDefault::ThisVobAddedToWorld(zCWorld*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCZoneReverbDefault_ThisVobAddedToWorld : zCZoneReverbDefault { void operator()(zCWorld*); };
BindedHook Ivk_zCZoneReverbDefault_ThisVobAddedToWorld{ ZENFOR(0x0060EF60, 0x00631700, 0x00638310, 0x0063FB00), &zCZoneReverbDefault_ThisVobAddedToWorld::operator() };
void zCZoneReverbDefault_ThisVobAddedToWorld::operator()(zCWorld* a0)
{
	THISCALL(Ivk_zCZoneReverbDefault_ThisVobAddedToWorld)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>