<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetManager::zCNetManager()]]></Title>
			<Description><![CDATA[public: __thiscall zCNetManager::zCNetManager()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetManager_zCNetManager : zCNetManager { zCNetManager* operator()(); };
BindedHook Ivk_zCNetManager_zCNetManager{ ZENFOR(0x00456870, 0x0045D810, 0x0045B1D0, 0x0045B920), &zCNetManager_zCNetManager::operator() };
zCNetManager* zCNetManager_zCNetManager::operator()()
{
	zCNetManager* result = THISCALL(Ivk_zCNetManager_zCNetManager)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>