<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVertexBuffer::GetVertexType(): zTVBufferVertexType]]></Title>
			<Shortcut><![CDATA[__zCVertexBuffer_GetVertexType_0x005FBF00]]></Shortcut>
			<Description><![CDATA[public: virtual zTVBufferVertexType __thiscall zCVertexBuffer::GetVertexType()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVertexBuffer_GetVertexType : zCVertexBuffer { zTVBufferVertexType operator()(); };
BindedHook Ivk_zCVertexBuffer_GetVertexType{ ZENFOR(0x005D0E00, 0x005EFF60, 0x005F5110, 0x005FBF00), &zCVertexBuffer_GetVertexType::operator() };
zTVBufferVertexType zCVertexBuffer_GetVertexType::operator()()
{
	zTVBufferVertexType result = THISCALL(Ivk_zCVertexBuffer_GetVertexType)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>