<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRenderer::GetTexFormatInfo(zTRnd_TextureFormat): zTRnd_TexFormatInfo [const]]]></Title>
			<Description><![CDATA[public: zTRnd_TexFormatInfo __thiscall zCRenderer::GetTexFormatInfo(zTRnd_TextureFormat)const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRenderer_GetTexFormatInfo : zCRenderer { zTRnd_TexFormatInfo operator()(zTRnd_TextureFormat) const; };
BindedHook Ivk_zCRenderer_GetTexFormatInfo{ ZENFOR(0x005AEA10, 0x005CB9B0, 0x005CD110, 0x005D3CC0), &zCRenderer_GetTexFormatInfo::operator() };
zTRnd_TexFormatInfo zCRenderer_GetTexFormatInfo::operator()(zTRnd_TextureFormat a0) const
{
	zTRnd_TexFormatInfo result = THISCALL(Ivk_zCRenderer_GetTexFormatInfo)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>