<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPar_Stack::PopByte(): unsigned char]]></Title>
			<Description><![CDATA[public: unsigned char __thiscall zCPar_Stack::PopByte()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPar_Stack_PopByte : zCPar_Stack { unsigned char operator()(); };
BindedHook Ivk_zCPar_Stack_PopByte{ ZENFOR(0x006FB170, 0x007355C0, 0x007451E0, 0x007A4C20), &zCPar_Stack_PopByte::operator() };
unsigned char zCPar_Stack_PopByte::operator()()
{
	unsigned char result = THISCALL(Ivk_zCPar_Stack_PopByte)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>