<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCClassDef::ReportLeaks(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCClassDef::ReportLeaks()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCClassDef_ReportLeaks : zCClassDef { void operator()(); };
BindedHook Ivk_zCClassDef_ReportLeaks{ ZENFOR(0x0058B640, 0x005A6B70, 0x005A5C10, 0x005AB170), &zCClassDef_ReportLeaks::operator() };
void zCClassDef_ReportLeaks::operator()()
{
	THISCALL(Ivk_zCClassDef_ReportLeaks)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>