<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBinkPlayer::Unpause(): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCBinkPlayer::Unpause()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBinkPlayer_Unpause : zCBinkPlayer { int operator()(); };
BindedHook Ivk_zCBinkPlayer_Unpause{ ZENFOR(0x0043C980, 0x00441A90, 0x00440100, 0x00440730), &zCBinkPlayer_Unpause::operator() };
int zCBinkPlayer_Unpause::operator()()
{
	int result = THISCALL(Ivk_zCBinkPlayer_Unpause)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>