<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::FadeOutAni(zCModelAni*): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCModel::FadeOutAni(zCModelAni*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModel_FadeOutAni : zCModel { void operator()(zCModelAni*); };
BindedHook Ivk_zCModel_FadeOutAni{ ZENFOR(0x00564F60, 0x0057D8D0, 0x00579AC0, 0x0057EFE0), &zCModel_FadeOutAni::operator() };
void zCModel_FadeOutAni::operator()(zCModelAni* a0)
{
	THISCALL(Ivk_zCModel_FadeOutAni)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>