<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCClassDef::ObjectCreated(zCObject*, int, zCClassDef*): void]]></Title>
			<Description><![CDATA[public: static void __cdecl zCClassDef::ObjectCreated(zCObject*, int, zCClassDef*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_zCClassDef_ObjectCreated(zCObject*, int, zCClassDef*);
BindedHook Ivk_zCClassDef_ObjectCreated{ ZENFOR(0x0058B540, 0x005A6A70, 0x005A5B10, 0x005AB070), Hook_zCClassDef_ObjectCreated };
void Hook_zCClassDef_ObjectCreated(zCObject* a0, int a1, zCClassDef* a2)
{
	Ivk_zCClassDef_ObjectCreated(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>