<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWayNet::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCWayNet_VectorDeletingDestructor_0x0074D1E0]]></Shortcut>
			<Description><![CDATA[public: virtual void* __thiscall zCWayNet::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1A, G2
struct zCWayNet_VectorDeletingDestructor : zCWayNet { void* operator()(unsigned int); };
BindedHook Ivk_zCWayNet_VectorDeletingDestructor{ ZENFOR(0x00000000, 0x0073D8D0, 0x0074D1E0, 0x00000000), &zCWayNet_VectorDeletingDestructor::operator() };
void* zCWayNet_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCWayNet_VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>