<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCOutdoorRainFX::UpdateParticles(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCOutdoorRainFX::UpdateParticles()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCOutdoorRainFX_UpdateParticles : zCOutdoorRainFX { void operator()(); };
BindedHook Ivk_zCOutdoorRainFX_UpdateParticles{ ZENFOR(0x005B9230, 0x005D6C50, 0x005DB650, 0x005E2400), &zCOutdoorRainFX_UpdateParticles::operator() };
void zCOutdoorRainFX_UpdateParticles::operator()()
{
	THISCALL(Ivk_zCOutdoorRainFX_UpdateParticles)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>