<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCViewProgressBar::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCViewProgressBar_VectorDeletingDestructor_0x0046EBC0]]></Shortcut>
			<Description><![CDATA[public: virtual void* __thiscall zCViewProgressBar::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2A
struct zCViewProgressBar_VectorDeletingDestructor : zCViewProgressBar { void* operator()(unsigned int); };
BindedHook Ivk_zCViewProgressBar_VectorDeletingDestructor{ ZENFOR(0x00000000, 0x00000000, 0x00000000, 0x0046EBC0), &zCViewProgressBar_VectorDeletingDestructor::operator() };
void* zCViewProgressBar_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCViewProgressBar_VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>