<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRenderer::GetMaxTextureSize(): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCRenderer::GetMaxTextureSize()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRenderer_GetMaxTextureSize : zCRenderer { int operator()(); };
BindedHook Ivk_zCRenderer_GetMaxTextureSize{ ZENFOR(0x00713B70, 0x0074F890, 0x0075ED70, 0x0064A310), &zCRenderer_GetMaxTextureSize::operator() };
int zCRenderer_GetMaxTextureSize::operator()()
{
	int result = THISCALL(Ivk_zCRenderer_GetMaxTextureSize)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>