<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWayNet::GetWaypoint(zSTRING const&): zCWaypoint* [const]]]></Title>
			<Shortcut><![CDATA[__zCWayNet_GetWaypoint_0x007B0330]]></Shortcut>
			<Description><![CDATA[public: zCWaypoint* __fastcall zCWayNet::GetWaypoint(zSTRING const&)const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWayNet_GetWaypoint : zCWayNet { zCWaypoint* __fastcall operator()(zSTRING const&) const; };
BindedHook Ivk_zCWayNet_GetWaypoint{ ZENFOR(0x00706730, 0x00741240, 0x00750830, 0x007B0330), &zCWayNet_GetWaypoint::operator() };
zCWaypoint* __fastcall zCWayNet_GetWaypoint::operator()(zSTRING const& a0) const
{
	zCWaypoint* result = THISCALL(Ivk_zCWayNet_GetWaypoint)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>