<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSCamera::EV_SetTargetReference(zCCSCamera_EventMsgActivate*): int]]></Title>
			<Description><![CDATA[private: int __thiscall zCCSCamera::EV_SetTargetReference(zCCSCamera_EventMsgActivate*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSCamera_EV_SetTargetReference : zCCSCamera { int operator()(zCCSCamera_EventMsgActivate*); };
BindedHook Ivk_zCCSCamera_EV_SetTargetReference{ ZENFOR(0x004B8250, 0x004C7550, 0x004BEFE0, 0x004C1550), &zCCSCamera_EV_SetTargetReference::operator() };
int zCCSCamera_EV_SetTargetReference::operator()(zCCSCamera_EventMsgActivate* a0)
{
	int result = THISCALL(Ivk_zCCSCamera_EV_SetTargetReference)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>