<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCParticleFX::FreeParticles(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCParticleFX::FreeParticles()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCParticleFX_FreeParticles : zCParticleFX { void operator()(); };
BindedHook Ivk_zCParticleFX_FreeParticles{ ZENFOR(0x0058DD10, 0x005A9340, 0x005A8570, 0x005ADC30), &zCParticleFX_FreeParticles::operator() };
void zCParticleFX_FreeParticles::operator()()
{
	THISCALL(Ivk_zCParticleFX_FreeParticles)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>