<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSAtomicBlock::IsFinished(zCEventManager*): int]]></Title>
			<Shortcut><![CDATA[__zCCSAtomicBlock_IsFinished_0x0040D070]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCCSAtomicBlock::IsFinished(zCEventManager*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSAtomicBlock_IsFinished : zCCSAtomicBlock { int operator()(zCEventManager*); };
BindedHook Ivk_zCCSAtomicBlock_IsFinished{ ZENFOR(0x0040CC80, 0x0040DF10, 0x0040D070, 0x0040D070), &zCCSAtomicBlock_IsFinished::operator() };
int zCCSAtomicBlock_IsFinished::operator()(zCEventManager* a0)
{
	int result = THISCALL(Ivk_zCCSAtomicBlock_IsFinished)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>