<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::TraceRay(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCVob::TraceRay(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVob_TraceRay : zCVob { int operator()(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&); };
BindedHook Ivk_zCVob_TraceRay{ ZENFOR(0x005D49E0, 0x005F3DB0, 0x005F9040, 0x005FFE40), &zCVob_TraceRay::operator() };
int zCVob_TraceRay::operator()(zVEC3 const& a0, zVEC3 const& a1, int a2, zTTraceRayReport& a3)
{
	int result = THISCALL(Ivk_zCVob_TraceRay)(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>