<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCParser::SetVersion(unsigned char): void]]></Title>
			<Description><![CDATA[public: static void __cdecl zCParser::SetVersion(unsigned char)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_zCParser_SetVersion(unsigned char);
BindedHook Ivk_zCParser_SetVersion{ ZENFOR(0x006E3DA0, 0x0071C680, 0x0072D5C0, 0x0078D000), Hook_zCParser_SetVersion };
void Hook_zCParser_SetVersion(unsigned char a0)
{
	Ivk_zCParser_SetVersion(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>