<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::RecalcRootPosLocal(int): void]]></Title>
			<Description><![CDATA[public: void __fastcall zCModel::RecalcRootPosLocal(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModel_RecalcRootPosLocal : zCModel { void __fastcall operator()(int); };
BindedHook Ivk_zCModel_RecalcRootPosLocal{ ZENFOR(0x00569110, 0x00581FA0, 0x0057E580, 0x00583AE0), &zCModel_RecalcRootPosLocal::operator() };
void __fastcall zCModel_RecalcRootPosLocal::operator()(int a0)
{
	THISCALL(Ivk_zCModel_RecalcRootPosLocal)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>