<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetEventManager::zCNetEventManager()]]></Title>
			<Shortcut><![CDATA[__zCNetEventManager_zCNetEventManager_0x004582F0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCNetEventManager::zCNetEventManager()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetEventManager_zCNetEventManager : zCNetEventManager { zCNetEventManager* operator()(); };
BindedHook Ivk_zCNetEventManager_zCNetEventManager{ ZENFOR(0x00453380, 0x00459E90, 0x00457BA0, 0x004582F0), &zCNetEventManager_zCNetEventManager::operator() };
zCNetEventManager* zCNetEventManager_zCNetEventManager::operator()()
{
	zCNetEventManager* result = THISCALL(Ivk_zCNetEventManager_zCNetEventManager)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>