<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPluecker::operator-=(zCPluecker const&): zCPluecker&]]></Title>
			<Description><![CDATA[public: zCPluecker& __thiscall zCPluecker::operator-=(zCPluecker const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCPluecker_operator__ : zCPluecker { zCPluecker& operator()(zCPluecker const&); };
BindedHook Ivk_zCPluecker_operator__{ ZENFOR(0x00000000, 0x00000000, 0x005CCC20, 0x005D37D0), &zCPluecker_operator__::operator() };
zCPluecker& zCPluecker_operator__::operator()(zCPluecker const& a0)
{
	zCPluecker& result = THISCALL(Ivk_zCPluecker_operator__)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>