<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPar_TreeNode::SetLeft(zCPar_TreeNode*): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCPar_TreeNode::SetLeft(zCPar_TreeNode*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPar_TreeNode_SetLeft : zCPar_TreeNode { void operator()(zCPar_TreeNode*); };
BindedHook Ivk_zCPar_TreeNode_SetLeft{ ZENFOR(0x006EE120, 0x00727770, 0x00738220, 0x00797C60), &zCPar_TreeNode_SetLeft::operator() };
void zCPar_TreeNode_SetLeft::operator()(zCPar_TreeNode* a0)
{
	THISCALL(Ivk_zCPar_TreeNode_SetLeft)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>