<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetVobControl::HandOverToPlayer(zCPlayerInfo*): int]]></Title>
			<Shortcut><![CDATA[__zCNetVobControl_HandOverToPlayer_0x0045DF40]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCNetVobControl::HandOverToPlayer(zCPlayerInfo*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetVobControl_HandOverToPlayer : zCNetVobControl { int operator()(zCPlayerInfo*); };
BindedHook Ivk_zCNetVobControl_HandOverToPlayer{ ZENFOR(0x00458C70, 0x0045FDE0, 0x0045D7F0, 0x0045DF40), &zCNetVobControl_HandOverToPlayer::operator() };
int zCNetVobControl_HandOverToPlayer::operator()(zCPlayerInfo* a0)
{
	int result = THISCALL(Ivk_zCNetVobControl_HandOverToPlayer)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>