<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetMessage::HasError(): bool [const]]]></Title>
			<Shortcut><![CDATA[__zCNetMessage_HasError_0x0045D060]]></Shortcut>
			<Description><![CDATA[public: bool __thiscall zCNetMessage::HasError()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetMessage_HasError : zCNetMessage { bool operator()() const; };
BindedHook Ivk_zCNetMessage_HasError{ ZENFOR(0x00457F40, 0x0045F000, 0x0045C910, 0x0045D060), &zCNetMessage_HasError::operator() };
bool zCNetMessage_HasError::operator()() const
{
	bool result = THISCALL(Ivk_zCNetMessage_HasError)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>