<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCLineCache::Line(int, int, int, int, zCOLOR): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCLineCache::Line(int, int, int, int, zCOLOR)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCLineCache_Line : zCLineCache { void operator()(int, int, int, int, zCOLOR); };
BindedHook Ivk_zCLineCache_Line{ ZENFOR(0x004FB8D0, 0x0050EA20, 0x00508570, 0x0050B320), &zCLineCache_Line::operator() };
void zCLineCache_Line::operator()(int a0, int a1, int a2, int a3, zCOLOR a4)
{
	THISCALL(Ivk_zCLineCache_Line)(a0, a1, a2, a3, a4);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>