<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetEventManager::_GetClassDef(): zCClassDef* [const]]]></Title>
			<Description><![CDATA[private: virtual zCClassDef* __thiscall zCNetEventManager::_GetClassDef() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetEventManager__GetClassDef : zCNetEventManager { zCClassDef* operator()() const; };
BindedHook Ivk_zCNetEventManager__GetClassDef{ ZENFOR(0x00452630, 0x00459180, 0x00456D10, 0x00457460), &zCNetEventManager__GetClassDef::operator() };
zCClassDef* zCNetEventManager__GetClassDef::operator()() const
{
	zCClassDef* result = THISCALL(Ivk_zCNetEventManager__GetClassDef)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>