<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRnd_D3D::XD3D_PolyDrawTwoPassTexture(zCPolygon*): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCRnd_D3D::XD3D_PolyDrawTwoPassTexture(zCPolygon*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRnd_D3D_XD3D_PolyDrawTwoPassTexture : zCRnd_D3D { void operator()(zCPolygon*); };
BindedHook Ivk_zCRnd_D3D_XD3D_PolyDrawTwoPassTexture{ ZENFOR(0x00715BC0, 0x00751A70, 0x00760B70, 0x0064C110), &zCRnd_D3D_XD3D_PolyDrawTwoPassTexture::operator() };
void zCRnd_D3D_XD3D_PolyDrawTwoPassTexture::operator()(zCPolygon* a0)
{
	THISCALL(Ivk_zCRnd_D3D_XD3D_PolyDrawTwoPassTexture)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>