<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCarsten_ShutDown(): void]]></Title>
			<Shortcut><![CDATA[__zCarsten_ShutDown_0x0050AB30]]></Shortcut>
			<Description><![CDATA[void __cdecl zCarsten_ShutDown()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_zCarsten_ShutDown();
BindedHook Ivk_zCarsten_ShutDown{ ZENFOR(0x004FB2D0, 0x0050E370, 0x00507D80, 0x0050AB30), Hook_zCarsten_ShutDown };
void Hook_zCarsten_ShutDown()
{
	Ivk_zCarsten_ShutDown();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>