<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSkyLayer::zCSkyLayer()]]></Title>
			<Shortcut><![CDATA[__zCSkyLayer_zCSkyLayer_0x005E45D0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCSkyLayer::zCSkyLayer()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSkyLayer_zCSkyLayer : zCSkyLayer { zCSkyLayer* operator()(); };
BindedHook Ivk_zCSkyLayer_zCSkyLayer{ ZENFOR(0x005BEC80, 0x005DCA30, 0x005DD820, 0x005E45D0), &zCSkyLayer_zCSkyLayer::operator() };
zCSkyLayer* zCSkyLayer_zCSkyLayer::operator()()
{
	zCSkyLayer* result = THISCALL(Ivk_zCSkyLayer_zCSkyLayer)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>