<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCView::GetFont(): zCFont*]]></Title>
			<Shortcut><![CDATA[__zCView_GetFont_0x007A9950]]></Shortcut>
			<Description><![CDATA[public: zCFont* __thiscall zCView::GetFont()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCView_GetFont : zCView { zCFont* operator()(); };
BindedHook Ivk_zCView_GetFont{ ZENFOR(0x006FFDC0, 0x0073A3C0, 0x00749E50, 0x007A9950), &zCView_GetFont::operator() };
zCFont* zCView_GetFont::operator()()
{
	zCFont* result = THISCALL(Ivk_zCView_GetFont)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>