<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCViewDialogChoice::~zCViewDialogChoice()]]></Title>
			<Shortcut><![CDATA[__zCViewDialogChoice__zCViewDialogChoice_0x0068EB10]]></Shortcut>
			<Description><![CDATA[public: virtual __thiscall zCViewDialogChoice::~zCViewDialogChoice()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCViewDialogChoice_Destructor : zCViewDialogChoice { void operator()(); };
BindedHook Ivk_zCViewDialogChoice_Destructor{ ZENFOR(0x007589D0, 0x0079AF30, 0x007A5880, 0x0068EB10), &zCViewDialogChoice_Destructor::operator() };
void zCViewDialogChoice_Destructor::operator()()
{
	THISCALL(Ivk_zCViewDialogChoice_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>