<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCDecal::~zCDecal()]]></Title>
			<Description><![CDATA[protected: virtual __thiscall zCDecal::~zCDecal()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCDecal_Destructor : zCDecal { void operator()(); };
BindedHook Ivk_zCDecal_Destructor{ ZENFOR(0x00541F10, 0x00559890, 0x00551420, 0x00556640), &zCDecal_Destructor::operator() };
void zCDecal_Destructor::operator()()
{
	THISCALL(Ivk_zCDecal_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>