<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCList<zCPlayerInfo>::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCList_zCPlayerInfo__ScalarDeletingDestructor_0x00470150]]></Shortcut>
			<Description><![CDATA[public: void* __thiscall zCList<zCPlayerInfo>::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCList_zCPlayerInfo__ScalarDeletingDestructor : zCList<zCPlayerInfo> { void* operator()(unsigned int); };
BindedHook Ivk_zCList_zCPlayerInfo__ScalarDeletingDestructor{ ZENFOR(0x0046AD20, 0x00472F70, 0x0046F520, 0x00470150), &zCList_zCPlayerInfo__ScalarDeletingDestructor::operator() };
void* zCList_zCPlayerInfo__ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCList_zCPlayerInfo__ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>