<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFont::GetFontData(unsigned char, int&, zVEC2&, zVEC2&): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCFont::GetFontData(unsigned char, int&, zVEC2&, zVEC2&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFont_GetFontData : zCFont { int operator()(unsigned char, int&, zVEC2&, zVEC2&); };
BindedHook Ivk_zCFont_GetFontData{ ZENFOR(0x006E1070, 0x007196D0, 0x0072A950, 0x0078A390), &zCFont_GetFontData::operator() };
int zCFont_GetFontData::operator()(unsigned char a0, int& a1, zVEC2& a2, zVEC2& a3)
{
	int result = THISCALL(Ivk_zCFont_GetFontData)(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>