<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<unsigned short>::InsertEnd(unsigned short const&): void]]></Title>
			<Shortcut><![CDATA[__zCArray_unsigned_short__InsertEnd_0x0047B230]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCArray<unsigned short>::InsertEnd(unsigned short const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_unsigned_short__InsertEnd : zCArray<unsigned short> { void operator()(unsigned short const&); };
BindedHook Ivk_zCArray_unsigned_short__InsertEnd{ ZENFOR(0x00474310, 0x0047D7F0, 0x00479DC0, 0x0047B230), &zCArray_unsigned_short__InsertEnd::operator() };
void zCArray_unsigned_short__InsertEnd::operator()(unsigned short const& a0)
{
	THISCALL(Ivk_zCArray_unsigned_short__InsertEnd)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>