<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTrigger::DeactivateTrigger(zCVob*): void]]></Title>
			<Shortcut><![CDATA[__zCTrigger_DeactivateTrigger_0x006105B0]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCTrigger::DeactivateTrigger(zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTrigger_DeactivateTrigger : zCTrigger { void operator()(zCVob*); };
BindedHook Ivk_zCTrigger_DeactivateTrigger{ ZENFOR(0x005E3740, 0x00603660, 0x00608EF0, 0x006105B0), &zCTrigger_DeactivateTrigger::operator() };
void zCTrigger_DeactivateTrigger::operator()(zCVob* a0)
{
	THISCALL(Ivk_zCTrigger_DeactivateTrigger)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>