<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBinkPlayer::zCBinkPlayer()]]></Title>
			<Shortcut><![CDATA[__zCBinkPlayer_zCBinkPlayer_0x0043DE30]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCBinkPlayer::zCBinkPlayer()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBinkPlayer_zCBinkPlayer : zCBinkPlayer { zCBinkPlayer* operator()(); };
BindedHook Ivk_zCBinkPlayer_zCBinkPlayer{ ZENFOR(0x0043A3A0, 0x0043F0C0, 0x0043D800, 0x0043DE30), &zCBinkPlayer_zCBinkPlayer::operator() };
zCBinkPlayer* zCBinkPlayer_zCBinkPlayer::operator()()
{
	zCBinkPlayer* result = THISCALL(Ivk_zCBinkPlayer_zCBinkPlayer)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>