<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCResource::zCResource()]]></Title>
			<Description><![CDATA[public: __thiscall zCResource::zCResource()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCResource_zCResource : zCResource { zCResource* operator()(); };
BindedHook Ivk_zCResource_zCResource{ ZENFOR(0x005B5160, 0x005D28A0, 0x005D56B0, 0x005DC470), &zCResource_zCResource::operator() };
zCResource* zCResource_zCResource::operator()()
{
	zCResource* result = THISCALL(Ivk_zCResource_zCResource)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>