<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBspLeaf::TraceRayCollectVobs(zCArray<zCVob*>&, zTBBox3D const&, int): void [const]]]></Title>
			<Shortcut><![CDATA[__zCBspLeaf_TraceRayCollectVobs_0x00531720]]></Shortcut>
			<Description><![CDATA[public: void __fastcall zCBspLeaf::TraceRayCollectVobs(zCArray<zCVob*>&, zTBBox3D const&, int)const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBspLeaf_TraceRayCollectVobs : zCBspLeaf { void __fastcall operator()(zCArray<zCVob*>&, zTBBox3D const&, int) const; };
BindedHook Ivk_zCBspLeaf_TraceRayCollectVobs{ ZENFOR(0x0051EE30, 0x00534BF0, 0x0052E7B0, 0x00531720), &zCBspLeaf_TraceRayCollectVobs::operator() };
void __fastcall zCBspLeaf_TraceRayCollectVobs::operator()(zCArray<zCVob*>& a0, zTBBox3D const& a1, int a2) const
{
	THISCALL(Ivk_zCBspLeaf_TraceRayCollectVobs)(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>