<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFont::GetFontX(zSTRING const&): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCFont::GetFontX(zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFont_GetFontX : zCFont { int operator()(zSTRING const&); };
BindedHook Ivk_zCFont_GetFontX{ ZENFOR(0x006E0210, 0x00718820, 0x00729AB0, 0x007894F0), &zCFont_GetFontX::operator() };
int zCFont_GetFontX::operator()(zSTRING const& a0)
{
	int result = THISCALL(Ivk_zCFont_GetFontX)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>