<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCamera::RenderScreenFade(): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCCamera::RenderScreenFade()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCamera_RenderScreenFade : zCCamera { void operator()(); };
BindedHook Ivk_zCCamera_RenderScreenFade{ ZENFOR(0x005376F0, 0x0054E810, 0x00546A20, 0x0054BC40), &zCCamera_RenderScreenFade::operator() };
void zCCamera_RenderScreenFade::operator()()
{
	THISCALL(Ivk_zCCamera_RenderScreenFade)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>