<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRndAlphaSortObject_WorldPoly::Draw(int): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCRndAlphaSortObject_WorldPoly::Draw(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRndAlphaSortObject_WorldPoly_Draw : zCRndAlphaSortObject_WorldPoly { void operator()(int); };
BindedHook Ivk_zCRndAlphaSortObject_WorldPoly_Draw{ ZENFOR(0x005B13C0, 0x005CE5A0, 0x005D0580, 0x005D7140), &zCRndAlphaSortObject_WorldPoly_Draw::operator() };
void zCRndAlphaSortObject_WorldPoly_Draw::operator()(int a0)
{
	THISCALL(Ivk_zCRndAlphaSortObject_WorldPoly_Draw)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>