<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCDecal::GetAlphaTestingEnabled(): int [const]]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCDecal::GetAlphaTestingEnabled()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCDecal_GetAlphaTestingEnabled : zCDecal { int operator()() const; };
BindedHook Ivk_zCDecal_GetAlphaTestingEnabled{ ZENFOR(0x00000000, 0x00000000, 0x005519C0, 0x00556BE0), &zCDecal_GetAlphaTestingEnabled::operator() };
int zCDecal_GetAlphaTestingEnabled::operator()() const
{
	int result = THISCALL(Ivk_zCDecal_GetAlphaTestingEnabled)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>