<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSoundFX::GetVolume(): float [const]]]></Title>
			<Shortcut><![CDATA[__zCSoundFX_GetVolume_0x004EDFF0]]></Shortcut>
			<Description><![CDATA[public: virtual float __thiscall zCSoundFX::GetVolume()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSoundFX_GetVolume : zCSoundFX { float operator()() const; };
BindedHook Ivk_zCSoundFX_GetVolume{ ZENFOR(0x004E0A60, 0x004F2420, 0x004EB370, 0x004EDFF0), &zCSoundFX_GetVolume::operator() };
float zCSoundFX_GetVolume::operator()() const
{
	float result = THISCALL(Ivk_zCSoundFX_GetVolume)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>