<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSndFX_MSS::SetVolume(float): void]]></Title>
			<Description><![CDATA[public: virtual void __thiscall zCSndFX_MSS::SetVolume(float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSndFX_MSS_SetVolume : zCSndFX_MSS { void operator()(float); };
BindedHook Ivk_zCSndFX_MSS_SetVolume{ ZENFOR(0x004E7650, 0x004F97F0, 0x004F2C70, 0x004F58F0), &zCSndFX_MSS_SetVolume::operator() };
void zCSndFX_MSS_SetVolume::operator()(float a0)
{
	THISCALL(Ivk_zCSndFX_MSS_SetVolume)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>