<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMovementTracker::UpdateSampledPlayerPos(zVEC3 const&): void]]></Title>
			<Shortcut><![CDATA[__zCMovementTracker_UpdateSampledPlayerPos_0x004BB0F0]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCMovementTracker::UpdateSampledPlayerPos(zVEC3 const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMovementTracker_UpdateSampledPlayerPos : zCMovementTracker { void operator()(zVEC3 const&); };
BindedHook Ivk_zCMovementTracker_UpdateSampledPlayerPos{ ZENFOR(0x004B22D0, 0x004C0D20, 0x004B8B80, 0x004BB0F0), &zCMovementTracker_UpdateSampledPlayerPos::operator() };
void zCMovementTracker_UpdateSampledPlayerPos::operator()(zVEC3 const& a0)
{
	THISCALL(Ivk_zCMovementTracker_UpdateSampledPlayerPos)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>