<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::Render(zTRenderContext&): int]]></Title>
			<Shortcut><![CDATA[__zCVob_Render_0x006015D0]]></Shortcut>
			<Description><![CDATA[public: virtual int __fastcall zCVob::Render(zTRenderContext&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVob_Render : zCVob { int __fastcall operator()(zTRenderContext&); };
BindedHook Ivk_zCVob_Render{ ZENFOR(0x005D6090, 0x005F5510, 0x005FA7A0, 0x006015D0), &zCVob_Render::operator() };
int __fastcall zCVob_Render::operator()(zTRenderContext& a0)
{
	int result = THISCALL(Ivk_zCVob_Render)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>