<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRenderer::GetFog(): int [const]]]></Title>
			<Shortcut><![CDATA[__zCRenderer_GetFog_0x0064A010]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCRenderer::GetFog()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRenderer_GetFog : zCRenderer { int operator()() const; };
BindedHook Ivk_zCRenderer_GetFog{ ZENFOR(0x00713930, 0x0074F650, 0x0075EA70, 0x0064A010), &zCRenderer_GetFog::operator() };
int zCRenderer_GetFog::operator()() const
{
	int result = THISCALL(Ivk_zCRenderer_GetFog)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>