<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCResourceManager::QueueProcess_Resume(): void]]></Title>
			<Description><![CDATA[protected: void __thiscall zCResourceManager::QueueProcess_Resume()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCResourceManager_QueueProcess_Resume : zCResourceManager { void operator()(); };
BindedHook Ivk_zCResourceManager_QueueProcess_Resume{ ZENFOR(0x005B6600, 0x005D3E00, 0x005D6BE0, 0x005DD9A0), &zCResourceManager_QueueProcess_Resume::operator() };
void zCResourceManager_QueueProcess_Resume::operator()()
{
	THISCALL(Ivk_zCResourceManager_QueueProcess_Resume)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>