<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWorld::ShowTextureStats(): void]]></Title>
			<Shortcut><![CDATA[__zCWorld_ShowTextureStats_0x00621280]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCWorld::ShowTextureStats()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWorld_ShowTextureStats : zCWorld { void operator()(); };
BindedHook Ivk_zCWorld_ShowTextureStats{ ZENFOR(0x005F3AE0, 0x00614920, 0x00619B30, 0x00621280), &zCWorld_ShowTextureStats::operator() };
void zCWorld_ShowTextureStats::operator()()
{
	THISCALL(Ivk_zCWorld_ShowTextureStats)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>