<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCEventMusicControler::~zCEventMusicControler()]]></Title>
			<Shortcut><![CDATA[__zCEventMusicControler__zCEventMusicControler_0x00642B70]]></Shortcut>
			<Description><![CDATA[public: virtual __thiscall zCEventMusicControler::~zCEventMusicControler()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCEventMusicControler_Destructor : zCEventMusicControler { void operator()(); };
BindedHook Ivk_zCEventMusicControler_Destructor{ ZENFOR(0x0070D320, 0x00748460, 0x007575D0, 0x00642B70), &zCEventMusicControler_Destructor::operator() };
void zCEventMusicControler_Destructor::operator()()
{
	THISCALL(Ivk_zCEventMusicControler_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>