<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModelTexAniState::~zCModelTexAniState()]]></Title>
			<Shortcut><![CDATA[__zCModelTexAniState__zCModelTexAniState_0x00576D60]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCModelTexAniState::~zCModelTexAniState()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModelTexAniState_Destructor : zCModelTexAniState { void operator()(); };
BindedHook Ivk_zCModelTexAniState_Destructor{ ZENFOR(0x0055D5D0, 0x00575970, 0x00571AB0, 0x00576D60), &zCModelTexAniState_Destructor::operator() };
void zCModelTexAniState_Destructor::operator()()
{
	THISCALL(Ivk_zCModelTexAniState_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>