<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMusicJingle::zCMusicJingle()]]></Title>
			<Shortcut><![CDATA[__zCMusicJingle_zCMusicJingle_0x004E7E80]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCMusicJingle::zCMusicJingle()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMusicJingle_zCMusicJingle : zCMusicJingle { zCMusicJingle* operator()(); };
BindedHook Ivk_zCMusicJingle_zCMusicJingle{ ZENFOR(0x004DAC20, 0x004EBD90, 0x004E5370, 0x004E7E80), &zCMusicJingle_zCMusicJingle::operator() };
zCMusicJingle* zCMusicJingle_zCMusicJingle::operator()()
{
	zCMusicJingle* result = THISCALL(Ivk_zCMusicJingle_zCMusicJingle)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>