<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArchiverGeneric::WriteWord(char const*, unsigned short): void]]></Title>
			<Description><![CDATA[public: virtual void __fastcall zCArchiverGeneric::WriteWord(char const*, unsigned short)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArchiverGeneric_WriteWord : zCArchiverGeneric { void __fastcall operator()(char const*, unsigned short); };
BindedHook Ivk_zCArchiverGeneric_WriteWord{ ZENFOR(0x00512B70, 0x00527F60, 0x005203A0, 0x00523170), &zCArchiverGeneric_WriteWord::operator() };
void __fastcall zCArchiverGeneric_WriteWord::operator()(char const* a0, unsigned short a1)
{
	THISCALL(Ivk_zCArchiverGeneric_WriteWord)(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>