<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSBlockPosition::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCCSBlockPosition_VectorDeletingDestructor_0x0040A370]]></Shortcut>
			<Description><![CDATA[public: virtual void* __thiscall zCCSBlockPosition::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSBlockPosition_VectorDeletingDestructor : zCCSBlockPosition { void* operator()(unsigned int); };
BindedHook Ivk_zCCSBlockPosition_VectorDeletingDestructor{ ZENFOR(0x00409FC0, 0x0040B030, 0x0040A370, 0x0040A370), &zCCSBlockPosition_VectorDeletingDestructor::operator() };
void* zCCSBlockPosition_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCCSBlockPosition_VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>