<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTriggerTeleport::_GetClassDef(): zCClassDef* [const]]]></Title>
			<Shortcut><![CDATA[__zCTriggerTeleport__GetClassDef_0x0060D470]]></Shortcut>
			<Description><![CDATA[private: virtual zCClassDef* __thiscall zCTriggerTeleport::_GetClassDef()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTriggerTeleport__GetClassDef : zCTriggerTeleport { zCClassDef* operator()() const; };
BindedHook Ivk_zCTriggerTeleport__GetClassDef{ ZENFOR(0x005E03B0, 0x006001C0, 0x00605DB0, 0x0060D470), &zCTriggerTeleport__GetClassDef::operator() };
zCClassDef* zCTriggerTeleport__GetClassDef::operator()() const
{
	zCClassDef* result = THISCALL(Ivk_zCTriggerTeleport__GetClassDef)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>