<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTexture::CalcNextBestTexFormat(zTRnd_TextureFormat): zTRnd_TextureFormat]]></Title>
			<Shortcut><![CDATA[__zCTexture_CalcNextBestTexFormat_0x005F6240]]></Shortcut>
			<Description><![CDATA[public: static zTRnd_TextureFormat __cdecl zCTexture::CalcNextBestTexFormat(zTRnd_TextureFormat)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zTRnd_TextureFormat Hook_zCTexture_CalcNextBestTexFormat(zTRnd_TextureFormat);
BindedHook Ivk_zCTexture_CalcNextBestTexFormat{ ZENFOR(0x005CB270, 0x005E9C30, 0x005EF490, 0x005F6240), Hook_zCTexture_CalcNextBestTexFormat };
zTRnd_TextureFormat Hook_zCTexture_CalcNextBestTexFormat(zTRnd_TextureFormat a0)
{
	zTRnd_TextureFormat result = Ivk_zCTexture_CalcNextBestTexFormat(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>