<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSCamera::GetPolyNearestPoint(zCPolygon*, zVEC3 const&): zVEC3 [const]]]></Title>
			<Description><![CDATA[private: zVEC3 __thiscall zCCSCamera::GetPolyNearestPoint(zCPolygon*, zVEC3 const&) const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSCamera_GetPolyNearestPoint : zCCSCamera { zVEC3 operator()(zCPolygon*, zVEC3 const&) const; };
BindedHook Ivk_zCCSCamera_GetPolyNearestPoint{ ZENFOR(0x004BD190, 0x004CC740, 0x004C3F30, 0x004C64A0), &zCCSCamera_GetPolyNearestPoint::operator() };
zVEC3 zCCSCamera_GetPolyNearestPoint::operator()(zCPolygon* a0, zVEC3 const& a1) const
{
	zVEC3 result = THISCALL(Ivk_zCCSCamera_GetPolyNearestPoint)(a0, a1);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>