<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zSCtrlValue>::Insert(zSCtrlValue const&): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCArray<zSCtrlValue>::Insert(zSCtrlValue const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zSCtrlValue__Insert : zCArray<zSCtrlValue> { void operator()(zSCtrlValue const&); };
BindedHook Ivk_zCArray_zSCtrlValue__Insert{ ZENFOR(0x004C6D20, 0x004D67F0, 0x004CF480, 0x004D1AA0), &zCArray_zSCtrlValue__Insert::operator() };
void zCArray_zSCtrlValue__Insert::operator()(zSCtrlValue const& a0)
{
	THISCALL(Ivk_zCArray_zSCtrlValue__Insert)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>