<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNet::StreamDisconnect(zCNetHost*&): int]]></Title>
			<Shortcut><![CDATA[__zCNet_StreamDisconnect_0x00452BD0]]></Shortcut>
			<Description><![CDATA[public: int __thiscall zCNet::StreamDisconnect(zCNetHost*&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNet_StreamDisconnect : zCNet { int operator()(zCNetHost*&); };
BindedHook Ivk_zCNet_StreamDisconnect{ ZENFOR(0x0044E3B0, 0x00454AC0, 0x00452480, 0x00452BD0), &zCNet_StreamDisconnect::operator() };
int zCNet_StreamDisconnect::operator()(zCNetHost*& a0)
{
	int result = THISCALL(Ivk_zCNet_StreamDisconnect)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>