<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCWorld::MergeVobSubtree(zSTRING const&, zCVob*, zCWorld::zTWorldLoadMergeMode): zCVob*]]></Title>
			<Shortcut><![CDATA[__zCWorld_MergeVobSubtree_0x006273E0]]></Shortcut>
			<Description><![CDATA[public: virtual zCVob* __thiscall zCWorld::MergeVobSubtree(zSTRING const&, zCVob*, zCWorld::zTWorldLoadMergeMode)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCWorld_MergeVobSubtree : zCWorld { zCVob* operator()(zSTRING const&, zCVob*, zCWorld::zTWorldLoadMergeMode); };
BindedHook Ivk_zCWorld_MergeVobSubtree{ ZENFOR(0x005F8C40, 0x0061A130, 0x0061FC60, 0x006273E0), &zCWorld_MergeVobSubtree::operator() };
zCVob* zCWorld_MergeVobSubtree::operator()(zSTRING const& a0, zCVob* a1, zCWorld::zTWorldLoadMergeMode a2)
{
	zCVob* result = THISCALL(Ivk_zCWorld_MergeVobSubtree)(a0, a1, a2);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>