<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMesh::TraceRay(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&): int]]></Title>
			<Shortcut><![CDATA[__zCMesh_TraceRay_0x00569C60]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCMesh::TraceRay(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMesh_TraceRay : zCMesh { int operator()(zVEC3 const&, zVEC3 const&, int, zTTraceRayReport&); };
BindedHook Ivk_zCMesh_TraceRay{ ZENFOR(0x00552410, 0x0056AA60, 0x00564A10, 0x00569C60), &zCMesh_TraceRay::operator() };
int zCMesh_TraceRay::operator()(zVEC3 const& a0, zVEC3 const& a1, int a2, zTTraceRayReport& a3)
{
	int result = THISCALL(Ivk_zCMesh_TraceRay)(a0, a1, a2, a3);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>