<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTexture::SaveAndConvertInternal(zFILE&): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCTexture::SaveAndConvertInternal(zFILE&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTexture_SaveAndConvertInternal : zCTexture { int operator()(zFILE&); };
BindedHook Ivk_zCTexture_SaveAndConvertInternal{ ZENFOR(0x005CB890, 0x005EA2E0, 0x005EFA90, 0x005F6840), &zCTexture_SaveAndConvertInternal::operator() };
int zCTexture_SaveAndConvertInternal::operator()(zFILE& a0)
{
	int result = THISCALL(Ivk_zCTexture_SaveAndConvertInternal)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>