<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCProgMeshProto::zCSubMesh::zCSubMesh()]]></Title>
			<Description><![CDATA[public: __thiscall zCProgMeshProto::zCSubMesh::zCSubMesh()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCProgMeshProto__zCSubMesh_zCSubMesh : zCProgMeshProto::zCSubMesh { void operator()(); };
BindedHook Ivk_zCProgMeshProto__zCSubMesh_zCSubMesh{ ZENFOR(0x005A4BE0, 0x005C1380, 0x005C0EA0, 0x005C6A20), &zCProgMeshProto__zCSubMesh_zCSubMesh::operator() };
void zCProgMeshProto__zCSubMesh_zCSubMesh::operator()()
{
	THISCALL(Ivk_zCProgMeshProto__zCSubMesh_zCSubMesh)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>