<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArrayAdapt<unsigned short>::SetArray(void*, int): unsigned long]]></Title>
			<Description><![CDATA[public: unsigned long __thiscall zCArrayAdapt<unsigned short>::SetArray(void*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArrayAdapt_unsigned_short__SetArray : zCArrayAdapt<unsigned short> { unsigned long operator()(void*, int); };
BindedHook Ivk_zCArrayAdapt_unsigned_short__SetArray{ ZENFOR(0x005AB390, 0x005C7FF0, 0x005C9890, 0x005D0430), &zCArrayAdapt_unsigned_short__SetArray::operator() };
unsigned long zCArrayAdapt_unsigned_short__SetArray::operator()(void* a0, int a1)
{
	unsigned long result = THISCALL(Ivk_zCArrayAdapt_unsigned_short__SetArray)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>