<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSparseArray<zCObject*, zCArchiverGeneric::zTWriteObjectEntry>::DataPtr(unsigned long): void* [const]]]></Title>
			<Description><![CDATA[protected: virtual void* __thiscall zCSparseArray<zCObject*, zCArchiverGeneric::zTWriteObjectEntry>::DataPtr(unsigned long) const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSparseArray_zCObject___zCArchiverGeneric__zTWriteObjectEntry__DataPtr : zCSparseArray<zCObject*, zCArchiverGeneric::zTWriteObjectEntry> { void* operator()(unsigned long) const; };
BindedHook Ivk_zCSparseArray_zCObject___zCArchiverGeneric__zTWriteObjectEntry__DataPtr{ ZENFOR(0x00517B70, 0x0052D580, 0x00525BB0, 0x00528980), &zCSparseArray_zCObject___zCArchiverGeneric__zTWriteObjectEntry__DataPtr::operator() };
void* zCSparseArray_zCObject___zCArchiverGeneric__zTWriteObjectEntry__DataPtr::operator()(unsigned long a0) const
{
	void* result = THISCALL(Ivk_zCSparseArray_zCObject___zCArchiverGeneric__zTWriteObjectEntry__DataPtr)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>