<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zCSoundFX*>::AllocDelta(int): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCArray<zCSoundFX*>::AllocDelta(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zCSoundFX___AllocDelta : zCArray<zCSoundFX*> { void operator()(int); };
BindedHook Ivk_zCArray_zCSoundFX___AllocDelta{ ZENFOR(0x00582B40, 0x0059D680, 0x0059D010, 0x005A2570), &zCArray_zCSoundFX___AllocDelta::operator() };
void zCArray_zCSoundFX___AllocDelta::operator()(int a0)
{
	THISCALL(Ivk_zCArray_zCSoundFX___AllocDelta)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>