<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCamera::DrawPolySimple(zCCamera::zTCamVertSimple*, int, zCMaterial*, int): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCCamera::DrawPolySimple(zCCamera::zTCamVertSimple*, int, zCMaterial*, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCamera_DrawPolySimple : zCCamera { void operator()(zCCamera::zTCamVertSimple*, int, zCMaterial*, int); };
BindedHook Ivk_zCCamera_DrawPolySimple{ ZENFOR(0x005375A0, 0x0054E6C0, 0x00546890, 0x0054BAB0), &zCCamera_DrawPolySimple::operator() };
void zCCamera_DrawPolySimple::operator()(zCCamera::zTCamVertSimple* a0, int a1, zCMaterial* a2, int a3)
{
	THISCALL(Ivk_zCCamera_DrawPolySimple)(a0, a1, a2, a3);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>