<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZone::GetCamPosWeight(): float]]></Title>
			<Description><![CDATA[protected: float __thiscall zCZone::GetCamPosWeight()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCZone_GetCamPosWeight : zCZone { float operator()(); };
BindedHook Ivk_zCZone_GetCamPosWeight{ ZENFOR(0x0060BB90, 0x0062E0B0, 0x006349F0, 0x0063C1D0), &zCZone_GetCamPosWeight::operator() };
float zCZone_GetCamPosWeight::operator()()
{
	float result = THISCALL(Ivk_zCZone_GetCamPosWeight)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>