<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCNetVobControl::CreateNetMessage(unsigned short const&): zCNetMessage*]]></Title>
			<Description><![CDATA[public: virtual zCNetMessage* __thiscall zCNetVobControl::CreateNetMessage(unsigned short const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCNetVobControl_CreateNetMessage : zCNetVobControl { zCNetMessage* operator()(unsigned short const&); };
BindedHook Ivk_zCNetVobControl_CreateNetMessage{ ZENFOR(0x004595D0, 0x00460870, 0x0045E170, 0x0045E8C0), &zCNetVobControl_CreateNetMessage::operator() };
zCNetMessage* zCNetVobControl_CreateNetMessage::operator()(unsigned short const& a0)
{
	zCNetMessage* result = THISCALL(Ivk_zCNetVobControl_CreateNetMessage)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>