<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCConvexPrimitiveEllipsoid::Snap(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCConvexPrimitiveEllipsoid::Snap()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCConvexPrimitiveEllipsoid_Snap : zCConvexPrimitiveEllipsoid { void operator()(); };
BindedHook Ivk_zCConvexPrimitiveEllipsoid_Snap{ ZENFOR(0x005414C0, 0x00558E00, 0x005509F0, 0x00555C10), &zCConvexPrimitiveEllipsoid_Snap::operator() };
void zCConvexPrimitiveEllipsoid_Snap::operator()()
{
	THISCALL(Ivk_zCConvexPrimitiveEllipsoid_Snap)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>