<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCEventMessage::IsHighPriority(): int]]></Title>
			<Shortcut><![CDATA[__zCEventMessage_IsHighPriority_0x00401F60]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCEventMessage::IsHighPriority()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCEventMessage_IsHighPriority : zCEventMessage { int operator()(); };
BindedHook Ivk_zCEventMessage_IsHighPriority{ ZENFOR(0x00401E20, 0x00402230, 0x00401F60, 0x00401F60), &zCEventMessage_IsHighPriority::operator() };
int zCEventMessage_IsHighPriority::operator()()
{
	int result = THISCALL(Ivk_zCEventMessage_IsHighPriority)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>