<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFont::zCFont(zSTRING const&)]]></Title>
			<Description><![CDATA[public: __thiscall zCFont::zCFont(zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFont_zCFont : zCFont { zCFont* operator()(zSTRING const&); };
BindedHook Ivk_zCFont_zCFont{ ZENFOR(0x006DF500, 0x007179D0, 0x00728D40, 0x00788780), &zCFont_zCFont::operator() };
zCFont* zCFont_zCFont::operator()(zSTRING const& a0)
{
	zCFont* result = THISCALL(Ivk_zCFont_zCFont)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>