<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSBlockBase::Archive(zCArchiver&): void]]></Title>
			<Shortcut><![CDATA[__zCCSBlockBase_Archive_0x00416C00]]></Shortcut>
			<Description><![CDATA[protected: virtual void __thiscall zCCSBlockBase::Archive(zCArchiver&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSBlockBase_Archive : zCCSBlockBase { void operator()(zCArchiver&); };
BindedHook Ivk_zCCSBlockBase_Archive{ ZENFOR(0x00416680, 0x00418410, 0x00416C00, 0x00416C00), &zCCSBlockBase_Archive::operator() };
void zCCSBlockBase_Archive::operator()(zCArchiver& a0)
{
	THISCALL(Ivk_zCCSBlockBase_Archive)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>