<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMover::StartMovingSound(): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCMover::StartMovingSound()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMover_StartMovingSound : zCMover { void operator()(); };
BindedHook Ivk_zCMover_StartMovingSound{ ZENFOR(0x005E5630, 0x006057F0, 0x0060AEA0, 0x00612560), &zCMover_StartMovingSound::operator() };
void zCMover_StartMovingSound::operator()()
{
	THISCALL(Ivk_zCMover_StartMovingSound)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>