<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCBspTree::SaveBIN(zCFileBIN&): void]]></Title>
			<Shortcut><![CDATA[__zCBspTree_SaveBIN_0x00538010]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCBspTree::SaveBIN(zCFileBIN&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCBspTree_SaveBIN : zCBspTree { void operator()(zCFileBIN&); };
BindedHook Ivk_zCBspTree_SaveBIN{ ZENFOR(0x005244C0, 0x0053A7E0, 0x00534CB0, 0x00538010), &zCBspTree_SaveBIN::operator() };
void zCBspTree_SaveBIN::operator()(zCFileBIN& a0)
{
	THISCALL(Ivk_zCBspTree_SaveBIN)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>