<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArrayAdapt<unsigned short>::~zCArrayAdapt<unsigned short>()]]></Title>
			<Description><![CDATA[public: __thiscall zCArrayAdapt<unsigned short>::~zCArrayAdapt<unsigned short>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArrayAdapt_unsigned_short__Destructor : zCArrayAdapt<unsigned short> { void operator()(); };
BindedHook Ivk_zCArrayAdapt_unsigned_short__Destructor{ ZENFOR(0x005AB380, 0x005C7FE0, 0x005C9880, 0x005D0420), &zCArrayAdapt_unsigned_short__Destructor::operator() };
void zCArrayAdapt_unsigned_short__Destructor::operator()()
{
	THISCALL(Ivk_zCArrayAdapt_unsigned_short__Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>