<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMusicSys_DirectMusic::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[public: virtual void* __thiscall zCMusicSys_DirectMusic::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G2
struct zCMusicSys_DirectMusic_VectorDeletingDestructor : zCMusicSys_DirectMusic { void* operator()(unsigned int); };
BindedHook Ivk_zCMusicSys_DirectMusic_VectorDeletingDestructor{ ZENFOR(0x004DB770, 0x00000000, 0x004E5EC0, 0x00000000), &zCMusicSys_DirectMusic_VectorDeletingDestructor::operator() };
void* zCMusicSys_DirectMusic_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCMusicSys_DirectMusic_VectorDeletingDestructor)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>