<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRnd_D3D::CreateVertexBuffer(): zCVertexBuffer*]]></Title>
			<Description><![CDATA[public: virtual zCVertexBuffer* __thiscall zCRnd_D3D::CreateVertexBuffer()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRnd_D3D_CreateVertexBuffer : zCRnd_D3D { zCVertexBuffer* operator()(); };
BindedHook Ivk_zCRnd_D3D_CreateVertexBuffer{ ZENFOR(0x00719AB0, 0x00755CA0, 0x00765470, 0x00651DD0), &zCRnd_D3D_CreateVertexBuffer::operator() };
zCVertexBuffer* zCRnd_D3D_CreateVertexBuffer::operator()()
{
	zCVertexBuffer* result = THISCALL(Ivk_zCRnd_D3D_CreateVertexBuffer)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>