<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCConvexPrimitiveScaleTrans::~zCConvexPrimitiveScaleTrans()]]></Title>
			<Description><![CDATA[public: virtual __thiscall zCConvexPrimitiveScaleTrans::~zCConvexPrimitiveScaleTrans()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCConvexPrimitiveScaleTrans_Destructor : zCConvexPrimitiveScaleTrans { void operator()(); };
BindedHook Ivk_zCConvexPrimitiveScaleTrans_Destructor{ ZENFOR(0x00541090, 0x005589D0, 0x005505C0, 0x005557E0), &zCConvexPrimitiveScaleTrans_Destructor::operator() };
void zCConvexPrimitiveScaleTrans_Destructor::operator()()
{
	THISCALL(Ivk_zCConvexPrimitiveScaleTrans_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>