<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMgcEigenD::Report(ostream&): void]]></Title>
			<Description><![CDATA[public: static void __cdecl zCMgcEigenD::Report(ostream&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_zCMgcEigenD_Report(ostream&);
BindedHook Ivk_zCMgcEigenD_Report{ ZENFOR(0x00544260, 0x0055BC50, 0x005538E0, 0x00558B00), Hook_zCMgcEigenD_Report };
void Hook_zCMgcEigenD_Report(ostream& a0)
{
	Ivk_zCMgcEigenD_Report(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>