<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::MoveLocal(float, float, float): void]]></Title>
			<Shortcut><![CDATA[__zCVob_MoveLocal_0x0061B3C0]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCVob::MoveLocal(float, float, float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVob_MoveLocal : zCVob { void operator()(float, float, float); };
BindedHook Ivk_zCVob_MoveLocal{ ZENFOR(0x005EDEC0, 0x0060E680, 0x00613D00, 0x0061B3C0), &zCVob_MoveLocal::operator() };
void zCVob_MoveLocal::operator()(float a0, float a1, float a2)
{
	THISCALL(Ivk_zCVob_MoveLocal)(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>