<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMenuItemChoice::RemoveFromWin(): void]]></Title>
			<Shortcut><![CDATA[__zCMenuItemChoice_RemoveFromWin_0x004E4AA0]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall zCMenuItemChoice::RemoveFromWin()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMenuItemChoice_RemoveFromWin : zCMenuItemChoice { void operator()(); };
BindedHook Ivk_zCMenuItemChoice_RemoveFromWin{ ZENFOR(0x004D7870, 0x004E87A0, 0x004E20F0, 0x004E4AA0), &zCMenuItemChoice_RemoveFromWin::operator() };
void zCMenuItemChoice_RemoveFromWin::operator()()
{
	THISCALL(Ivk_zCMenuItemChoice_RemoveFromWin)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>