<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSLib::_GetClassDef(): zCClassDef* [const]]]></Title>
			<Shortcut><![CDATA[__zCCSLib__GetClassDef_0x00418B40]]></Shortcut>
			<Description><![CDATA[private: virtual zCClassDef* __thiscall zCCSLib::_GetClassDef()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSLib__GetClassDef : zCCSLib { zCClassDef* operator()() const; };
BindedHook Ivk_zCCSLib__GetClassDef{ ZENFOR(0x004186A0, 0x0041A510, 0x00418B40, 0x00418B40), &zCCSLib__GetClassDef::operator() };
zCClassDef* zCCSLib__GetClassDef::operator()() const
{
	zCClassDef* result = THISCALL(Ivk_zCCSLib__GetClassDef)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>