<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZoneZFog::zCZoneZFog()]]></Title>
			<Shortcut><![CDATA[__zCZoneZFog_zCZoneZFog_0x0063C5B0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCZoneZFog::zCZoneZFog()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCZoneZFog_zCZoneZFog : zCZoneZFog { zCZoneZFog* operator()(); };
BindedHook Ivk_zCZoneZFog_zCZoneZFog{ ZENFOR(0x0060BEF0, 0x0062E490, 0x00634DD0, 0x0063C5B0), &zCZoneZFog_zCZoneZFog::operator() };
zCZoneZFog* zCZoneZFog_zCZoneZFog::operator()()
{
	zCZoneZFog* result = THISCALL(Ivk_zCZoneZFog_zCZoneZFog)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>