<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArchiverGeneric::CheckObjectListSize(int): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCArchiverGeneric::CheckObjectListSize(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArchiverGeneric_CheckObjectListSize : zCArchiverGeneric { void operator()(int); };
BindedHook Ivk_zCArchiverGeneric_CheckObjectListSize{ ZENFOR(0x00514EA0, 0x0052A5E0, 0x00522C80, 0x00525A50), &zCArchiverGeneric_CheckObjectListSize::operator() };
void zCArchiverGeneric_CheckObjectListSize::operator()(int a0)
{
	THISCALL(Ivk_zCArchiverGeneric_CheckObjectListSize)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>