<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSparseArray<zCAIPlayer const*, zCCacheData<zCAIPlayer const*, zCAIPlayer::zTLedgeInfo>>::IndexIsEqual(void const*, void const*): int [const]]]></Title>
			<Description><![CDATA[protected: virtual int __thiscall zCSparseArray<zCAIPlayer const*, zCCacheData<zCAIPlayer const*, zCAIPlayer::zTLedgeInfo>>::IndexIsEqual(void const*, void const*) const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSparseArray_zCAIPlayer_const___zCCacheData_zCAIPlayer_const___zCAIPlayer__zTLedgeInfo___IndexIsEqual : zCSparseArray<zCAIPlayer const*, zCCacheData<zCAIPlayer const*, zCAIPlayer::zTLedgeInfo>> { int operator()(void const*, void const*) const; };
BindedHook Ivk_zCSparseArray_zCAIPlayer_const___zCCacheData_zCAIPlayer_const___zCAIPlayer__zTLedgeInfo___IndexIsEqual{ ZENFOR(0x00502D20, 0x00516810, 0x0050FAA0, 0x00512870), &zCSparseArray_zCAIPlayer_const___zCCacheData_zCAIPlayer_const___zCAIPlayer__zTLedgeInfo___IndexIsEqual::operator() };
int zCSparseArray_zCAIPlayer_const___zCCacheData_zCAIPlayer_const___zCAIPlayer__zTLedgeInfo___IndexIsEqual::operator()(void const* a0, void const* a1) const
{
	int result = THISCALL(Ivk_zCSparseArray_zCAIPlayer_const___zCCacheData_zCAIPlayer_const___zCAIPlayer__zTLedgeInfo___IndexIsEqual)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>