<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCollObjectBase::S_CalcGeneric_CollNormal_ContactPoint(zCVob const*, zCVob const*, zCCollisionReport&): void]]></Title>
			<Shortcut><![CDATA[__zCCollObjectBase_S_CalcGeneric_CollNormal_ContactPoint_0x0054EA50]]></Shortcut>
			<Description><![CDATA[public: static void __fastcall zCCollObjectBase::S_CalcGeneric_CollNormal_ContactPoint(zCVob const*, zCVob const*, zCCollisionReport&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void __fastcall Hook_zCCollObjectBase_S_CalcGeneric_CollNormal_ContactPoint(zCVob const*, zCVob const*, zCCollisionReport&);
BindedHook Ivk_zCCollObjectBase_S_CalcGeneric_CollNormal_ContactPoint{ ZENFOR(0x0053A550, 0x005517B0, 0x00549830, 0x0054EA50), Hook_zCCollObjectBase_S_CalcGeneric_CollNormal_ContactPoint };
void __fastcall Hook_zCCollObjectBase_S_CalcGeneric_CollNormal_ContactPoint(zCVob const* a0, zCVob const* a1, zCCollisionReport& a2)
{
	Ivk_zCCollObjectBase_S_CalcGeneric_CollNormal_ContactPoint(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>