<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMaterial::GetTexAniVector(zCPolygon*): zVEC3]]></Title>
			<Description><![CDATA[public: zVEC3 __thiscall zCMaterial::GetTexAniVector(zCPolygon*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMaterial_GetTexAniVector : zCMaterial { zVEC3 operator()(zCPolygon*); };
BindedHook Ivk_zCMaterial_GetTexAniVector{ ZENFOR(0x0054D6E0, 0x00565AC0, 0x0055F370, 0x00564590), &zCMaterial_GetTexAniVector::operator() };
zVEC3 zCMaterial_GetTexAniVector::operator()(zCPolygon* a0)
{
	zVEC3 result = THISCALL(Ivk_zCMaterial_GetTexAniVector)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>