<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMovementTracker::GetPanicCamMat(): zMAT4&]]></Title>
			<Shortcut><![CDATA[__zCMovementTracker_GetPanicCamMat_0x004BA290]]></Shortcut>
			<Description><![CDATA[public: zMAT4& __thiscall zCMovementTracker::GetPanicCamMat()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMovementTracker_GetPanicCamMat : zCMovementTracker { zMAT4& operator()(); };
BindedHook Ivk_zCMovementTracker_GetPanicCamMat{ ZENFOR(0x004B15B0, 0x004BFE20, 0x004B7D20, 0x004BA290), &zCMovementTracker_GetPanicCamMat::operator() };
zMAT4& zCMovementTracker_GetPanicCamMat::operator()()
{
	zMAT4& result = THISCALL(Ivk_zCMovementTracker_GetPanicCamMat)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>