<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSCamera_EventMsgActivate::zCCSCamera_EventMsgActivate(zCCSCamera_EventMsgActivate::zTCSCam_ActivateSubType)]]></Title>
			<Description><![CDATA[public: __thiscall zCCSCamera_EventMsgActivate::zCCSCamera_EventMsgActivate(zCCSCamera_EventMsgActivate::zTCSCam_ActivateSubType)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCCSCamera_EventMsgActivate_zCCSCamera_EventMsgActivate : zCCSCamera_EventMsgActivate { zCCSCamera_EventMsgActivate* operator()(zCCSCamera_EventMsgActivate::zTCSCam_ActivateSubType); };
BindedHook Ivk_zCCSCamera_EventMsgActivate_zCCSCamera_EventMsgActivate{ ZENFOR(0x00000000, 0x00000000, 0x004B1C30, 0x004B4160), &zCCSCamera_EventMsgActivate_zCCSCamera_EventMsgActivate::operator() };
zCCSCamera_EventMsgActivate* zCCSCamera_EventMsgActivate_zCCSCamera_EventMsgActivate::operator()(zCCSCamera_EventMsgActivate::zTCSCam_ActivateSubType a0)
{
	zCCSCamera_EventMsgActivate* result = THISCALL(Ivk_zCCSCamera_EventMsgActivate_zCCSCamera_EventMsgActivate)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>