<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArchiverFactory::ReadLineArg(zSTRING&, zSTRING&, zCBuffer*, zFILE*): void]]></Title>
			<Shortcut><![CDATA[__zCArchiverFactory_ReadLineArg_0x005198D0]]></Shortcut>
			<Description><![CDATA[private: void __thiscall zCArchiverFactory::ReadLineArg(zSTRING&, zSTRING&, zCBuffer*, zFILE*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArchiverFactory_ReadLineArg : zCArchiverFactory { void operator()(zSTRING&, zSTRING&, zCBuffer*, zFILE*); };
BindedHook Ivk_zCArchiverFactory_ReadLineArg{ ZENFOR(0x00509A40, 0x0051E580, 0x00516B00, 0x005198D0), &zCArchiverFactory_ReadLineArg::operator() };
void zCArchiverFactory_ReadLineArg::operator()(zSTRING& a0, zSTRING& a1, zCBuffer* a2, zFILE* a3)
{
	THISCALL(Ivk_zCArchiverFactory_ReadLineArg)(a0, a1, a2, a3);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>