<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMutex::Lock(unsigned long): int]]></Title>
			<Shortcut><![CDATA[__zCMutex_Lock_0x005F95E0]]></Shortcut>
			<Description><![CDATA[public: virtual int __thiscall zCMutex::Lock(unsigned long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMutex_Lock : zCMutex { int operator()(unsigned long); };
BindedHook Ivk_zCMutex_Lock{ ZENFOR(0x005CE490, 0x005ED220, 0x005F27F0, 0x005F95E0), &zCMutex_Lock::operator() };
int zCMutex_Lock::operator()(unsigned long a0)
{
	int result = THISCALL(Ivk_zCMutex_Lock)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>