<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSkyControler::GetGlobalSkyScale(): float [const]]]></Title>
			<Description><![CDATA[public: virtual float __thiscall zCSkyControler::GetGlobalSkyScale()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCSkyControler_GetGlobalSkyScale : zCSkyControler { float operator()() const; };
BindedHook Ivk_zCSkyControler_GetGlobalSkyScale{ ZENFOR(0x00000000, 0x00000000, 0x005D8710, 0x005DF4D0), &zCSkyControler_GetGlobalSkyScale::operator() };
float zCSkyControler_GetGlobalSkyScale::operator()() const
{
	float result = THISCALL(Ivk_zCSkyControler_GetGlobalSkyScale)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>