<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMenuItem::GetSelActionString(int): zSTRING&]]></Title>
			<Description><![CDATA[public: zSTRING& __thiscall zCMenuItem::GetSelActionString(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMenuItem_GetSelActionString : zCMenuItem { zSTRING& operator()(int); };
BindedHook Ivk_zCMenuItem_GetSelActionString{ ZENFOR(0x004D3770, 0x004E40D0, 0x004DDD00, 0x004E06B0), &zCMenuItem_GetSelActionString::operator() };
zSTRING& zCMenuItem_GetSelActionString::operator()(int a0)
{
	zSTRING& result = THISCALL(Ivk_zCMenuItem_GetSelActionString)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>