<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCProgMeshProto::LoadVisualVirtual(zSTRING const&): zCVisual* [const]]]></Title>
			<Description><![CDATA[protected: virtual zCVisual* __thiscall zCProgMeshProto::LoadVisualVirtual(zSTRING const&) const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCProgMeshProto_LoadVisualVirtual : zCProgMeshProto { zCVisual* operator()(zSTRING const&) const; };
BindedHook Ivk_zCProgMeshProto_LoadVisualVirtual{ ZENFOR(0x005A5220, 0x005C19B0, 0x005C15A0, 0x005C7120), &zCProgMeshProto_LoadVisualVirtual::operator() };
zCVisual* zCProgMeshProto_LoadVisualVirtual::operator()(zSTRING const& a0) const
{
	zCVisual* result = THISCALL(Ivk_zCProgMeshProto_LoadVisualVirtual)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>