<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::StopAni(zCModelAni*): void]]></Title>
			<Shortcut><![CDATA[__zCModel_StopAni_0x0057AC60]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCModel::StopAni(zCModelAni*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCModel_StopAni : zCModel { void operator()(zCModelAni*); };
BindedHook Ivk_zCModel_StopAni{ ZENFOR(0x00560E90, 0x00579320, 0x00575740, 0x0057AC60), &zCModel_StopAni::operator() };
void zCModel_StopAni::operator()(zCModelAni* a0)
{
	THISCALL(Ivk_zCModel_StopAni)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>