<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRnd_D3D::SupportsTextureFormat(zTRnd_TextureFormat): int]]></Title>
			<Description><![CDATA[public: virtual int __thiscall zCRnd_D3D::SupportsTextureFormat(zTRnd_TextureFormat)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRnd_D3D_SupportsTextureFormat : zCRnd_D3D { int operator()(zTRnd_TextureFormat); };
BindedHook Ivk_zCRnd_D3D_SupportsTextureFormat{ ZENFOR(0x0071AF80, 0x007572A0, 0x00766D80, 0x006536E0), &zCRnd_D3D_SupportsTextureFormat::operator() };
int zCRnd_D3D_SupportsTextureFormat::operator()(zTRnd_TextureFormat a0)
{
	int result = THISCALL(Ivk_zCRnd_D3D_SupportsTextureFormat)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>