<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVertexBuffer_D3D::GetVertexFormat(): unsigned long]]></Title>
			<Shortcut><![CDATA[__zCVertexBuffer_D3D_GetVertexFormat_0x006574B0]]></Shortcut>
			<Description><![CDATA[public: virtual unsigned long __thiscall zCVertexBuffer_D3D::GetVertexFormat()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVertexBuffer_D3D_GetVertexFormat : zCVertexBuffer_D3D { unsigned long operator()(); };
BindedHook Ivk_zCVertexBuffer_D3D_GetVertexFormat{ ZENFOR(0x0071EBC0, 0x0075B360, 0x0076A980, 0x006574B0), &zCVertexBuffer_D3D_GetVertexFormat::operator() };
unsigned long zCVertexBuffer_D3D_GetVertexFormat::operator()()
{
	unsigned long result = THISCALL(Ivk_zCVertexBuffer_D3D_GetVertexFormat)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>