<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFFT::GetWaveHeightSmooth(float, float, float): zComplex&]]></Title>
			<Shortcut><![CDATA[__zCFFT_GetWaveHeightSmooth_0x0055AA80]]></Shortcut>
			<Description><![CDATA[public: zComplex& __thiscall zCFFT::GetWaveHeightSmooth(float, float, float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zCFFT_GetWaveHeightSmooth : zCFFT { zComplex& operator()(float, float, float); };
BindedHook Ivk_zCFFT_GetWaveHeightSmooth{ ZENFOR(0x00000000, 0x00000000, 0x00555860, 0x0055AA80), &zCFFT_GetWaveHeightSmooth::operator() };
zComplex& zCFFT_GetWaveHeightSmooth::operator()(float a0, float a1, float a2)
{
	zComplex& result = THISCALL(Ivk_zCFFT_GetWaveHeightSmooth)(a0, a1, a2);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>