<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFileCSV::WriteSet(): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCFileCSV::WriteSet()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFileCSV_WriteSet : zCFileCSV { int operator()(); };
BindedHook Ivk_zCFileCSV_WriteSet{ ZENFOR(0x0044AC10, 0x00451080, 0x0044EC40, 0x0044F390), &zCFileCSV_WriteSet::operator() };
int zCFileCSV_WriteSet::operator()()
{
	int result = THISCALL(Ivk_zCFileCSV_WriteSet)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>