<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCModel::GetAttachedNodeVob(zCModelNodeInst*): zCVob*]]></Title>
			<Description><![CDATA[public: zCVob* __thiscall zCModel::GetAttachedNodeVob(zCModelNodeInst*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2A
struct zCModel_GetAttachedNodeVob : zCModel { zCVob* operator()(zCModelNodeInst*); };
BindedHook Ivk_zCModel_GetAttachedNodeVob{ ZENFOR(0x00000000, 0x00000000, 0x00000000, 0x00580870), &zCModel_GetAttachedNodeVob::operator() };
zCVob* zCModel_GetAttachedNodeVob::operator()(zCModelNodeInst* a0)
{
	zCVob* result = THISCALL(Ivk_zCModel_GetAttachedNodeVob)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>