<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCFileQuakeBSP::~zCFileQuakeBSP()]]></Title>
			<Description><![CDATA[public: __thiscall zCFileQuakeBSP::~zCFileQuakeBSP()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCFileQuakeBSP_Destructor : zCFileQuakeBSP { void operator()(); };
BindedHook Ivk_zCFileQuakeBSP_Destructor{ ZENFOR(0x00549F50, 0x00561F50, 0x0055B9D0, 0x00560BF0), &zCFileQuakeBSP_Destructor::operator() };
void zCFileQuakeBSP_Destructor::operator()()
{
	THISCALL(Ivk_zCFileQuakeBSP_Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>