<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCRndAlphaSortObject_WorldPoly::zCRndAlphaSortObject_WorldPoly()]]></Title>
			<Shortcut><![CDATA[__zCRndAlphaSortObject_WorldPoly_zCRndAlphaSortObject_WorldPoly_0x005D6F10]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCRndAlphaSortObject_WorldPoly::zCRndAlphaSortObject_WorldPoly()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCRndAlphaSortObject_WorldPoly_zCRndAlphaSortObject_WorldPoly : zCRndAlphaSortObject_WorldPoly { zCRndAlphaSortObject_WorldPoly* operator()(); };
BindedHook Ivk_zCRndAlphaSortObject_WorldPoly_zCRndAlphaSortObject_WorldPoly{ ZENFOR(0x005B1190, 0x005CE350, 0x005D0350, 0x005D6F10), &zCRndAlphaSortObject_WorldPoly_zCRndAlphaSortObject_WorldPoly::operator() };
zCRndAlphaSortObject_WorldPoly* zCRndAlphaSortObject_WorldPoly_zCRndAlphaSortObject_WorldPoly::operator()()
{
	zCRndAlphaSortObject_WorldPoly* result = THISCALL(Ivk_zCRndAlphaSortObject_WorldPoly_zCRndAlphaSortObject_WorldPoly)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>