<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVobSoundDaytime::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[protected: virtual void* __thiscall zCVobSoundDaytime::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A, G2A
struct zCVobSoundDaytime_VectorDeletingDestructor : zCVobSoundDaytime { void* operator()(unsigned int); };
BindedHook Ivk_zCVobSoundDaytime_VectorDeletingDestructor{ ZENFOR(0x0060DF70, 0x006306A0, 0x00000000, 0x0063EA90), &zCVobSoundDaytime_VectorDeletingDestructor::operator() };
void* zCVobSoundDaytime_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCVobSoundDaytime_VectorDeletingDestructor)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>