<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVob::GetIsProjectile(): int [const]]]></Title>
			<Description><![CDATA[public: int __thiscall zCVob::GetIsProjectile() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2A
struct zCVob_GetIsProjectile : zCVob { int operator()() const; };
BindedHook Ivk_zCVob_GetIsProjectile{ ZENFOR(0x00000000, 0x00000000, 0x00000000, 0x00606C00), &zCVob_GetIsProjectile::operator() };
int zCVob_GetIsProjectile::operator()() const
{
	int result = THISCALL(Ivk_zCVob_GetIsProjectile)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>