<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSPlayer::DebugAddCutscene(int, zVEC3, int): void]]></Title>
			<Description><![CDATA[protected: void __thiscall zCCSPlayer::DebugAddCutscene(int, zVEC3, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSPlayer_DebugAddCutscene : zCCSPlayer { void operator()(int, zVEC3, int); };
BindedHook Ivk_zCCSPlayer_DebugAddCutscene{ ZENFOR(0x00420140, 0x00422500, 0x00420560, 0x00420890), &zCCSPlayer_DebugAddCutscene::operator() };
void zCCSPlayer_DebugAddCutscene::operator()(int a0, zVEC3 a1, int a2)
{
	THISCALL(Ivk_zCCSPlayer_DebugAddCutscene)(a0, a1, a2);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>