<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMenuItemList::JumpToTopEntry(): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCMenuItemList::JumpToTopEntry()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCMenuItemList_JumpToTopEntry : zCMenuItemList { void operator()(); };
BindedHook Ivk_zCMenuItemList_JumpToTopEntry{ ZENFOR(0x004D9A90, 0x004EAC10, 0x004E42F0, 0x004E6CA0), &zCMenuItemList_JumpToTopEntry::operator() };
void zCMenuItemList_JumpToTopEntry::operator()()
{
	THISCALL(Ivk_zCMenuItemList_JumpToTopEntry)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>