<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTriggerWorldStart::Unarchive(zCArchiver&): void]]></Title>
			<Shortcut><![CDATA[__zCTriggerWorldStart_Unarchive_0x0061A590]]></Shortcut>
			<Description><![CDATA[protected: virtual void __thiscall zCTriggerWorldStart::Unarchive(zCArchiver&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTriggerWorldStart_Unarchive : zCTriggerWorldStart { void operator()(zCArchiver&); };
BindedHook Ivk_zCTriggerWorldStart_Unarchive{ ZENFOR(0x005ED150, 0x0060D810, 0x00612ED0, 0x0061A590), &zCTriggerWorldStart_Unarchive::operator() };
void zCTriggerWorldStart_Unarchive::operator()(zCArchiver& a0)
{
	THISCALL(Ivk_zCTriggerWorldStart_Unarchive)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>