<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCListSort<zCWaypoint>::~zCListSort<zCWaypoint>()]]></Title>
			<Shortcut><![CDATA[__zCListSort_zCWaypoint___zCListSort_zCWaypoint__0x007B3FE0]]></Shortcut>
			<Description><![CDATA[public: __thiscall zCListSort<zCWaypoint>::~zCListSort<zCWaypoint>()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCListSort_zCWaypoint__Destructor : zCListSort<zCWaypoint> { void operator()(); };
BindedHook Ivk_zCListSort_zCWaypoint__Destructor{ ZENFOR(0x0070A360, 0x007451F0, 0x007544E0, 0x007B3FE0), &zCListSort_zCWaypoint__Destructor::operator() };
void zCListSort_zCWaypoint__Destructor::operator()()
{
	THISCALL(Ivk_zCListSort_zCWaypoint__Destructor)();
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>