<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCollObjectCharacter::GetCollObjClass(): zCCollisionObjectDef* [const]]]></Title>
			<Description><![CDATA[public: virtual zCCollisionObjectDef* __thiscall zCCollObjectCharacter::GetCollObjClass()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCollObjectCharacter_GetCollObjClass : zCCollObjectCharacter { zCCollisionObjectDef* operator()() const; };
BindedHook Ivk_zCCollObjectCharacter_GetCollObjClass{ ZENFOR(0x0053B3E0, 0x00552780, 0x0054A6C0, 0x0054F8E0), &zCCollObjectCharacter_GetCollObjClass::operator() };
zCCollisionObjectDef* zCCollObjectCharacter_GetCollObjClass::operator()() const
{
	zCCollisionObjectDef* result = THISCALL(Ivk_zCCollObjectCharacter_GetCollObjClass)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>