<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCResource::LockStateChange(): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCResource::LockStateChange()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCResource_LockStateChange : zCResource { void operator()(); };
BindedHook Ivk_zCResource_LockStateChange{ ZENFOR(0x005B5590, 0x005D2CE0, 0x005D5AE0, 0x005DC8A0), &zCResource_LockStateChange::operator() };
void zCResource_LockStateChange::operator()()
{
	THISCALL(Ivk_zCResource_LockStateChange)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>