<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCSndSys_MSS::GetSFXParser(): zCParser*]]></Title>
			<Shortcut><![CDATA[__zCSndSys_MSS_GetSFXParser_0x004F4270]]></Shortcut>
			<Description><![CDATA[public: virtual zCParser* __thiscall zCSndSys_MSS::GetSFXParser()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCSndSys_MSS_GetSFXParser : zCSndSys_MSS { zCParser* operator()(); };
BindedHook Ivk_zCSndSys_MSS_GetSFXParser{ ZENFOR(0x004E6130, 0x004F8220, 0x004F15F0, 0x004F4270), &zCSndSys_MSS_GetSFXParser::operator() };
zCParser* zCSndSys_MSS_GetSFXParser::operator()()
{
	zCParser* result = THISCALL(Ivk_zCSndSys_MSS_GetSFXParser)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>