<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSCamera::EV_Stop(zCCSCamera_EventMsg*): int]]></Title>
			<Description><![CDATA[private: int __thiscall zCCSCamera::EV_Stop(zCCSCamera_EventMsg*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSCamera_EV_Stop : zCCSCamera { int operator()(zCCSCamera_EventMsg*); };
BindedHook Ivk_zCCSCamera_EV_Stop{ ZENFOR(0x004B7790, 0x004C6A20, 0x004BE4B0, 0x004C0A20), &zCCSCamera_EV_Stop::operator() };
int zCCSCamera_EV_Stop::operator()(zCCSCamera_EventMsg* a0)
{
	int result = THISCALL(Ivk_zCCSCamera_EV_Stop)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>