<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCMenuItem::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zCMenuItem_VectorDeletingDestructor_0x004E29A0]]></Shortcut>
			<Description><![CDATA[protected: virtual void* __thiscall zCMenuItem::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1A
struct zCMenuItem_VectorDeletingDestructor : zCMenuItem { void* operator()(unsigned int); };
BindedHook Ivk_zCMenuItem_VectorDeletingDestructor{ ZENFOR(0x00000000, 0x004E29A0, 0x00000000, 0x00000000), &zCMenuItem_VectorDeletingDestructor::operator() };
void* zCMenuItem_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCMenuItem_VectorDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>