<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCSManager::CreateNewCutscene(zSTRING&): zCCSCutsceneContext*]]></Title>
			<Description><![CDATA[public: zCCSCutsceneContext* __thiscall zCCSManager::CreateNewCutscene(zSTRING&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCSManager_CreateNewCutscene : zCCSManager { zCCSCutsceneContext* operator()(zSTRING&); };
BindedHook Ivk_zCCSManager_CreateNewCutscene{ ZENFOR(0x0041A4F0, 0x0041C4F0, 0x0041A980, 0x0041A980), &zCCSManager_CreateNewCutscene::operator() };
zCCSCutsceneContext* zCCSManager_CreateNewCutscene::operator()(zSTRING& a0)
{
	zCCSCutsceneContext* result = THISCALL(Ivk_zCCSManager_CreateNewCutscene)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>