<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArray<zCCSBlockPosition>::AllocDelta(int): void]]></Title>
			<Description><![CDATA[public: void __thiscall zCArray<zCCSBlockPosition>::AllocDelta(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArray_zCCSBlockPosition__AllocDelta : zCArray<zCCSBlockPosition> { void operator()(int); };
BindedHook Ivk_zCArray_zCCSBlockPosition__AllocDelta{ ZENFOR(0x00409EE0, 0x0040AF50, 0x0040A2A0, 0x0040A2A0), &zCArray_zCCSBlockPosition__AllocDelta::operator() };
void zCArray_zCCSBlockPosition__AllocDelta::operator()(int a0)
{
	THISCALL(Ivk_zCArray_zCCSBlockPosition__AllocDelta)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>