<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCArchiverBinSafe::GetStringEOL(): zSTRING [const]]]></Title>
			<Description><![CDATA[public: virtual zSTRING __thiscall zCArchiverBinSafe::GetStringEOL() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCArchiverBinSafe_GetStringEOL : zCArchiverBinSafe { zSTRING operator()() const; };
BindedHook Ivk_zCArchiverBinSafe_GetStringEOL{ ZENFOR(0x0050C0D0, 0x00520E30, 0x00519420, 0x0051C1F0), &zCArchiverBinSafe_GetStringEOL::operator() };
zSTRING zCArchiverBinSafe_GetStringEOL::operator()() const
{
	zSTRING result = THISCALL(Ivk_zCArchiverBinSafe_GetStringEOL)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>