<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCVertex::CreateVertexTransform(): zCVertexTransform*]]></Title>
			<Description><![CDATA[public: zCVertexTransform* __thiscall zCVertex::CreateVertexTransform()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCVertex_CreateVertexTransform : zCVertex { zCVertexTransform* operator()(); };
BindedHook Ivk_zCVertex_CreateVertexTransform{ ZENFOR(0x004FC1C0, 0x0050F290, 0x00508E50, 0x0050BC00), &zCVertex_CreateVertexTransform::operator() };
zCVertexTransform* zCVertex_CreateVertexTransform::operator()()
{
	zCVertexTransform* result = THISCALL(Ivk_zCVertex_CreateVertexTransform)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>