<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZoneVobFarPlane::_GetClassDef(): zCClassDef* [const]]]></Title>
			<Description><![CDATA[private: virtual zCClassDef* __thiscall zCZoneVobFarPlane::_GetClassDef()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCZoneVobFarPlane__GetClassDef : zCZoneVobFarPlane { zCClassDef* operator()() const; };
BindedHook Ivk_zCZoneVobFarPlane__GetClassDef{ ZENFOR(0x00609710, 0x0062BC00, 0x00632630, 0x00639E00), &zCZoneVobFarPlane__GetClassDef::operator() };
zCClassDef* zCZoneVobFarPlane__GetClassDef::operator()() const
{
	zCClassDef* result = THISCALL(Ivk_zCZoneVobFarPlane__GetClassDef)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>