<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCZoneReverbDefault::VectorDeletingDestructor(unsigned int): void*]]></Title>
			<Description><![CDATA[public: virtual void* __thiscall zCZoneReverbDefault::VectorDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCZoneReverbDefault_VectorDeletingDestructor : zCZoneReverbDefault { void* operator()(unsigned int); };
BindedHook Ivk_zCZoneReverbDefault_VectorDeletingDestructor{ ZENFOR(0x00609390, 0x0062B870, 0x006322C0, 0x00639A90), &zCZoneReverbDefault_VectorDeletingDestructor::operator() };
void* zCZoneReverbDefault_VectorDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zCZoneReverbDefault_VectorDeletingDestructor)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>