<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCEventManager::ShowList(int, int): void]]></Title>
			<Shortcut><![CDATA[__zCEventManager_ShowList_0x00787C50]]></Shortcut>
			<Description><![CDATA[public: virtual void __thiscall zCEventManager::ShowList(int, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCEventManager_ShowList : zCEventManager { void operator()(int, int); };
BindedHook Ivk_zCEventManager_ShowList{ ZENFOR(0x006DE9C0, 0x00716D70, 0x00728210, 0x00787C50), &zCEventManager_ShowList::operator() };
void zCEventManager_ShowList::operator()(int a0, int a1)
{
	THISCALL(Ivk_zCEventManager_ShowList)(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>