<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCParser::GetSymbolInfo(int): zCPar_Symbol*]]></Title>
			<Description><![CDATA[public: zCPar_Symbol* __thiscall zCParser::GetSymbolInfo(int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCParser_GetSymbolInfo : zCParser { zCPar_Symbol* operator()(int); };
BindedHook Ivk_zCParser_GetSymbolInfo{ ZENFOR(0x006EA500, 0x00723560, 0x00733E70, 0x007938B0), &zCParser_GetSymbolInfo::operator() };
zCPar_Symbol* zCParser_GetSymbolInfo::operator()(int a0)
{
	zCPar_Symbol* result = THISCALL(Ivk_zCParser_GetSymbolInfo)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>