<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCCodeMaster::FireTriggerFailure(zCVob*): void]]></Title>
			<Description><![CDATA[private: void __thiscall zCCodeMaster::FireTriggerFailure(zCVob*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCCodeMaster_FireTriggerFailure : zCCodeMaster { void operator()(zCVob*); };
BindedHook Ivk_zCCodeMaster_FireTriggerFailure{ ZENFOR(0x005EBEB0, 0x0060C4F0, 0x00611AB0, 0x00619170), &zCCodeMaster_FireTriggerFailure::operator() };
void zCCodeMaster_FireTriggerFailure::operator()(zCVob* a0)
{
	THISCALL(Ivk_zCCodeMaster_FireTriggerFailure)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>