<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCTextureConvert::ConvertToNewFormat(zTRnd_TextureFormat const&): void]]></Title>
			<Shortcut><![CDATA[__zCTextureConvert_ConvertToNewFormat_0x005F5270]]></Shortcut>
			<Description><![CDATA[public: void __thiscall zCTextureConvert::ConvertToNewFormat(zTRnd_TextureFormat const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCTextureConvert_ConvertToNewFormat : zCTextureConvert { void operator()(zTRnd_TextureFormat const&); };
BindedHook Ivk_zCTextureConvert_ConvertToNewFormat{ ZENFOR(0x005CA380, 0x005E8DB0, 0x005EE4C0, 0x005F5270), &zCTextureConvert_ConvertToNewFormat::operator() };
void zCTextureConvert_ConvertToNewFormat::operator()(zTRnd_TextureFormat const& a0)
{
	THISCALL(Ivk_zCTextureConvert_ConvertToNewFormat)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>