<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zCPolygon::ClassifyPlane(zTPlane const&): int]]></Title>
			<Description><![CDATA[public: int __thiscall zCPolygon::ClassifyPlane(zTPlane const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zCPolygon_ClassifyPlane : zCPolygon { int operator()(zTPlane const&); };
BindedHook Ivk_zCPolygon_ClassifyPlane{ ZENFOR(0x00596420, 0x005B23B0, 0x005B24D0, 0x005B8040), &zCPolygon_ClassifyPlane::operator() };
int zCPolygon_ClassifyPlane::operator()(zTPlane const& a0)
{
	int result = THISCALL(Ivk_zCPolygon_ClassifyPlane)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>