<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zDYNAMIC_CAST(zCObject const*): zCParticleFX*]]></Title>
			<Description><![CDATA[zCParticleFX* __cdecl zDYNAMIC_CAST(zCObject const*)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[zCParticleFX* Hook_zDYNAMIC_CAST(zCObject const*);
BindedHook Ivk_zDYNAMIC_CAST{ ZENFOR(0x00490240, 0x0049C0E0, 0x004983D0, 0x0049A540), Hook_zDYNAMIC_CAST };
zCParticleFX* Hook_zDYNAMIC_CAST(zCObject const* a0)
{
	zCParticleFX* result = Ivk_zDYNAMIC_CAST(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>