<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE_FILE::Read(void*, long): long]]></Title>
			<Shortcut><![CDATA[__zFILE_FILE_Read_0x004448A0]]></Shortcut>
			<Description><![CDATA[public: virtual long __thiscall zFILE_FILE::Read(void*, long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zFILE_FILE_Read : zFILE_FILE { long operator()(void*, long); };
BindedHook Ivk_zFILE_FILE_Read{ ZENFOR(0x00440980, 0x00445F90, 0x00444270, 0x004448A0), &zFILE_FILE_Read::operator() };
long zFILE_FILE_Read::operator()(void* a0, long a1)
{
	long result = THISCALL(Ivk_zFILE_FILE_Read)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>