<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE_VDFS::HandleError(zSTRING const&, zSTRING const&, zERROR_TYPE): int]]></Title>
			<Shortcut><![CDATA[__zFILE_VDFS_HandleError_0x00449110]]></Shortcut>
			<Description><![CDATA[protected: int __thiscall zFILE_VDFS::HandleError(zSTRING const&, zSTRING const&, zERROR_TYPE)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zFILE_VDFS_HandleError : zFILE_VDFS { int operator()(zSTRING const&, zSTRING const&, zERROR_TYPE); };
BindedHook Ivk_zFILE_VDFS_HandleError{ ZENFOR(0x00445080, 0x0044ACD0, 0x00448AB0, 0x00449110), &zFILE_VDFS_HandleError::operator() };
int zFILE_VDFS_HandleError::operator()(zSTRING const& a0, zSTRING const& a1, zERROR_TYPE a2)
{
	int result = THISCALL(Ivk_zFILE_VDFS_HandleError)(a0, a1, a2);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>