<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE_FILE::ScalarDeletingDestructor(unsigned int): void*]]></Title>
			<Shortcut><![CDATA[__zFILE_FILE_ScalarDeletingDestructor_0x00442E00]]></Shortcut>
			<Description><![CDATA[public: virtual void* __thiscall zFILE_FILE::ScalarDeletingDestructor(unsigned int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A, G2
struct zFILE_FILE_ScalarDeletingDestructor : zFILE_FILE { void* operator()(unsigned int); };
BindedHook Ivk_zFILE_FILE_ScalarDeletingDestructor{ ZENFOR(0x0043F520, 0x00444930, 0x00442E00, 0x00000000), &zFILE_FILE_ScalarDeletingDestructor::operator() };
void* zFILE_FILE_ScalarDeletingDestructor::operator()(unsigned int a0)
{
	void* result = THISCALL(Ivk_zFILE_FILE_ScalarDeletingDestructor)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>