<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE_VDFS::~zFILE_VDFS()]]></Title>
			<Description><![CDATA[public: virtual __thiscall zFILE_VDFS::~zFILE_VDFS()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zFILE_VDFS_Destructor : zFILE_VDFS { void operator()(); };
BindedHook Ivk_zFILE_VDFS_Destructor{ ZENFOR(0x00444E40, 0x0044AA80, 0x00448870, 0x00448ED0), &zFILE_VDFS_Destructor::operator() };
void zFILE_VDFS_Destructor::operator()()
{
	THISCALL(Ivk_zFILE_VDFS_Destructor)();
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>