<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE_FILE::GetFilename(): zSTRING]]></Title>
			<Description><![CDATA[public: virtual zSTRING __thiscall zFILE_FILE::GetFilename()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zFILE_FILE_GetFilename : zFILE_FILE { zSTRING operator()(); };
BindedHook Ivk_zFILE_FILE_GetFilename{ ZENFOR(0x0043F390, 0x00444780, 0x00442C70, 0x004432A0), &zFILE_FILE_GetFilename::operator() };
zSTRING zFILE_FILE_GetFilename::operator()()
{
	zSTRING result = THISCALL(Ivk_zFILE_FILE_GetFilename)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>