<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE::DirectFileAccess(bool, zSTRING&): void]]></Title>
			<Shortcut><![CDATA[__zFILE_DirectFileAccess_0x00442760]]></Shortcut>
			<Description><![CDATA[public: static void __cdecl zFILE::DirectFileAccess(bool, zSTRING&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[void Hook_zFILE_DirectFileAccess(bool, zSTRING&);
BindedHook Ivk_zFILE_DirectFileAccess{ ZENFOR(0x0043E850, 0x00443B70, 0x00442130, 0x00442760), Hook_zFILE_DirectFileAccess };
void Hook_zFILE_DirectFileAccess(bool a0, zSTRING& a1)
{
	Ivk_zFILE_DirectFileAccess(a0, a1);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>