<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE_VDFS::SetCurrentDir(): zSTRING]]></Title>
			<Shortcut><![CDATA[__zFILE_VDFS_SetCurrentDir_0x00449AD0]]></Shortcut>
			<Description><![CDATA[public: virtual zSTRING __thiscall zFILE_VDFS::SetCurrentDir()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zFILE_VDFS_SetCurrentDir : zFILE_VDFS { zSTRING operator()(); };
BindedHook Ivk_zFILE_VDFS_SetCurrentDir{ ZENFOR(0x004457A0, 0x0044B4B0, 0x00449470, 0x00449AD0), &zFILE_VDFS_SetCurrentDir::operator() };
zSTRING zFILE_VDFS_SetCurrentDir::operator()()
{
	zSTRING result = THISCALL(Ivk_zFILE_VDFS_SetCurrentDir)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>