<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zFILE_VDFS::Exists(zSTRING const&): bool]]></Title>
			<Description><![CDATA[public: virtual bool __thiscall zFILE_VDFS::Exists(zSTRING const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zFILE_VDFS_Exists : zFILE_VDFS { bool operator()(zSTRING const&); };
BindedHook Ivk_zFILE_VDFS_Exists{ ZENFOR(0x00444D10, 0x0044A950, 0x00448750, 0x00448DA0), &zFILE_VDFS_Exists::operator() };
bool zFILE_VDFS_Exists::operator()(zSTRING const& a0)
{
	bool result = THISCALL(Ivk_zFILE_VDFS_Exists)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>