<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zMAT4::PostRotateY(float): void]]></Title>
			<Description><![CDATA[public: void __thiscall zMAT4::PostRotateY(float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zMAT4_PostRotateY : zMAT4 { void operator()(float); };
BindedHook Ivk_zMAT4_PostRotateY{ ZENFOR(0x00507A90, 0x0051C270, 0x005149B0, 0x00517780), &zMAT4_PostRotateY::operator() };
void zMAT4_PostRotateY::operator()(float a0)
{
	THISCALL(Ivk_zMAT4_PostRotateY)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>