<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zMAT4::IsUpper3x3Orthonormal(): int [const]]]></Title>
			<Shortcut><![CDATA[__zMAT4_IsUpper3x3Orthonormal_0x00515A50]]></Shortcut>
			<Description><![CDATA[public: int __thiscall zMAT4::IsUpper3x3Orthonormal()const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zMAT4_IsUpper3x3Orthonormal : zMAT4 { int operator()() const; };
BindedHook Ivk_zMAT4_IsUpper3x3Orthonormal{ ZENFOR(0x00505E40, 0x00519D90, 0x00512C80, 0x00515A50), &zMAT4_IsUpper3x3Orthonormal::operator() };
int zMAT4_IsUpper3x3Orthonormal::operator()() const
{
	int result = THISCALL(Ivk_zMAT4_IsUpper3x3Orthonormal)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>