<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zPATH::GetFile(): zSTRING]]></Title>
			<Shortcut><![CDATA[__zPATH_GetFile_0x00589480]]></Shortcut>
			<Description><![CDATA[public: zSTRING __thiscall zPATH::GetFile()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zPATH_GetFile : zPATH { zSTRING operator()(); };
BindedHook Ivk_zPATH_GetFile{ ZENFOR(0x0056ECC0, 0x00588050, 0x00583F20, 0x00589480), &zPATH_GetFile::operator() };
zSTRING zPATH_GetFile::operator()()
{
	zSTRING result = THISCALL(Ivk_zPATH_GetFile)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>