<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zRandom_Gauss::GetInt(int, int): int]]></Title>
			<Shortcut><![CDATA[__zRandom_Gauss_GetInt_0x0055AFA0]]></Shortcut>
			<Description><![CDATA[public: int __thiscall zRandom_Gauss::GetInt(int, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zRandom_Gauss_GetInt : zRandom_Gauss { int operator()(int, int); };
BindedHook Ivk_zRandom_Gauss_GetInt{ ZENFOR(0x00000000, 0x00000000, 0x00555D80, 0x0055AFA0), &zRandom_Gauss_GetInt::operator() };
int zRandom_Gauss_GetInt::operator()(int a0, int a1)
{
	int result = THISCALL(Ivk_zRandom_Gauss_GetInt)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>