<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zRandom_Gauss::GetGaussAt(long): float]]></Title>
			<Description><![CDATA[public: float __thiscall zRandom_Gauss::GetGaussAt(long)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G2, G2A
struct zRandom_Gauss_GetGaussAt : zRandom_Gauss { float operator()(long); };
BindedHook Ivk_zRandom_Gauss_GetGaussAt{ ZENFOR(0x00000000, 0x00000000, 0x00556000, 0x0055B220), &zRandom_Gauss_GetGaussAt::operator() };
float zRandom_Gauss_GetGaussAt::operator()(long a0)
{
	float result = THISCALL(Ivk_zRandom_Gauss_GetGaussAt)(a0);
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>