<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zSTRING::Sprintf(char const*, ...): bool]]></Title>
			<Description><![CDATA[public: bool __cdecl zSTRING::Sprintf(char const*, ...)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zSTRING_Sprintf : zSTRING { bool __cdecl operator()(char const*, ...); };
BindedHook Ivk_zSTRING_Sprintf{ ZENFOR(0x00467A90, 0x0046F9F0, 0x0046C030, 0x0046CC60), &zSTRING_Sprintf::operator() };
bool __cdecl zSTRING_Sprintf::operator()(char const* a0, ... a1)
{
	bool result = THISCALL(Ivk_zSTRING_Sprintf)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>