<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zSTRING::zSTRING(double, int)]]></Title>
			<Shortcut><![CDATA[__zSTRING_zSTRING_0x00454680]]></Shortcut>
			<Description><![CDATA[public: __thiscall zSTRING::zSTRING(double, int)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zSTRING_zSTRING : zSTRING { zSTRING* operator()(double, int); };
BindedHook Ivk_zSTRING_zSTRING{ ZENFOR(0x00465C60, 0x0046D970, 0x00453F30, 0x00454680), &zSTRING_zSTRING::operator() };
zSTRING* zSTRING_zSTRING::operator()(double a0, int a1)
{
	zSTRING* result = THISCALL(Ivk_zSTRING_zSTRING)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>