<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zSTRING::ToFloat(): float [const]]]></Title>
			<Description><![CDATA[public: float __thiscall zSTRING::ToFloat() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zSTRING_ToFloat : zSTRING { float operator()() const; };
BindedHook Ivk_zSTRING_ToFloat{ ZENFOR(0x0057E310, 0x00598B40, 0x00491C90, 0x004936C0), &zSTRING_ToFloat::operator() };
float zSTRING_ToFloat::operator()() const
{
	float result = THISCALL(Ivk_zSTRING_ToFloat)();
	return result;
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>