<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zSTRING::TrimLeft(char): void]]></Title>
			<Description><![CDATA[public: void __thiscall zSTRING::TrimLeft(char)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zSTRING_TrimLeft : zSTRING { void operator()(char); };
BindedHook Ivk_zSTRING_TrimLeft{ ZENFOR(0x00467460, 0x0046F360, 0x0046BA00, 0x0046C630), &zSTRING_TrimLeft::operator() };
void zSTRING_TrimLeft::operator()(char a0)
{
	THISCALL(Ivk_zSTRING_TrimLeft)(a0);
}$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>