<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zSEvasionSearchDesc::operator=(zSEvasionSearchDesc const&): zSEvasionSearchDesc&]]></Title>
			<Shortcut><![CDATA[__zSEvasionSearchDesc_operator__0x004B1190]]></Shortcut>
			<Description><![CDATA[public: zSEvasionSearchDesc& __thiscall zSEvasionSearchDesc::operator=(zSEvasionSearchDesc const&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zSEvasionSearchDesc_operator_ : zSEvasionSearchDesc { zSEvasionSearchDesc& operator()(zSEvasionSearchDesc const&); };
BindedHook Ivk_zSEvasionSearchDesc_operator_{ ZENFOR(0x004A8EE0, 0x004B6E00, 0x004AEC60, 0x004B1190), &zSEvasionSearchDesc_operator_::operator() };
zSEvasionSearchDesc& zSEvasionSearchDesc_operator_::operator()(zSEvasionSearchDesc const& a0)
{
	zSEvasionSearchDesc& result = THISCALL(Ivk_zSEvasionSearchDesc_operator_)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>