<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zTBCylinder3D::IsIntersecting(zTBCylinder3D const&): int [const]]]></Title>
			<Description><![CDATA[public: int __thiscall zTBCylinder3D::IsIntersecting(zTBCylinder3D const&) const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zTBCylinder3D_IsIntersecting : zTBCylinder3D { int operator()(zTBCylinder3D const&) const; };
BindedHook Ivk_zTBCylinder3D_IsIntersecting{ ZENFOR(0x00530220, 0x00546A40, 0x0053ED60, 0x00543E10), &zTBCylinder3D_IsIntersecting::operator() };
int zTBCylinder3D_IsIntersecting::operator()(zTBCylinder3D const& a0) const
{
	int result = THISCALL(Ivk_zTBCylinder3D_IsIntersecting)(a0);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>