<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zTBBox3D::Scale(float): void]]></Title>
			<Description><![CDATA[public: void __thiscall zTBBox3D::Scale(float)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zTBBox3D_Scale : zTBBox3D { void operator()(float); };
BindedHook Ivk_zTBBox3D_Scale{ ZENFOR(0x00531BA0, 0x005485E0, 0x005409D0, 0x00545BF0), &zTBBox3D_Scale::operator() };
void zTBBox3D_Scale::operator()(float a0)
{
	THISCALL(Ivk_zTBBox3D_Scale)(a0);
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>