<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zTBBox3D::GetSphere3D(): zTBSphere3D [const]]]></Title>
			<Description><![CDATA[public: zTBSphere3D __thiscall zTBBox3D::GetSphere3D() const]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zTBBox3D_GetSphere3D : zTBBox3D { zTBSphere3D operator()() const; };
BindedHook Ivk_zTBBox3D_GetSphere3D{ ZENFOR(0x00531C70, 0x005486B0, 0x00540AA0, 0x00545CC0), &zTBBox3D_GetSphere3D::operator() };
zTBSphere3D zTBBox3D_GetSphere3D::operator()() const
{
	zTBSphere3D result = THISCALL(Ivk_zTBBox3D_GetSphere3D)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>