<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zTLODEdge::IsBorderVert(zCVertex*, zCArray<zCPolygon*>&): int]]></Title>
			<Description><![CDATA[public: int __thiscall zTLODEdge::IsBorderVert(zCVertex*, zCArray<zCPolygon*>&)]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[// WARNING!!! Supported versions: G1, G1A
struct zTLODEdge_IsBorderVert : zTLODEdge { int operator()(zCVertex*, zCArray<zCPolygon*>&); };
BindedHook Ivk_zTLODEdge_IsBorderVert{ ZENFOR(0x005294A0, 0x0053FB00, 0x00000000, 0x00000000), &zTLODEdge_IsBorderVert::operator() };
int zTLODEdge_IsBorderVert::operator()(zCVertex* a0, zCArray<zCPolygon*>& a1)
{
	int result = THISCALL(Ivk_zTLODEdge_IsBorderVert)(a0, a1);
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>