<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title><![CDATA[zVEC3::NormalizeApprox(): zVEC3&]]></Title>
			<Shortcut><![CDATA[__zVEC3_NormalizeApprox_0x0054E750]]></Shortcut>
			<Description><![CDATA[public: zVEC3& __thiscall zVEC3::NormalizeApprox()]]></Description>
			<Author>TopLayer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="cpp"><![CDATA[struct zVEC3_NormalizeApprox : zVEC3 { zVEC3& operator()(); };
BindedHook Ivk_zVEC3_NormalizeApprox{ ZENFOR(0x0049EF70, 0x004AC7F0, 0x00549530, 0x0054E750), &zVEC3_NormalizeApprox::operator() };
zVEC3& zVEC3_NormalizeApprox::operator()()
{
	zVEC3& result = THISCALL(Ivk_zVEC3_NormalizeApprox)();
	return result;
}
$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>